<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../../Layouts/Head.ejs') %>
  <style>
  </style>
</head>

<body class="<%= darkMode %>">
  <%- include('../../Layouts/SideBar.ejs') %>
  <div id="main">
    <%- include('../../Layouts/NavBar.ejs') %>
    <div class="main-content container-fluid">
      <h3 class="text-center">Lista de Reservas</h3>


      <table class="table table-sm table-hover table-stripped">
        <thead>
          <tr>
            <th>Imagen</th>
            <th>Producto</th>
          </tr>
        </thead>
        <tbody>
          <% if (user.sucursal == 1) { %>
          <% let keys = Object.keys(products);
            keys.forEach(key => {
                let prod = products[key] 

                if(prod.cant > 0){ %>
          <tr>
            <td>
              <img src="<%= prod.image %>" alt="Image" class="round" style="width: 150px; ">
            </td>
            <td>
              <%= prod.name %><br>
              Codigo: <%= prod.provider_code %> SKU #<%= prod.internal_code %><br>
              <a class="badge bg-primary mt-1" href="/inventory/product/view/<%= prod.id %>" target="_blank"> Ver Producto</a><br>
              <a class="badge bg-danger mt-1" href="/inventory/product/<%= prod.id %>/reserveList" target="_blank"> Reservar</a><br>
              <a class="badge bg-warning mt-1" href="/inventory/product/recount/12/<%= prod.id %>" target="_blank"> Ultima Ubicación</a><br>
              Cantidad Pendiente de Reservar: <span style="color:rgb(156, 23, 23); font-weight: bolder; font-size: larger;"><%= prod.cant %></span>

            </td>
          </tr>
          <% }}) %>
          <% } else { %>

          <% let keys = Object.keys(products);
              keys.forEach(key => {
                  let prod = products[key] 

                  if(prod.cant > 0){ %>
          <tr>
            <td>
              <img src="<%= prod.image %>" alt="Image" class="round" style="width: 150px; ">
            </td>
            <td>
              <%= prod.name %><br>
              Codigo: <%= prod.provider_code %> SKU #<%= prod.internal_code %><br>
              <a class="badge bg-primary mt-1" href="/inventory/product/view/<%= prod.id %>" target="_blank"> Ver Producto</a><br>
              <a class="badge bg-danger mt-1" href="/inventory/product/<%= prod.id %>/reserveList" target="_blank"> Reservar</a><br>
              Cantidad Pendiente de Reservar: <span style="color:rgb(156, 23, 23); font-weight: bolder; font-size: larger;"><%= prod.cant %></span>

            </td>
          </tr>
          <% }}) %>
          <% } %>

        </tbody>
      </table>
    </div>
    <%- include('../../Layouts/Footer.ejs') %>
  </div>
</body>

<%- include('../../Layouts/Scripts.ejs') %>
<script>
  document.addEventListener('DOMContentLoaded', event => {



  });
</script>

</html>