<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../Layouts/Head.ejs') %>
  <style>

  </style>
</head>
<% options = `<a class="ml-5" href="/inventory/product/recount">Atrás</a>`; %>

<body class="<%= darkMode %>">
  <%- include('../../Layouts/SideBar.ejs') %>
  <div id="main">
    <%- include('../../Layouts/NavBar.ejs') %>
    <div class="main-content container-fluid">
      <div class="row justify-content-center">
        <h3 class="text-center">
          Inventario Fisico Finalizado (<%= sucursal.name%>)
        </h3>

        <div class="col-lg-10">
          <table class="table table-bordered table-sm">
            <thead>
              <tr>
                <th>sku</th>
                <th>Nombre</th>
                <th>Costo</th>
                <th>Inventario Inicial</th>
                <th>Valor Inicial</th>
                <th>Diferencia</th>
                <th>Inventario Final</th>
                <th>Valor Final</th>
                <th>Justificación</th>
                <th>Revisado por</th>
              </tr>
            </thead>
            <tbody>
              <% 
              var sum_total = 0;
              var sum_inicial = 0;
              
              details.forEach(detail => { 
                if(detail.initial !== 0 && 0!== detail.final){
                  
                let inicial =  Helper.fix_number(detail.initial * detail.cost);
                let final = Helper.fix_number(detail.final * detail.cost);
                sum_total += final;
                sum_inicial += inicial;
                
                               
                %>
              <tr>
                <td><%= detail.sku %> <small><a target="_blank" href="/inventory/product/view/<%= detail.product %>"> id: <%= detail.product %> </a> </small></td>
                <td><%= detail.product_name %>  </td>
                <td class="text-center">$<%= Helper.money_format(detail.cost) %></td>
                <td class="text-center"><%= detail.initial %></td>
                <td>$<%= Helper.money_format(inicial) %></td>
                <td><%= detail.final - detail.initial %></td>
                <td class="text-center"><%= detail.final %></td>
                <td>$<%= Helper.money_format(final) %></td>
                <td><%= detail.observation %></td>
                <td class="text-center"><%= detail.revised_by %></td>
              </tr>

              <% }}) %>

              <tr>
                <td>--</td>
                <td>TOTALES</td>
                <td>--</td>
                <td>--</td>
                <td>$<%= Helper.money_format(sum_inicial) %></td>
                <td>--</td>
                <td>--</td>
                <td>$<%= Helper.money_format(sum_total) %></td>
                <td>--</td>
                <td>--</td>
                
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


    <%- include('../../Layouts/Footer.ejs') %>
  </div>
</body>
<%- include('../../Layouts/Scripts.ejs') %>
<script>

</script>

</html>