<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../../Layouts/Head.ejs') %>

</head>

<body class="<%= darkMode %>">
  <%- include('../../Layouts/SideBar.ejs') %>
  <div id="main">
    <%- include('../../Layouts/NavBar.ejs') %>
    <div class="main-content container">
      <div class="row">
        <div class="col-12 col-md-10">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-12 col-md-4 form-group">
                  <label for="init_date">Desde la Fecha</label>
                  <input type="date" class="form-control" id="init_date" value="<%= Helper.date_to_input(init) %>">
                </div>
                <div class="col-12 col-md-4 form-group">
                  <label for="end_date">Hasta la Fecha</label>
                  <input type="date" class="form-control" id="end_date" value="<%= Helper.date_to_input(end) %>">
                </div>
                <div class="col-12 col-md-4">
                  <button class="badge bg-primary mt-3" id="search_details">Buscar Envios</button>
                  <span class="badge bg-warning mt-3 ml-3" onclick="last_item()">Ir Abajo</span>

                </div>
              </div>
            </div>
            <div class="card-body">
              <table class="table table-striped table-hover table-sm">
                <thead>
                  <tr>
                    <td>Bodega/Sala <i class="fas fa-arrow-alt-right text-primary" style="font-size: 125%;"></i> Cliente / Destino</td>
                    <td>Fecha</td>
                    <td>Documento N°</td>
                    <!-- <td>Tipo</td> -->
                    <td></td>
                  </tr>
                </thead>
                <tbody id="details_body">
                  <% shipments.forEach(el => { %>
                  <tr>
                    <td><a href="/inventory/shipment/<%= el.id %>"><%= sucursals[el.originSucursal] %>
                      <i class="fas fa-arrow-alt-right text-warning ml-2 mr-2" style="font-size: 125%;"></i>
                      <%= sucursals[el.destinoSucursal] %></a>
                    </td>
                    <td><%= Helper.format_date(el.createdAt) %></td>
                    <td>TR-<%= el.originSucursal %>-<%= el.destinoSucursal %>-<%= el.id %></td>
                    <!-- <td>Transferencia entre sucursales</td> -->
                    <td><a href="/inventory/shipment/<%= el.id %>" class="badge bg-danger">Ver</a></td>
                  </tr>
                  <% }) %>

                  <% shipments_not_in.forEach(el => { %>
                    <tr>
                      <td><a href="/inventory/shipment/<%= el.id %>"><%= sucursals[el.originSucursal] %>
                        <i class="fas fa-arrow-alt-right text-success ml-2 mr-2" style="font-size: 125%;"></i>
                        <%= sucursals[el.destinoSucursal] %>
                        </a>
                      </td>
                      <td><%= Helper.format_date(el.createdAt) %></td>
                      <td>TR-<%= el.originSucursal %>-<%= el.destinoSucursal %>-<%= el.id %></td>
                      <!-- <td>Transferencia entre sucursales</td> -->
                      <td><a href="/inventory/shipment/<%= el.id %>" class="badge bg-danger">Ver</a></td>
                    </tr>
                    <% }) %>
                </tbody>
              </table>
            </div>
            <div class="card-footer text-center">
              <span class="badge bg-warning" onclick="first_item()">Ir Arriba</span>
            </div>

          </div>

        </div>
      </div>


    </div>

    <%- include('../../Layouts/Footer.ejs') %>
  </div>
</body>

<%- include('../../Layouts/Scripts.ejs') %>
<script>
  const last_item = () => {
    window.scrollTo({
      top: document.querySelector("#details_body").lastElementChild.offsetTop,
      behavior: 'smooth'
    });
  }
  

  const first_item = () => {
    window.scrollTo({
      top: document.querySelector("#details_body").firstElementChild.offsetTop,
      behavior: 'smooth'
    });
  }


  const charge_details = async () => {
    let init = document.querySelector('#init_date').value + 'T00:00:00';
    let end = document.querySelector('#end_date').value + 'T23:59:59';

    if (init.length < 10 || end.length < 10 || end < init) {
      return errorMessage('Seleccione un rango de fechas correcto')
    }
    window.location.href = `/inventory/shipment?init=${encodeURI(init)}&end=${encodeURI(end)}`;
  };

  document.addEventListener('DOMContentLoaded', event => {

    document.querySelector('#search_details').addEventListener('click', async (e) => {
      charge_details();
    });


  });
</script>

</html>