<!DOCTYPE html>
<html lang="en">

<head>
   <%- include('../../Layouts/Head.ejs') %>
   <%# custom styles %>
   <link rel="stylesheet" href="assets/libs/grid/mermaid.css">
</head>
<% options = `<a class="ml-5" href="/inventory" style="width: 150px;"><i class="fas fa-arrow-alt-circle-left mr-3"></i>Atrás</a>`; %>

<body class="<%= darkMode %>">
   <%- include('../../Layouts/SideBar.ejs') %>
   <div id="main">
      <%- include('../../Layouts/NavBar.ejs') %>

      <div class="main-content container-fluid">
         <div class="row">
            <div class="col">
               <div class="form-group">
                  <label for="selected_date">hasta la Fecha:</label>
                  <input type="date" class="form-control" id="selected_date" value="<%= Helper.date_to_input(new Date())%>" min="2023-12-05">
               </div>
            </div>
            <div class="col">
               <div class="form-group">
                  <label for="selected_sucursal">Sucursal Seleccionada</label>
                  <select name="selected_sucursal" id="selected_sucursal" class="form-control">
                     <option value="0">Seleccione una sucursal</option>
                     <% sucursals.forEach(sucursal => { %>
                     <option value="<%= sucursal.id %>"><%= sucursal.name %></option>
                     <% }) %>
                  </select>
               </div>

            </div>
            <div class="col">
               <div class="form-group">
                  <label for="zeros">Mostrar Valores a Zero?</label>
                  <select name="zeros" id="zeros" class="form-control">
                     <option value="SI">SI</option>
                     <option value="NO">NO</option>
                  </select>
               </div>
            </div>
            <div class="col">
               <button class="btn btn-success mt-4" onclick="calcular()">Calcular</button>
            </div>
         </div>
         <h2 class="page-title text-center mt-5" id="title"></h2>
         <div id="attaced_content" class="mt-5"></div>

        



      </div>


      <%- include('../../Layouts/Footer.ejs') %>
   </div>
</body>
<%- include('../../Layouts/Scripts.ejs') %>

<script>
   const s_options = {
      mode: 'cors',
      cache: 'no-cache',
      credentials: 'same-origin',
      headers: {
         'Content-Type': 'application/json'
      },
      redirect: 'follow',
      referrerPolicy: 'no-referrer',
   };

   const calcular = async () => {

      //mostrar la cuestion de calculando datos
      let date = document.querySelector('#selected_date').value;
      let sucursal = Number.parseInt(document.querySelector('#selected_sucursal').value);

      if (date.length < 10) {
         return errorMessage('Seleccione una fecha');
      } else if (sucursal < 1) {

         return errorMessage('Seleccione una Sucursal');
      } else {

         document.querySelector("#attaced_content").innerHTML = 
         ` <div class="text-center">
            <div class="spinner-border text-success" role="status" style="width: 150px; height: 150px;">
               <span class="visually-hidden"></span>
             </div>
             <p style="font-weight: bolder; font-size: 150%;">Cargando...</p>
         </div>`;
         const response = await fetch(`/inventory/product/stock_report/get_details?selected_date=${encodeURIComponent(date)}&sucursal=${sucursal}&zeros=${document.querySelector('#zeros').value}`, s_options);
         //Procesar la respuest para que me guarde los productos en cuestion en una variable
         let res = await response.json();

         console.log(res)

         document.querySelector("#title").innerHTML = `${res.name} hasta el ${format_date(date, false)} tenia un inventario de ($${money_format(res.valor)})`;

         //procesar la informacion: 

         let content =  `<div class="card">
            <div class="card-header">
               <h3 class="text-center">Detalle por Categoria</h3>
            </div>`;

         let keys = Object.keys(res.groups);
         len = keys.length;
         for (let a = 0; a < len; a++) {
            let group = res.groups[keys[a]];


            content += `<div class="card-body table-responsive">
               <h4 class="text-center mt-3">${keys[a]} $${money_format(group.total)}</h4>
               <table class="table-bordered table tebale-sm">
                  <thead>
                     <tr>
                        <th>id</th>
                        <th>Nombre</th>
                        <th>Codigo</th>
                        <th>Stock</th>
                        <th>Costo</th>
                        <th>Valor Total</th>
                        <th>Ultimo movimiento</th>
                     </tr>
                  </thead>
                  <tbody>`;
            group.details.forEach(product => {
               content += `<tr>
                        <td>${product.id}</td>
                        <td>${product.name}</td>
                        <td>${product.sku}</td>
                        <td>${product.cant}</td>
                        <td>$${money_format(product.cost)}</td>
                        <td>$${money_format(product.subtotal)}</td>
                        <td>${format_date(product.fecha)}</td>
                     </tr>`;
            })
            content += `</tbody></table></div>`;
         }
         content += `</div>`;

         document.querySelector("#attaced_content").innerHTML = content;

      }

   }


   document.addEventListener('DOMContentLoaded', event => {});
</script>

</html>