<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../Layouts/Head.ejs') %>

</head>


<body class="<%= darkMode %>">
  <%- include('../../Layouts/SideBar.ejs') %>
  <div id="main">
    <%- include('../../Layouts/NavBar.ejs') %>
    <section class="container my-4">
      <div class="card shadow-sm mb-4 rounded-3">
        <div class="card-header bg-primary text-white rounded-top-3">
          <h4 class="mb-0">Información del DTE</h4>
        </div>
        <div class="card-body">
          <!-- Identificación del Documento -->
          <h5 class="card-title text-primary mb-3 mt-3 text-center">Identificación</h5>
          <div class="row mb-3">
            <div class="col-md-6">
              <p><strong>Versión:</strong> <%= dte.dte.identificacion.version %></p>
              <p><strong>Ambiente:</strong> <%= dte.dte.identificacion.ambiente %></p>
              <p><strong>Tipo DTE:</strong> <%= dte_types[dte.dte.identificacion.tipoDte] %></p>
              <p><strong>Número de Control:</strong> <%= dte.dte.identificacion.numeroControl %></p>
            </div>
            <div class="col-md-6">
              <p><strong>Código de Generación:</strong> <%= dte.dte.identificacion.codigoGeneracion %></p>
              <p><strong>Fecha de Emisión:</strong> <%= dte.dte.identificacion.fecEmi %></p>
              <p><strong>Hora de Emisión:</strong> <%= dte.dte.identificacion.horEmi %></p>
              <p><strong>Tipo de Moneda:</strong> <%=dte.dte.identificacion.tipoMoneda %></p>
            </div>
          </div>

          <% if (dte.invalidacion  != null) { %>
          <div class="text-center">

            <hr class="my-4">
            <h3 class="text-danger">Este documento ha sido Invalidado</h3>

            <a target="_blank" href="/pos/viewDTE/<%=dte.invalidacion %>">Click aqui para ver la invalidación</a>

          </div>
          <% } %>

          <% if (dte.nc  != null) { %>
          <div class="text-center">

            <hr class="my-4">
            <h3 class="text-danger">Este documento ha sido Ajustado con una Nota de Credito</h3>

            <a target="_blank" href="/pos/viewDTE/<%=dte.nc %>">Click aqui para ver la Nota de Credito</a>

          </div>
          <% } %>

          <hr class="my-4">

          <!-- Información del Receptor -->
          <h5 class="card-title text-primary mb-3 text-center">Receptor</h5>
          <div class="row mb-3">
            <div class="col">

              <% if (dte.dte.identificacion.tipoDte == "03") { %>
              <p><strong>Nombre:</strong> <%= dte.dte.receptor.nombre %> <%= dte.dte.receptor.nombreComercial !== null ? `(${dte.dte.receptor.nombreComercial})` : '' %> </p>
              <p><strong>Correo:</strong> <%= dte.dte.receptor.correo || 'Ninguno' %></p>
              <p><strong>Teléfono:</strong> <%= dte.dte.receptor.telefono || 'Ninguno' %></p>
              <p>
                <strong>NIT: </strong> <%= dte.dte.receptor.nit %> / <strong>NRC: </strong> <%= dte.dte.receptor.nrc %>
              </p>

              <% } else if (dte.dte.identificacion.tipoDte == "01") { %>

              <p><strong>Nombre:</strong> <%= dte.dte.receptor.nombre %></p>
              <p><strong>Correo:</strong> <%= dte.dte.receptor.correo || 'Ninguno' %></p>
              <p><strong>Teléfono:</strong> <%= dte.dte.receptor.telefono || 'Ninguno' %></p>
              <p><strong>Documento:</strong> <%= dte.dte.receptor.tipoDocumento !== null ? (`${tipos_documento[dte.dte.receptor.tipoDocumento]} (${dte.dte.receptor.numDocumento})`) : ""%></p>
              <% } %>
            </div>
          </div>

          <hr class="my-4">

          <!-- Cuerpo del Documento -->
          <h5 class="card-title text-primary mb-3">Detalle del Documento</h5>
          <div class="table-responsive mb-3">
            <table class="table table-bordered table-striped rounded-3">
              <thead class="">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Código</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Precio Unitario</th>
                  <th scope="col">Venta Gravada</th>
                  <th scope="col">IVA Ítem</th>
                </tr>
              </thead>
              <tbody>
                <% dte.dte.cuerpoDocumento.forEach((item, index) => { %>
                <tr>
                  <th scope="row"><%= item.numItem %></th>
                  <td><%= item.codigo %></td>
                  <td><%= item.descripcion %></td>
                  <td><%= item.cantidad %></td>
                  <td><%= item.precioUni %></td>
                  <td><%= item.ventaGravada %></td>
                  <td><%= item.ivaItem %></td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>

          <hr class="my-4">

          <!-- Resumen del Documento -->
          <h5 class="card-title text-primary mb-3">Resumen</h5>
          <div class="row">
            <div class="col-md-6">
              <p><strong>Total Gravada:</strong> $<%= dte.dte.resumen.totalGravada %></p>
              <p><strong>Subtotal de Ventas:</strong> $<%= dte.dte.resumen.subTotalVentas %></p>
              <p><strong>Total Descuento:</strong> $<%= dte.dte.resumen.totalDescu %></p>
              <p><strong>Subtotal:</strong> $<%= dte.dte.resumen.subTotal %></p>
            </div>
            <div class="col-md-6">
              <p><strong>Monto Total Operación:</strong> $<%= dte.dte.resumen.montoTotalOperacion %></p>
              <p><strong>Total a Pagar:</strong> $<%= dte.dte.resumen.totalPagar %></p>
              <p><strong>Total en Letras:</strong> <%= dte.dte.resumen.totalLetras %></p>

            </div>
          </div>
        </div>
      </div>

      <!-- Botones en la parte inferior -->
      <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-4">
        <a target="_blank" href="<%= helper_url %>/utils/services/dte/inline?uuid=<%= dte.dte.identificacion.codigoGeneracion %>&fecha=<%= dte.dte.identificacion.fecEmi %>" class="btn btn-outline-success btn-lg rounded-pill ml-2 mr-2 shadow-sm">PDF</a>
        <a target="_blank" href="/pos/getJson/<%= dte.id %>" class=" ml-2 mr-2 btn btn-outline-danger btn-lg rounded-pill shadow-sm">JSON </a>
        <% if (dte.dte.identificacion.tipoDte == "01") { %>
        <button class="btn btn-outline-primary btn-lg rounded-pill shadow-sm ml-2 mr-2" onclick="print_ticket();">Reimprimir Ticket</button>
        <% } %>
      </div>
    </section>

    <%- include('../../Layouts/Footer.ejs') %>
  </div>

</body>

<%- include('../../Layouts/Scripts.ejs') %>
<% if (dte.dte.identificacion.tipoDte == "01") { %>
<script src="assets/js/web-escpos-printer-localserver.js?v=20251107"></script>
<script>
  const printer = new WebPOSPrinterLocalServer('https://localhost:4567/print');
  var data = `<%- JSON.stringify(dte.dte) %>`;
  data = JSON.parse(data);
  var isConnected = false;
  var error_printing = null;
  const helper_url = '<%= helper_url %>';

  const print_ticket = async ( ) => {
    if (!isConnected) {
      isConnected = await printer.connect();
    }

    if (isConnected && error_printing == null) {
      commands = null;
      const esc = new ESCPOSBuilder();

      esc.initialize().setFont('A')
        .align('center').bold(true).doubleHeightWidth(true)
        .text(data.emisor.nombreComercial)
        .doubleHeightWidth(false).newLine()
        .text(data.emisor.nombre)
        .bold(false).newLine()
        .text('NRC: ' + data.emisor.nrc + ' NIT: ' + data.emisor.nit)
        .newLine()
        .text('=========================================')
        .newLine()
        .text('REIMPRESION DE TICKET')
        .newLineN(2)
        .text('=========================================')
        .newLine().text('Datos del Cliente');
      if (data.receptor.nombre != "" && data.receptor.nombre != null) {
        esc.newLine().text(data.receptor.nombre);
        
      } else {
        esc.newLine().text('CONSUMIDOR FINAL');
      }
      esc.newLine().text('=========================================').setFont('B')
        .newLine().text(`Tipo DTE: Factura}`)
        .newLine().text(`Modelo de Facturacion: ${data.identificacion.tipoModelo == 1 ? 'Previo' : 'Diferido'}`)
        .newLine().text(`Tipo de Transmision: ${data.identificacion.tipoOperacion == 1 ? 'Normal' : 'Contingencia'}`)
        .newLine().text('Fecha de Emision: ' + format_date(data.identificacion.fecEmi + " " + data.identificacion.horEmi, true))
        .newLine().text('Codigo de Generacion:')
        .newLine().text(data.identificacion.codigoGeneracion)
        .newLine().text('Numero de Control:')
        .newLine().text(data.identificacion.numeroControl);

      if (data.identificacion.tipoOperacion == 1) {
        esc.newLine().text('Sello de Recibido:')
          .newLine().text(data.selloRecibido);
      }
      esc.newLine().qr(`https://admin.factura.gob.sv/consultaPublica?ambiente=${data.identificacion.ambiente}&codGen=${data.identificacion.codigoGeneracion}&fechaEmi=${data.identificacion.fecEmi}`, 5).newLine();
      esc.align('left')
        .newLine()
        .text(`${String('Codigo').padEnd(23, ' ')}${String('cant').padStart(7)}${String('Precio').padStart(11)}${String('Subtotal').padStart(11, ' ')}`);

      const lar_ = data.cuerpoDocumento.length;
      for (let i = 0; i < lar_; i++) {
        let item = data.cuerpoDocumento[i];
        let name = item.descripcion.length > 48 ? item.descripcion.substring(0, 48) : item.descripcion.padEnd(48)
        let code = item.codigo.length > 23 ? item.codigo.substring(0, 23) : item.codigo.padEnd(23);
        const qty = String(item.cantidad).padStart(7);
        const price = String(`$ ${money_format(item.precioUni)}`).padStart(10);
        const itemTotal = String(`$ ${money_format(item.ventaGravada)}`).padStart(10);
        esc.newLine().text(`${name}`)
          .newLine().text(`${code}${qty}${price}${itemTotal}`);
      }

      esc.newLineN(2)
        .text(`${String("Sub-Total Ventas Gravadas").padEnd(39, ' ')}$${String(money_format(data.resumen.totalGravada)).padStart(10, ' ')}`);
      if (data.resumen.tributos !== null && data.resumen.tributos.length > 0) {
        for (let index = 0; index < data.resumen.tributos.length; index++) {
          const element = data.resumen.tributos[index];
          esc.newLine().text(`${String(element.descripcion).padEnd(39, ' ')}$${String(money_format(element.valor)).padStart(10, ' ')}`)
        }
      }
      esc.newLine().text(`${String("IVA Retenido").padEnd(39, ' ')}$${String(money_format(data.resumen.ivaRete1)).padStart(10, ' ')}`)
        .newLine().text(`${String("Retencion de Renta").padEnd(39, ' ')}$${String(money_format(data.resumen.reteRenta)).padStart(10, ' ')}`)
        .newLine().setFont('A').bold(true).text(`${String("Total a Pagar    $")}${String(money_format(data.resumen.montoTotalOperacion)).padStart(10, ' ')}`)
        .bold(false)
        .align('center')
        .newLineN(2)
        .text('Descargue su factura en el siguiente QR:')
        .qr(`${helper_url}/utils/services/dte/inline?uuid=${data.identificacion.codigoGeneracion}&fecha=${data.identificacion.fecEmi}`, 4).newLineN(2)
        .text('Gracias por su compra')
        .newLineN(5)
        .cut();

     

      commands = esc.build();
      await printer.sendCommands(commands);
      return;
    } else {
      error_printing = "Impresora no disponible";
    }


  };
</script>
<% } %>

</html>