<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../Layouts/Head.ejs') %>
</head>
<% options = `<a class="ml-5" href="/sales">Atrás</a>`; %>

<body class="<%= darkMode %>">
  <%- include('../../Layouts/SideBar.ejs') %>
  <div id="main">
    <%- include('../../Layouts/NavBar.ejs') %>
    <div class="main-content container-fluid text-center">
      <div class="page-title">
        <h3><%= pageTitle %></h3>
        <%# Tittle Options %>
      </div>
      <section class="section text-left">
        <div class="card" style="max-width: 1000px; margin: auto;">
          <div class="card-body">

            <form class="row g-3">
              <h5>Identificación del Cliente</h5>
              <div class="form-group col-12">
                <label for="clientName">Nombre del cliente</label>
                <input class="form-control" id="clientName" type="text" placeholder="Nombre del Cliente" value="<%= cliente.name %>">
              </div>

              <div class="form-group col-md-6">
                <label for="clientPhone">Numero Telefonico</label>
                <input class="form-control" id="clientPhone" type="number" placeholder="77665544" value="<%= cliente.phone %>">
              </div>

              <div class="form-group col-md-6">
                <label for="clientMail">E-Mial</label>
                <input class="form-control" id="clientMail" type="text" placeholder="email@email.com" value="<%= cliente.correo %>">
              </div>

              <h5>Dirección del Cliente</h5>

              <div class="form-group">
                <label for="departamento">Departamento</label>
                <select name="departamento" id="departamento" class="form-control">
                  <option value="">No registrado</option>
                  <% departamentos.forEach(element => { %>
                  <option value="<%= element.codigo %>"><%= element.Valor %></option>
                  <% }) %>
                </select>
              </div>

              <div class="form-group">
                <label for="municipio">Municipio</label>
                <select name="municipio" id="municipio" class="form-control">
                  <option value="">No registrado</option>
                  <% municipios.forEach(element => { %>
                  <option value="<%= element.codigo %>"><%= element.Valor %></option>
                  <% }) %>
                </select>
              </div>

              <div class="form-group mb-3 col-md-12">
                <label for="clientDirection">Complemento Dirección</label>
                <input class="form-control" id="clientDirection" type="text" placeholder="Av. Las Palmeras #528" value="<%= cliente.direction %>">
              </div>

              <h5>Datos de Clasificación y Facturación</h5>
              <div class=" form col-md-12">
                <label for="isLocal">¿Cliente Local?</label>
                <select name="isLocal" id="isLocal" class="form-control">
                  <option value="true" <%= cliente.isLocal ? 'selected' : '' %>>Si, es cliente local</option>
                  <option value="false" <%= !cliente.isLocal ? 'selected' : '' %>>No, es cliente Internacional</option>
                </select>
              </div>

              <div class="form-group mb-3 col-md-6">
                <label for="clientDocumentType">Tipo de Documento</label>
                <select name="clientDocumentType" id="clientDocumentType" class="form-control">
                  <option value="ninguno" <%= cliente.tipoDocumento == "ninguno" ? 'selected' : '' %>>Ninguno</option>
                  <option value="13" <%= cliente.tipoDocumento == "13" ? 'selected' : '' %>>DUI</option>
                  <option value="36" <%= cliente.tipoDocumento == "36" ? 'selected' : '' %>>NIT</option>
                  <option value="37" <%= cliente.tipoDocumento == "37" ? 'selected' : '' %>>Otro</option>
                  <option value="03" <%= cliente.tipoDocumento == "03" ? 'selected' : '' %>>Pasaporte</option>
                  <option value="02" <%= cliente.tipoDocumento == "02" ? 'selected' : '' %>>Carnet de Residente</option>
                </select>
              </div>

              <div class="form-group mb-3 col-md-6">
                <label for="clientDUI">Numero de Documento (Normalmente NIT/DUI)</label>
                <input class="form-control" id="clientDUI" type="text" placeholder="05507306-7" value="<%= cliente.NIT_DUI %>">
              </div>

              <div class=" form-group col-md-6">
                <label for="clientClassification">Clasificación del Contribuyente</label>
                <select name="clientClassification" id="clientClassification" class="form-control">
                  <option value="ninguno">No Clasificado</option>
                  <option value="otro">Otro Contribuyente</option>
                  <option value="mediano">Mediano Contribuyente</option>
                  <option value="gran">Gran Contribuyente</option>
                </select>
              </div>

              <div class="form-group mb-3 col-md-6">
                <label for="clientNRC">NRC</label>
                <input class="form-control" id="clientNRC" type="text" placeholder="1525-8">
              </div>

              <div class="form-group mb-3 col-md-4">
                <label for="clientCodActividad">Giro, Actividad Economica del Contribuyente</label>
                <select class="form-control" id="clientCodActividad" type="text" placeholder="">
                  <option value="">Seleccione la Actividad Economica del Contribuyente</option>
                  <% giros.forEach(element => { %>

                  <option value="<%= element.codigo %>" <%= (cliente.codActividad == element.codigo ? 'selected' : '') %>><%= element.Valor %></option>
                  <% }) %>
                </select>
              </div>

              <div class="form-group mb-3 col-md-4">
                <label for="clientNombreComercial">Nombre Comercial</label>
                <input class="form-control" id="clientNombreComercial" type="text" value="<%= cliente.nombreComercial %>">
              </div>

              <div class="form-group col-md-4">
                <label for="clientSeller">Vendedor Asignado</label>
                <select name="clientSeller" id="clientSeller" class="form-control">
                  <option value="none" selected>Ninguno</option>
                  <% sellers.forEach(employee => { %>
                  <option value="<%= employee.id %>"><%= employee.name %></option>
                  <% }) %>
                </select>
              </div>
            </form>
          </div>
          <div class="card-footer text-right">
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Atrás</button>
            <button type="button" class="btn btn-primary" id="saveClient">Actualizar</button>
          </div>
        </div>


      </section>
    </div>

    <%- include('../../Layouts/Footer.ejs') %>
  </div>
</body>
<%- include('../../Layouts/Scripts.ejs') %>
<script>
  var distritos = '<%- dptos %>';
  const departamentos = JSON.parse(distritos);
  let selected_departamento = null;
  let selected_municipio = null;




  const cargarMunicipios = (index) => {
    let muni = departamentos[index];
    document.querySelector("#municipio").innerHTML = '';
    muni.forEach(element => {
      document.querySelector("#municipio").innerHTML += `<option value="${element.codigo}">${element.Valor}</option>`;
    });

  }


  //document ready
  document.addEventListener("DOMContentLoaded", (event) => {
    document.getElementById("clientName").focus();
    document.getElementById("clientSeller").value = '<%= cliente.seller %>';


    document.querySelector("#departamento").addEventListener('change', e => {
      cargarMunicipios(document.querySelector("#departamento").value);
    });

    document.querySelector("#clientClassification").addEventListener('change', e => {

      if (e.target.value == "ninguno") {
        document.querySelector("#clientNRC").disabled = true;
        document.querySelector("#clientNombreComercial").disabled = true;
        document.querySelector("#clientCodActividad").disabled = true;
      } else {
        document.querySelector("#clientNRC").disabled = false;
        document.querySelector("#clientNombreComercial").disabled = false;
        document.querySelector("#clientCodActividad").disabled = false;
      }
    });



    document.getElementById("isLocal").addEventListener('change', e => {
      let a = e.target.value === 'true';
      document.getElementById("clientNRC").disabled = !a;
      document.getElementById("clientClassification").disabled = !a;
    });


    //form controls validation
    document.getElementById('saveClient').addEventListener('click', async (e) => {
      // e.target.disabled = true;
      let data = {
        client: '<%= cliente.id %>',
        name: document.getElementById("clientName").value.trim(),
        phone: document.getElementById("clientPhone").value.trim(),
        email: document.getElementById("clientMail").value.trim(),
        nrc: document.getElementById("clientNRC").value.trim(),
        documentType: document.getElementById("clientDocumentType").value == 'ninguno' ? null : document.getElementById("clientDocumentType").value,
        dui: document.getElementById("clientDUI").value.trim(),
        isLocal: document.getElementById("isLocal").value === 'true',
        departamento: document.getElementById("departamento").value,
        direction: document.getElementById("clientDirection").value.trim(),
        municipio: document.querySelector("#municipio").value,
        classification: document.getElementById("clientClassification").value,
        codActividad: document.getElementById("clientCodActividad").value,
        giro: document.getElementById("clientCodActividad").options[document.getElementById("clientCodActividad").selectedIndex].text,
        seller: document.getElementById("clientSeller").value == 'none' ? null : document.getElementById("clientSeller").value,
        nombreComercial: document.getElementById("clientNombreComercial").value.trim(),
      }

      console.log(data);

      data.phone = data.phone.replace(/[^0-9]/g, '');

      if (data.name.length < 2) {
        e.target.disabled = false;
        return errorMessage('Por favor, registre el nombre del Cliente');
      } else if (data.phone.length < 8) {
        e.target.disabled = false;
        return errorMessage('Debe proporcionar un numero de contacto para este Cliente');
      } else {


        if (data.documentType != null && data.dui.length < 3) {
          e.target.disabled = false;
          return errorMessage('Debe proporcionar un numero de documento para este Cliente');
        }

        if (data.classification !== null) {
          if (data.isLocal && (data.departamento == null || data.municipio == null || data.departamento == '00' || data.municipio == '00')) {
            e.target.disabled = false;
            return errorMessage('Debe seleccionar el distrito, departamento y municipio para este Cliente');

          } else if (!data.isLocal && data.departamento !== "00" && data.municipio !== "00") {
            e.target.disabled = false;
            return errorMessage('Debe seleccionar "Otro (Para extranjeros)" para el departamento y municipio de clientes no Locales');
          }

          if (data.nrc.length < 3) {
            e.target.disabled = false;
            return errorMessage('Debe proporcionar un numero de registro para este Cliente');

          } else if (data.direction.trim().length < 3) {
            e.target.disabled = false;
            return errorMessage('Debe proporcionar la dirección para este Cliente');

          }

          if (data.codActividad == "") {
            e.target.disabled = false;
            return errorMessage('Seleccione la Actividad Economica del Contribuyente');

          } else if (data.nombreComercial.length < 3) {
            e.target.disabled = false;
            return errorMessage('Proporcione el Nombre Comercial del Contribuyente');

          }
        } else {
          data.nombreComercial = null;
          data.codActividad = null;
          data.nrc = null;
        }

        if (data.isLocal == false) {
          data.departamento = '00';
          data.municipio = '00';
        }

        /** Enviar Informacion al Servidor y volver a Validar*/
        postData('/sales/client/update', data).then(data => {
          if (data.status == 'success') {
            successMessage('Guardado con Exito, redirigiendo');
            /**Redirigir a la pagina del Proveedor*/
            setTimeout(() => {
              // history.back();
            }, 1500);

          } else if (data.status == 'errorMessage') {
            e.target.disabled = false;
            return errorMessage(data.message);
          } else {
            return errorMessage('Lo sentimos, ha ocurrido un error, por favor recarga la página he inténtalo nuevamente');
          }
        });
      }
    });

    document.querySelector("#clientClassification").value = '<%= cliente.classification == null ? "ninguno" : cliente.classification %>';

  });
</script>
<% if (cliente.departamento != null) { %>
<script>
  document.querySelector("#departamento").value = '<%= cliente.departamento %>';
  cargarMunicipios('<%= cliente.departamento %>');
  document.querySelector("#municipio").value = '<%= cliente.municipio %>';
</script>

<% } 
if(cliente.classification == null ||cliente.classification == "ninguno"){ %>
<script>
  document.querySelector("#clientNRC").disabled = true;
  document.querySelector("#clientNombreComercial").disabled = true;
  document.querySelector("#clientCodActividad").disabled = true;
</script>
<% } else { %>
<script>
  document.querySelector("#clientNRC").value = '<%= cliente.NRC %>';
  document.querySelector("#clientNombreComercial").value = '<%= cliente.nombreComercial %>';
  document.querySelector("#clientCodActividad").value = '<%= cliente.codActividad %>';
</script>

<% }%>


</html>