<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../Layouts/Head.ejs') %>
  <link rel="stylesheet" href="assets/libs/grid/mermaid.css">
  <link rel="stylesheet" href="assets/libs/choices/choices.min.css">
  <style>
    #notes p {
      margin-top: 0;
      margin-bottom: .2rem;
    }

    #notes .note {
      border-bottom: 1px #9e9e9e solid;
      margin-top: 2rem;
    }

    .product_item .card,
    .product_item img {
      border-radius: 1.5em !important;
    }

    .product_item {
      font-size: 110%;
      min-height: 150px;
    }

    .product_item img {
      border-radius: 1.5em !important;
    }

    .product_item p {
      margin-bottom: .2rem;
    }
  </style>
</head>
<% options = `
<li class="dropdown ml-5">
	<a data-bs-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
	  Opciones
	</a>
	<div class="dropdown-menu dropdown-menu-center" style="min-width: 250px;">
	  <a class="list-group-item" href="javascript:void(0)" onclick="create_payment()"><i class="fas fa-clipboard-list mr-3"></i>Registrar pago</a>
	 
    <a class="list-group-item" href="javascript:history.back()"><i class="fas fa-arrow-alt-circle-left mr-3"></i>Atras</a>
	</div>
  </li>
 `; %>

<body class="<%= darkMode %>">
  <%- include('../../Layouts/SideBar.ejs') %>
  <div id="main">
    <%- include('../../Layouts/NavBar.ejs') %>
    <div class="main-content container-fluid">
      <h3 class="text-center mb-4">
        <%= cliente.name %>
        <% if (a_favor > 0) { %>

        <span class="text-success mr-2">(Saldo a Favor $<%= Helper.money_format(a_favor) %>)</span>
        <% } %>
      </h3>
      <div class="row">
        <div class="col-12 col-md-8">
          <% if (cliente.type == 'minor') { %>
          <div class="text-center mb-3 mt-3">
            <button class="btn btn-lg btn-round btn-success" onclick="new_sale()">Registrar Pedido</button>
          </div>
          <% } else { %>
          <div class="card">
            <div class="card-header text-center">
              <% if (in_process !== null) { %>
              <h3>ID: <%= in_process.id %> Monto Actual: <span id="span_sale_balance">($<%= Helper.money_format(in_process.balance) %>)</span></h3>
              <div class="text-center mb-3 mt-3">

                <% if (in_process.sucursal == user.sucursal) { %>
                <% if (cliente.seller == user.employee || permission.includes('update_sales_of_another_user')) { %>
                <span class="badge bg-danger" style="cursor:pointer" id="show_to_add">Agregar producto</span>
                <span class="badge bg-warning" style="cursor:pointer" onclick="modalRequesTrasnfer.toggle()">Solicitar Traslado</span>

                <span class="badge bg-success" style="cursor:pointer" id="close_order">Cerrar Pedido</span>

                <% } %>
                <% } %>
              </div>

              <% } else { %>
              <h3>Pedido Actual <span id="span_sale_balance"></span></h3>

              <div class="text-center mb-3 mt-3">
                <% if (cliente.seller == user.employee || permission.includes('update_sales_of_another_user')) { %>
                <span class="badge bg-danger" style="cursor:pointer" id="show_to_add">Agregar producto</span>
                <span class="badge bg-warning" style="cursor:pointer" onclick="modalRequesTrasnfer.toggle()">Solicitar Traslado</span>
                <span class="badge bg-success" style="cursor:pointer; display: none;" id="close_order">Cerrar Pedido</span>
                <% } %>
              </div>
              <% } %>
            </div>

            <div class="card-body">
              <div id="form_adding" style="display:none; margin-bottom: 20px;">
                <div class="text-center">
                  <span id="free_toggle" class="badge bg-success" style="cursor:pointer; display: none;">Desde el Inventario</span>
                  <span id="inventory_toggle" class="badge bg-primary" style="cursor:pointer; display:none;">Cuando Venga del Proveedor</span>
                </div>

                <div id="free_detail" class="row mt-4" style="display:none;">
                  <div class="form-floating mb-3 col-12">
                    <input class="form-control" id="freeName" type="text" placeholder="Nombre del Producto">
                    <label for="freeName">Nombre/descripcion del Producto</label>
                  </div>
                  <div class="form-floating mb-3 col-12">
                    <input class="form-control" id="freeCant" type="number" step="1" placeholder="Cantidad" value="1">
                    <label for="freeCant">Cantidad</label>
                  </div>
                  <div class="form-floating mb-3 col-12">
                    <input class="form-control" id="freePrice" type="number" step="0.01" placeholder="Precio">
                    <label for="freePrice">Precio</label>
                  </div>
                  <div class="col-12 row">
                    <div class="col-12 col-md-6">
                      <div class="form-group text-center">
                        <label for="fake_image_input" class="subir" style="font-size: 2rem; cursor: pointer;">
                          <i class="fas fa-cloud-upload-alt"></i>
                          <b>Subir</b>
                          Imagen
                        </label>
                        <input type="file" accept="image/*" name="add_image" id="fake_image_input" style="display: none;">
                        <input type="hidden" id="add_image_real" name="add_image_real">
                      </div>
                      <div class="form-group">
                        <input type="text" id="add-image-fake_text" class="form-control" placeholder="Pega aqui una imagen">
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div id="add_image_preview"></div>
                    </div>
                  </div>
                </div>
                <div id="inventory_detail" class="row mt-4">
                  <img alt=" " id="product__image" class="img round mb-4" style="max-width: 300px; display: none; margin:auto">
                  <div class="form-group">
                    <label for="productSelect" style="font-size: 120%;">Escribe el nombre o SKU</label>
                    <select name="productSelect" id="productSelect" class="form-control"></select>
                  </div>

                  <div class="mb-3 col-12">
                    <span>Precio:</span>
                    <div class="form-group">
                      <select name="priceSelect" id="priceSelect" class="form-control"></select>
                      <label for="priceSelect">Selecciona una opción</label>
                    </div>
                  </div>
                  <div class="form-floating mb-3 col-12">
                    <input class="form-control" id="personalizedPrice" type="number" step="0.01" placeholder="Precio Personalizado" disabled>
                    <label for="personalizedPrice">Precio Personalizado</label>
                  </div>

                  <div class="form-floating mb-3 col-12">
                    <input class="form-control" id="product_cant" type="number" step="1" placeholder="Cantidad" value="1">
                    <label for="product_cant">Cantidad</label>
                    <small class="text-danger" id="max_product_cant"></small>
                  </div>
                </div>
                <div class="text-center mt-3">
                  <button class="btn btn-outline-primary" id="save_sale_detail">Guardar</button>
                </div>

              </div>
            </div>
            <div class="card-body pb-3 pt-3" style="border-top: 1px dotted #cecece;">
              <div class="row" id="div_add_details">
                <% if (in_process == null) { %>
                <h5 class="text-center text-danger text-800 mb-5">
                  No hay pedido abierto :( ... pero puedes abrir uno inmediatamente
                </h5>
                <% } else { %>

                <% if (cliente.seller == user.employee || permission.includes('update_sales_of_another_user')) { %>
                <% in_process_details.forEach(detail => { %>

                <div class="col-12 col-sm-6 col-md-6 col-lg-4 product_item" id="product_item_<%=detail.id%>">
                  <div class="card">
                    <div class="card-body text-center">
                      <img src="<%= detail.image %>" alt="Image" class="product_image" style="width: 150px; "><br>
                      <p style="cursor:pointer;"> <a href="/inventory/product/view/<%= detail.product.id %>"><%= detail.description %></a> </p>
                      <p> <b><%= detail.cant %></b> X $<%= Helper.money_format(detail.price)%> = $<%= Helper.money_format(detail.cant  * detail.price)%></p>

                      <%  if (detail.reserved == detail.cant && detail.ready < detail.reserved) { %>
                      <p class="text-primary"> Unidades reservadas<br> Pendiente de revisión</p>
                      <button class="btn btn-primary round" onclick="quit('<%= detail.id %>')">Quitar no revisados</button>
                      <% } else if(detail.cant == detail.ready) { %>
                      <p class="text-primary"> Reservado y Revisado<br></p>
                      <% if (permission.includes('revoke_sales_details')) { %>
                      <button class="btn btn-danger round btn-sm" onclick="release_request('<%= detail.id %>')">Liberar Producto</button>
                      <% } %>
                      <% } %>
                    </div>
                  </div>
                </div>
                <% }) %>
                <% } else { %>
                <% in_process_details.forEach(detail => { %>

                <div class="col-12 col-sm-6 col-md-6 col-lg-4 product_item" id="product_item_<%=detail.id%>">
                  <div class="card">
                    <div class="card-body text-center">
                      <img src="<%= detail.image %>" alt="Image" class="product_image" style="width: 150px; "><br>
                      <p style="cursor:pointer;"> <a href="/inventory/product/view/<%= detail.product.id %>"><%= detail.description %></a> </p>
                      <p> <b><%= detail.cant %></b> X $<%= Helper.money_format(detail.price)%> = $<%= Helper.money_format(detail.cant  * detail.price)%></p>

                      <% if (detail.reserved > 0 && detail.reserved < detail.cant) { %>
                      <p class="text-warning"> Solamente <b><%= detail.reserved %></b> reservdaos</p>
                      <% } else if (detail.reserved == detail.cant && detail.ready < detail.reserved) { %>
                      <p class="text-primary"> Unidades reservadas<br> Pendiente de revisión</p>
                      <% } else if(detail.cant == detail.ready) { %>
                      <p class="text-primary"> Reservado y Revisado<br></p>
                      <% } %>
                    </div>
                  </div>
                </div>
                <% }) %>
                <% }  %>
                <% } %>
              </div>
            </div>
          </div>

          <!-- Modal para cerrar el pedido -->
          <div class="modal fade" id="deliverydetailsModal" tabindex="-1" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalCenterTitle">Detalles de Entrega</h5>
                  <i class="fas fa-times" style="font-size: 1.2rem; cursor:pointer;" data-bs-dismiss="modal" aria-label="Close"></i>
                </div>
                <div class="modal-body">
                  <div class="text-white row bg-danger">
                    <div class="col" style="padding: 1rem;">
                      Advertencia: si ha tardado demasiado tiempo en redactar esta Orden puede que algun producto ya no este disponible
                    </div>
                  </div>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="delivery_type">Tipo de Entrega:</label>
                    <select name="delivery_type" id="delivery_type" class="form-control">
                      <option value="local" selected>Retiro en Local</option>
                      <option value="local_delivery">Entrega (Riveras Group)</option>
                      <option value="delivery">Entrega (Transportista / Encomienda)</option>
                    </select>
                  </div>

                  <div class="form-group" id="local_delivery_div" style="display: none;">
                    <label for="delivery_provider">Transportista Encomienda:</label>
                    <select name="delivery_provider" id="delivery_provider" class="form-control" disabled>
                      <% providers.forEach(provider => { %>
                      <option value="<%= provider.id %>"><%= provider.name %></option>
                      <% }) %>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="delivery_amount">Costo del envio:</label>
                    <input type="number" step="0.01" min="0" value="0" id="delivery_amount" class="form-control" disabled>
                  </div>
                  <div class="form-group">
                    <label for="direction_">Direccion de Entrega:</label>
                    <input type="text" name="direction_" id="direction_" class="form-control" list="directions" value="Retiro en Tienda" disabled>
                  </div>

                  <datalist id="directions">
                  </datalist>

                  <div class="form-group">
                    <label for="reference_">Referencia o Instrucciones:</label>
                    <input type="text" name="reference_" id="reference_" class="form-control">
                  </div>

                  <div class="form-group">
                    <label for="phone_">Telefono de Contacto:</label>
                    <input type="text" name="phone_" id="phone_" class="form-control" value="<%= cliente.phone %>">
                  </div>

                  <div class="form-group">
                    <label for="day_">Dia de Entrega:</label>
                    <input type="date" id="day_" name="day_" class="form-control" data-min="<%= Helper.date_to_input() %>" min="<%= Helper.date_to_input() %>" value="<%= Helper.date_to_input(null, null,  +2) %>">
                  </div>

                  <div class="form-group">
                    <label for="hour_">Hora de Entrega:</label>
                    <input type="time" id="hour_" name="hour_" class="form-control" value="<%= Helper.hour_to_input()%>">
                  </div>



                </div>
                <div class="modal-footer" style="display: block;">
                  <div class="text-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
                    <button type="button" class="btn btn-success" id="saveReal">Generar Venta</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Fin del modal -->
          <% } %>
          <div class="card">
            <div class="card-header text-center">
              <h3>Historial de Pedidos</h3>
            </div>
            <div class="card-body pb-3 table-responsive">
              <% if (finalized.length > 0) { %>
              <table class="table table-sm table-bordered table-hover">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Monto</th>
                    <th>Monto Cobrado</th>
                    <th>Estado</th>
                    <th>Fecha</th>
                    <th>options</th>
                  </tr>
                </thead>
                <tbody id="tbody_sales_history">
                  <% finalized.forEach((order, index) => { %>
                  <tr>
                    <% if (order._status == 'revoked') { %>
                    <td><%= order.id %></td>
                    <td>$0.00 <small class="text-danger">(Original: $<%= Helper.money_format(Number.parseFloat(order.balance) + Number.parseFloat(order.delivery_amount)) %>)</small></td>
                    <td class="text-center">
                      --
                    </td>
                    <td>Pedido Cancelado/Revocado
                      <br>
                      <%= order.revoked_reason %>

                    </td>
                    <td><%= Helper.format_date(order.createdAt) %></td>
                    <td>
                      <a href="/sales/view/<%= order.id %>" class="badge bg-blue mt-2">Ver Venta</a><br>
                      <% if (order.invoice_number != null) { %>
                      <a href="/sales/view_invoice/<%= order.id %>" class="badge bg-warning mt-2">Ver factura Anulada</a>
                      <% } %>
                    </td>
                    <% } else { %>
                    <td><%= order.id %></td>
                    <td>$<%= Helper.money_format(Number.parseFloat(order.balance) + Number.parseFloat(order.delivery_amount)) %></td>
                    <td>
                      $<%= Helper.money_format(order.collected) %>
                    </td>
                    <td><%= _status[order._status] %></td>
                    <td><%= Helper.format_date(order.createdAt) %></td>
                    <td>
                      <% if (order.status == 'closed') { %>
                      <span class="badge bg-green"> Paquete preparado</span>


                      <% } %>

                      <% if (order.invoice_number == null) { %>
                      <span class="badge bg-secondary" onclick="create_invoice('<%= order.id %>');"> Realizar la Factura</span>
                      <% } else { %>
                      <a href="/sales/view_invoice/<%= order.id %>" class="badge bg-secondary">Ver factura</a>
                      <% } %>
                      <br>
                      <a href="/sales/view/<%= order.id %>" class="badge bg-blue mt-2">Ver Venta</a>

                      <% if (order.collected < Helper.fix_number(order.balance + order.delivery_amount)) { %>
                      <a class="badge bg-success mt-2" href="javascript:void(0)" onclick="create_payment2('<%= order.id %>', '<%= Helper.fix_number(order.balance + order.delivery_amount - order.collected) %>' )"><i class="fas fa-clipboard-list mr-3"></i>Registrar pago</a>
                      <% } else { %>
                      <% if (new Date(order.createdAt).getTime() > new Date('2024-01-01').getTime()) { %>
                      <a href="/sales/view_pays/<%= order.id %>" class="badge bg-purple mt-2" target="_blank">Ver Pagos</a>

                      <% } %>
                      <% } %>

                    </td>
                    <% } %>
                  </tr>
                  <% }) %>
                </tbody>

                <tbody>

                  <% if (hay_mas_ventas) { %>
                  <tr id="tr_more_sales">
                    <td colspan="6" class="text-center">
                      <button class="btn btn-secondary round" onclick="charge_sales()">Cargar mas</button>
                    </td>
                  </tr>

                  <tr id="tr_loading_sales" style="display: none;">
                    <td colspan="6">
                      <div class="spinner-border text-secondary" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                    </td>
                  </tr>

                  <tr id="tr_no_more_sales" style="display: none;">
                    <td colspan="6">
                      <h4>FIN</h4>
                    </td>
                  </tr>

                  <% } else { %>
                  <tr id="tr_more_sales">
                    <td colspan="6" class="text-center" style="display: none;">
                      <button class="btn btn-secondary round" onclick="charge_sales()">Cargar mas</button>
                    </td>
                  </tr>

                  <tr id="tr_loading_sales" style="display: none;">
                    <td colspan="6">
                      <div class="spinner-border text-secondary" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                    </td>
                  </tr>

                  <tr id="tr_no_more_sales">
                    <td colspan="6" class="text-center">
                      <h4>Fin</h4>
                    </td>
                  </tr>

                  <% } %>


                </tbody>
              </table>
              <% } else { %>
              <h5 class="text-center text-danger text-800">No Hay ningun pedido en el Historial</h5>
              <% } %>

            </div>
          </div>

          <div class="card">
            <div class="card-header text-center">
              <h3>Pagos Registrados</h3>
            </div>
            <div class="card-body pb-3 table-responsive">
              <% if (payments.length > 0) { %>
              <table class="table table-sm table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Tipo</th>
                    <th>Detalles</th>
                    <th>Monto</th>

                  </tr>
                </thead>
                <tbody id="table_payments">
                  <% payments.forEach((payment) => { %>
                  <tr>
                    <td>
                      <% if (payment.type == "money") { %>
                      Efectivo
                      <% } else { %>
                      <%= payment.type == "transfer" ? 'Depósito o transferencia' : "Tarjeta de Crédito" %>
                      <br>Banco: <%= payment.bank%><br>Referencia: <%= payment.reference %>

                      <% } %>
                    </td>
                    <td>
                      <%= Helper.format_date(payment.createdAt) %>
                      <% if (payment.createdBy !== undefined && payment.createdBy !== null) { %>
                      <br> Registrado por: <%= payment.createdBy %>
                      <% } %>
                    </td>
                    <td class="text-center">
                      $<%= Helper.money_format(payment.amount) %>
                      <% if (payment.asigned_amount < payment.amount) { %>
                      <br> <span class="text-success"> Saldo a Favor ($<%= Helper.money_format(payment.amount - payment.asigned_amount) %>)</span>
                      <% } %>
                    </td>
                  </tr>
                  <% }) %>
                </tbody>

                <tbody>

                  <% if (hay_mas_pagos) { %>
                  <tr id="tr_more_payments">
                    <td colspan="3" class="text-center">
                      <button class="btn btn-secondary round" onclick="charge_payments()">Cargar mas</button>
                    </td>
                  </tr>

                  <tr id="tr_loading_payments" style="display: none;">
                    <td colspan="3">
                      <div class="spinner-border text-secondary" role="status" class="text-center">
                        <span class="visually-hidden"></span>
                      </div>
                    </td>
                  </tr>

                  <tr id="tr_no_more_payments" style="display: none;">
                    <td colspan="3" class="text-center">
                      <h4 class="text-center">FIN</h4>
                    </td>
                  </tr>

                  <% } else { %>
                  <tr id="tr_more_payments">
                    <td colspan="3" class="text-center" style="display: none;">
                      <button class="btn btn-secondary round" onclick="charge_payments()">Cargar mas</button>
                    </td>
                  </tr>

                  <tr id="tr_loading_payments" style="display: none;">
                    <td colspan="3" class="text-center">
                      <div class="spinner-border text-secondary" role="status">
                        <span class="visually-hidden"></span>
                      </div>
                    </td>
                  </tr>

                  <tr id="tr_no_more_payments">
                    <td colspan="3" class="text-center">
                      <h4 class="text-center">Fin</h4>
                    </td>
                  </tr>

                  <% } %>


                </tbody>
              </table>
              <% } else { %>
              <h5 class="text-center text-danger text-800">No Hay ningun pago registrado en el Historial</h5>
              <% } %>

            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="card">
            <div class="card-body pb-3">
              <div class="d-flex align-items-center mb-3">
                <h3 class="me-1" onclick="copy_text_('<%= cliente.name %>')">
                  <%= cliente.name %>


                </h3>
                <a href="/sales/client/edit/<%= cliente.id %>" class="btn btn-soft-secondary ml-3" <%= permission.includes('update_client') || cliente.seller == user.employee ? '' : 'disabled' %>>Editar</a>
              </div>
              <h5 class="text-800">Vendedor Asignado</h5>
              <p class="text-800"><%= seller.name %></p>

              <h5 class="text-800">Dirección</h5>
              <p class="text-800" onclick="copy_text_('<%= cliente.direction%>')"><%= cliente.direction%></p>
              <div class="mb-3">
                <h5 class="text-800">Contacto</h5>
                <% if (cliente.email) { %>
                <a href="mailto:<%= cliente.email %>" class="btn btn-soft-primary me-1 mb-1">email: <%= cliente.email %></a><br>

                <% } %>
                <button class="btn btn-soft-warning me-1 mb-1" onclick="copyNumber()">Copiar Numero: <%= cliente.phone %></button>
                <a class="btn btn-soft-danger me-1 mb-1" href="tel:<%= cliente.phone %>"> <i class="fas fa-phone-square"></i> Llamar </a>
                <a href="https://wa.me/<%= Helper.cleanNumber(cliente.phone) %>" class="btn btn-soft-success me-1 mb-1" style="font-weight: bolder;">Chat en WhatsApp</a>



                <div class="mt-5">
                  <% 
                  let pin = cliente.id;
                  if(pin < 10){
                    pin = `000${pin}`;
                  }else if(pin < 100){
                    pin = `00${pin}`;
                  }else if(pin < 1000){
                    pin = `0${pin}`;
                  }
                  %>
                  <p class="text-800" onclick="copy_text_('<%= pin%>')">PIN: <%= pin%></p>
                  <p class="text-800">DUI Registrado: <%= cliente.NIT_DUI%></p>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <table class="table table-borderless table-hover table-sm">
                <tbody>


                  <tr data-bs-toggle="tooltip" data-bs-placement="bottom" title="Permite el acceso a los catálogos y productos en la web" style="cursor:pointer">
                    <td class="">
                      Acceso a los catálogs Web
                    </td>
                    <td class="">
                      <div class="form-check form-switch">
                        <input class="form-check-input fs-3 text" type="checkbox" onclick="web_access()" <% if (cliente.has_web_access) { %> checked="" <% } %>>
                      </div>
                    </td>
                  </tr>

                  <tr data-bs-toggle="tooltip" data-bs-placement="bottom" title="Si se activa, el cliente tendrá acceso a una lista completa de todos los productos, estén o no estén en algún catálogo, tengan o no existencias" style="cursor:pointer">
                    <td class="pb-5">
                      Acceso a todos los productos
                    </td>
                    <td class="pb-5">
                      <div class="form-check form-switch">
                        <input class="form-check-input fs-3 text" type="checkbox" onclick="toggle_free_search()" <%= cliente.web_products ? 'checked="checked"' : '' %>>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tbody id="catalogs_list">

                </tbody>
              </table>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h3 class="mb-4">Notas sobre el Cliente</h3>
              <textarea class="form-control mb-3" rows="4" id="textNote"></textarea>
              <button class="btn btn-phoenix-primary w-100 mb-4" id="addNote">Agregar nota</button>
              <div id="notes">
                <% if (notes.length > 0) { %>
                <% notes.forEach(note => { %>
                <div class="fs--1 fw-semi-bold note">
                  <div class="text-1000 mb-1"><%- note.observation %></div>
                  <div class="text-right">
                    <p class="text-600 mb-0"><%= note.createdBy %> (<%= Helper.format_date(note.createdAt) %>)</p>
                  </div>
                </div>
                <% }) %>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
    <%- include('../../Layouts/Footer.ejs') %>
  </div>
  <%- include('view_client_modal_section.ejs') %>

</body>

<%- include('../../Layouts/Scripts.ejs') %>
<script src="assets/libs/choices/choices.min.js"></script>
<%- include('view_client_add_invoice.ejs') %>
<%- include('view_client_sale_option.ejs') %>
<%- include('view_client_payments.ejs') %>
<% if (cliente.has_web_access) { %>
  <%- include('view_client_catalogs.ejs') %>
<% } %>

</html>