<script>
  var registrando_pago_en = null,
    registrando_pago_monto = 0.00;
  const modal_options_ = {
    keyboard: true
  };
  const modalPayment = new bootstrap.Modal(document.getElementById('addPaymentModal'), modal_options_);
  const modalPayment2 = new bootstrap.Modal(document.getElementById('addPaymentModal2'), modal_options_);
  const modalRequesTrasnfer = new bootstrap.Modal(document.getElementById('RequestTrasnferModal'), modal_options_);

  var last_payment_rendered = '<%= payments.length > 0 ? payments[payments.length - 1].id : 0 %>',
    last_sale_rendered = '<%= finalized.length ? finalized[finalized.length - 1].id : 0 %>',
    load_limit = 10,
    more_payments_to_render = '<%= hay_mas_pagos %>',
    more_sale_to_render = '<%= hay_mas_ventas %>';

  let _status = {
    'process': 'Orden Abierta',
    'prepared': 'Paquete Armado',
    'transport': 'Paquete en ruta',
    'delivered': 'Entregado, Remuneración pendiente',
    'collected': 'Remuneración recibida',
    'revoking': 'Solicitud de Liberacion',
    'revoked': 'Orden cancelada',
    'delivery_failed': 'Entrega Fallida',
    'to_resend': 'Para Reenvio',
    'closed': 'Orden cerrada / En espera de preparación',
  }


  const create_payment = (id = null) => {
    registrando_pago_en = id;
    modalPayment.toggle();
  }

  const create_payment2 = (id, monto) => {
    registrando_pago_en = id;
    registrando_pago_monto = monto;
    modalPayment2.toggle();
  }

  document.addEventListener('DOMContentLoaded', event => {

    

    document.getElementById('addNote').addEventListener('click', async (e) => {
      let note = document.getElementById('textNote').value;
      e.target.disabled = true;

      if (note.length < 10) {
        e.target.disabled = false;
        return errorMessage('Agregue como minimo 10 caracteres para guardar una nueva nota');
      } else {
        postData('/sales/client/updateData', {
          case: 'note',
          note,
          client: '<%= cliente.id %>'
        }).then(data => {
          if (data.status == 'success') {
            successMessage('Actualizado');
            document.getElementById('textNote').value = "";
            setTimeout(() => {
              document.location.reload();
            }, 1500);
          } else if (data.status == 'errorMessage') {
            e.target.disabled = false;
            return errorMessage(data.message);

          } else {
            return errorMessage('Lo sentimos, ha ocurrido un error, por favor recarga la página he inténtalo nuevamente');
          }
        });
      }
    });

    
    document.getElementById('addPayment').addEventListener('click', async (e) => {
      let data = {
        method: document.querySelector("#payment_method").value,
        amount: Number.parseFloat(document.querySelector("#payment_amount").value),
        bank: document.querySelector("#payment_bank").value,
        reference: document.querySelector("#payment_reference").value,
        client: '<%= cliente.id %>',
        sucursal: document.querySelector('#payment_sucursal').value,
      }

      if (data.method != 'money' && (data.bank.length < 4 || data.reference.length < 4)) {
        return errorMessage('Proporcione el Nombre del Banco y el numero de referencia de la Transacción');
      } else if (isNaN(data.amount) || data.amount < 0.01) {
        return errorMessage('monto no Valido');

      } else {
        document.getElementById('addPayment').disabled = true;
        postData('/sales/client/create_payment', data).then(data => {
          if (data.status == 'success') {
            successMessage('registrado');
            // postData('/sales/client/re_payment', {
            //    id: data.data
            // });
            setTimeout(window.location.reload(), 3000);
          } else if (data.status == 'errorMessage') {
            document.getElementById('addPayment').disabled = false;
            return errorMessage(data.message);
          } else {
            return errorMessage('Lo sentimos, ha ocurrido un error, por favor recarga la página he inténtalo nuevamente');
          }
        });
      }
    });


    document.getElementById('addPayment2').addEventListener('click', async (e) => {
      let data = {
        method: document.querySelector("#payment_method2").value,
        amount: Number.parseFloat(document.querySelector("#payment_amount2").value),
        bank: document.querySelector("#payment_bank2").value,
        reference: document.querySelector("#payment_reference2").value,
        client: '<%= cliente.id %>',
        sucursal: document.querySelector('#payment_sucursal2').value,
        sale: registrando_pago_en,
        max: Number.parseFloat(registrando_pago_monto),
      }

      if (data.method != 'money' && (data.bank.length < 4 || data.reference.length < 4)) {
        return errorMessage('Proporcione el Nombre del Banco y el numero de referencia de la Transacción');
      } else if (isNaN(data.amount) || data.amount < 0.01 || data.amount > data.max) {
        return errorMessage('monto no Valido');

      } else {

        document.getElementById('addPayment2').disabled = true;
        postData('/sales/client/create_payment2', data).then(data => {
          if (data.status == 'success') {
            successMessage('registrado');
            setTimeout(window.location.reload(), 2000);
          } else if (data.status == 'errorMessage') {
            document.getElementById('addPayment2').disabled = false;
            return errorMessage(data.message);
          } else {
            return errorMessage('Lo sentimos, ha ocurrido un error, por favor recarga la página he inténtalo nuevamente');
          }
        });
      }
    });


    document.getElementById('payment_method2').addEventListener('change', async (e) => {
      document.getElementById('other_pays_2').style.display = document.getElementById('payment_method2').value == 'money' ? 'none' : 'block';
      document.querySelector("#payment_amount2").focus();
    });

    document.getElementById('payment_method').addEventListener('change', async (e) => {
      document.getElementById('other_pays').style.display = document.getElementById('payment_method').value == 'money' ? 'none' : 'block';
      document.querySelector("#payment_amount").focus();
    });

  });

  const copyNumber = () => {
    copiarAlPortapapeles('<%= cliente.phone %>');
    successMessage('Copiado');
  }

  const copy_text_ = text => {
    copiarAlPortapapeles(text);
    successMessage('Copiado');
  }

  const charge_payments = async () => {
    document.querySelector("#tr_loading_payments").style.display = "table-row";
    document.querySelector("#tr_no_more_payments").style.display = "none";
    document.querySelector("#tr_more_payments").style.display = "none";

    ///sales/client/view/client_id/sales/last_sale_rendered/load_limit
    let response = await fetch(`/sales/client/view/<%= cliente.id %>/payments/${last_payment_rendered}/${load_limit}`, {
      mode: 'cors',
      cache: 'no-cache',
      credentials: 'same-origin',
      headers: {
        'Content-Type': 'application/json'
      },
      redirect: 'follow',
      referrerPolicy: 'no-referrer',
    });

    //Procesar la respuest para que me guarde los productos en cuestion en una variable
    let res = await response.json();
    console.log(res)
    res.details.forEach(payment => {
      let tr = document.createElement('tr');
      let content = '';
      if (payment.type == "money") {
        content += `<td>Efectivo</td>
                    <td>
                      ${format_date(payment.createdAt) }
                       ${(payment.createdBy !== undefined && payment.createdBy !== null)  ?
                      "<br> Registrado por: " + payment.createdBy : ''}
                      
                    </td>
                    <td class="text-center"> $${ money_format(payment.amount) }

                        ${payment.asigned_amount < payment.amount ? 
                        '<br> <span class="text-success"> Saldo a Favor ($' + money_format(payment.amount - payment.asigned_amount) + ')</span>'
                        : ''}
                    </td>`;

      } else {

        content += `<td> ${ (payment.type == "transfer" ? 'Depósito o transferencia' : "Tarjeta de Crédito" )}
                      <br>Banco: ${ payment.bank }<br>Referencia: ${ payment.reference }</td>
                    <td>
                      ${format_date(payment.createdAt) }
                       ${(payment.createdBy !== undefined && payment.createdBy !== null)  ?
                      "<br> Registrado por: " + payment.createdBy : ''}
                      
                    </td>
                    <td class="text-center"> $${ money_format(payment.amount) }

                        ${payment.asigned_amount < payment.amount ? 
                        '<br> <span class="text-success"> Saldo a Favor ($' + money_format(payment.amount - payment.asigned_amount) + ')</span>'
                        : ''}
                    </td>`;


      }



      tr.innerHTML = content;
      document.querySelector("#table_payments").appendChild(tr);
    });

    last_payment_rendered = res.last;
    more_payments_to_render = res.more;


    if (res.more) {
      document.querySelector("#tr_loading_payments").style.display = "none";
      document.querySelector("#tr_more_payments").style.display = "table-row";
    } else {
      document.querySelector("#tr_loading_payments").style.display = "none";
      document.querySelector("#tr_no_more_payments").style.display = "table-row";
    }
  }




  const charge_sales = async () => {
    document.querySelector("#tr_loading_sales").style.display = "table-row";
    document.querySelector("#tr_no_more_sales").style.display = "none";
    document.querySelector("#tr_more_sales").style.display = "none";

    ///sales/client/view/client_id/sales/last_sale_rendered/load_limit
    let response = await fetch(`/sales/client/view/<%= cliente.id %>/sales/${last_sale_rendered}/${load_limit}`, {
      mode: 'cors',
      cache: 'no-cache',
      credentials: 'same-origin',
      headers: {
        'Content-Type': 'application/json'
      },
      redirect: 'follow',
      referrerPolicy: 'no-referrer',
    });

    //Procesar la respuest para que me guarde los productos en cuestion en una variable
    let res = await response.json();
    console.log(res)
    res.details.forEach(order => {
      let tr = document.createElement('tr');
      let content = ``;
      if (order._status == 'revoked') {
        content += `<td>${order.id}</td>
                      <td>$0.00 <small class="text-danger">(Original: $${ money_format(Number.parseFloat(order.balance) + Number.parseFloat(order.delivery_amount))})</small></td>
                      <td class="text-center">
                        --
                      </td>
                      <td>Pedido Cancelado/Revocado
                        <br>
                        ${ order.revoked_reason }
                      </td>
                      <td>${ format_date(order.createdAt) } </td>
                      <td>
                        <a href="/sales/view/${ order.id}" class="badge bg-blue mt-2">Ver Venta</a><br>`;
        if (order.invoice_number != null) {
          content += `<a href="/sales/view_invoice/${ order.id }" class="badge bg-warning mt-2">Ver factura Anulada</a>`;
        }
        content += `</td>`;
      } else {
        content += `<td>${order.id }</td>
                    <td>$${ money_format(Number.parseFloat(order.balance) + Number.parseFloat(order.delivery_amount)) }</td>
                    <td>
                      $${ money_format(order.collected) }
                    </td>
                    <td>${_status[order._status] }</td>
                    <td>${ format_date(order.createdAt) }</td>
                    <td>`;
        if (order.status == 'closed') {
          content += `<span class="badge bg-green"> Paquete preparado</span>`;


        }

        if (order.invoice_number != null) {
          // content += `<span class="badge bg-secondary" onclick="create_invoice('${ order.id }');"> Realizar la Factura</span>`;
          content += `<a href="/sales/view_invoice/${ order.id }" class="badge bg-secondary">Ver factura</a>`;
        }
        
        content += `<br><a href="/sales/view/${ order.id }" class="badge bg-blue mt-2">Ver Venta</a>`;
        let _balance = fix_number(Number.parseFloat(order.balance) + Number.parseFloat(order.delivery_amount) - Number.parseFloat(order.collected));
        if (_balance > 0) {
          content += `<a class="badge bg-success mt-2" href="javascript:void(0)" onclick="create_payment2('${ order.id}', '${ _balance }' )"><i class="fas fa-clipboard-list mr-3"></i>Registrar pago</a>`;
        } else {
          if (new Date(order.createdAt).getTime() > new Date('2024-01-01').getTime()) {
            content += ` <a href="/sales/view_pays/${ order.id }" class="badge bg-purple mt-2" target="_blank">Ver Pagos</a>`;

          }
        }

        content += `</td>`;
      }

      tr.innerHTML = content;
      document.querySelector("#tbody_sales_history").appendChild(tr);
    });

    last_sale_rendered = res.last;
    more_sale_to_render = res.more;
    if (res.more) {
      document.querySelector("#tr_loading_sales").style.display = "none";
      document.querySelector("#tr_more_sales").style.display = "table-row";
    } else {
      document.querySelector("#tr_loading_sales").style.display = "none";
      document.querySelector("#tr_no_more_sales").style.display = "table-row";
    }
  }
</script>