<!DOCTYPE html>
<html lang="es">

<head>
   <%- include('../../Layouts/Head.ejs') %>
   <link rel="stylesheet" href="assets/libs/choices/choices.min.css">
   <style></style>
</head>

<body class="<%= darkMode %>">
   <%- include('../../Layouts/SideBar.ejs') %>
   <div id="main">
      <%- include('../../Layouts/NavBar.ejs') %>
      <div class="main-content container-fluid">
         <div class="card">
            <div class="card-header">
               <h2 class="card-title text-center">
                  Solicitud de traslado de <%= indexed_sucursals[requisition.origin] %> hacia <%= indexed_sucursals[requisition.destino] %> #<%= requisition.id %> (CERRADO)
               </h2>
            </div>
            <div class="card-body table-responsive">
               <table class="table table-sm table-bordered table-hover table-stripped">
                  <thead>
                     <tr>
                        <th>ID REF:</th>
                        <th>image</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                     </tr>
                  </thead>
                  <tbody>
                     <% details.forEach(dt => { %>
                     <tr>
                        <td class="text-center"><%= dt.id %></td>
                        <td class="text-center">
                           <img src="<%= products[dt.product].image %>" class="round" alt="<%= products[dt.product].name %>" width="150px">
                        </td>
                        <td class="text-center">
                           Nombre:<%= products[dt.product].name %> <a href="/inventory/product/view/<%= dt.product %>" class="badge bg-secondary round"> Ver Producto</a><br>
                           SKU: <%= products[dt.product].sku %><br>
                           Codigo: <%= products[dt.product].provider_code %><br>
                           Agregado por: <%= dt.createdBy %>
                        </td>
                        <td class="text-center"><%= dt.cant %></td>
                     </tr>

                     <% }) %>

                     <tr>
                        <td>Comentario</td>
                        <td class="" colspan="3" style="white-space: pre-line"><%= requisition.commentary %></td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
      <%- include('../../Layouts/Footer.ejs') %>
   </div>
</body>

<%- include('../../Layouts/Scripts.ejs') %>


</html>