<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../../Layouts/Head.ejs') %>
  <link rel="stylesheet" href="assets/libs/choices/choices.min.css">
  <style></style>
</head>

<body class="<%= darkMode %>">
  <%- include('../../Layouts/SideBar.ejs') %>
  <div id="main">
    <%- include('../../Layouts/NavBar.ejs') %>
    <div class="main-content container">
      <div class="row justify-content-center">
        <div class="col-12  align-self-center">
          <div class="card">
            <div class="card-header">
              <h2 class="card-title text-center">
                Solicitudes de Traslado
                <% if (permission.includes('trasnfer_between_warehouses') || permission.includes('trasnfer_between_all_warehouses')) { %>
                <span class="badge bg-primary ml-2" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#newRequisitionDetail">Nuevo</span>
                <%}%>
              </h2>
            </div>
    
            <div class="card-header">
              <div class="row">
                <div class="col form-group">
                    <label for="init_date">Desde la Fecha</label>
                    <input type="date" class="form-control" id="init_date" value="<%= Helper.date_to_input(init) %>">
            </div>
            <div class="col form-group">
              <label for="end_date">Hasta la Fecha</label>
              <input type="date" class="form-control" id="end_date" value="<%= Helper.date_to_input(end) %>">
            </div>
            <div class="col">
              <button class="btn btn-primary mt-3" id="search_details">Buscar Solicitudes</button>
            </div>
          </div>
        </div>

        <div class="card-body table-responsive">
          <table class="table table-sm table-hover table-stripped">
            <thead>
              <tr>
                <th style="min-width:185px;">Origen y Destino</th>
                <th>Estado</th>
                <th>Solicita</th>
                <th colspan="2">#</th>
              </tr>
            </thead>
            <tbody>
              <% open.forEach(requisition => { %>
              <tr>
                <td class="text-center"><%= indexed_sucursals[requisition.origin] %><a href="/inventory/requisition/<%= requisition.id %>"> <i class="fas fa-arrow-alt-right text-success" style="font-size: 125%;"></i> <%= indexed_sucursals[requisition.destino] %> </a></td>
                <td class="text-center"><%= requisition.createdBy %></td>
                <td class="text-center">EN PROCESO</td>
                <td class="text-center"><%= requisition.id %></td>
                <td><span class="badge bg-success" onclick="redir('<%= requisition.id %>')">Ver</span></td>
              </tr>

              <% }) %>
              <% requisitions.forEach(requisition => { %>
              <tr>
                <td class="text-center"><a href="/inventory/requisition/<%= requisition.id %>"><%= indexed_sucursals[requisition.origin] %> <i class="fas fa-arrow-alt-right text-warning" style="font-size: 125%;"></i> <%= indexed_sucursals[requisition.destino] %></a></td>
                <td class="text-center"><%= requisition.createdBy %></td>
                <td class="text-center">CERRADO</td>
                <td class="text-center"><%= requisition.id %></td>
                <td><span class="badge bg-success" onclick="redir('<%= requisition.id %>')">Ver</span></td>
              </tr>

              <% }) %>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>

  </div>

  <div class="modal fade" id="newRequisitionDetail" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="text-center">Nueva Solicitud de Traslado</h3>
          <i class="fas fa-times" style="font-size: 1.2rem; cursor:pointer;" data-bs-dismiss="modal" aria-label="Close"></i>
        </div>

        <div class="modal-body">
          <div class="row">
            <% if (permission.includes('trasnfer_between_all_warehouses')) { %>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="originSucursal">Sucursal de Origen</label>
                <select name="originSucursal" id="originSucursal" class="form-control">
                  <% sucursals.forEach(el => { %>
                  <option value="<%= el.id %>" <% if (user.sucursal == el.id) { %>selected<% } %>><%= el.name %></option>
                  <% }) %>
                </select>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="destinoSucursal">Sucursal de Destino</label>
                <select name="destinoSucursal" id="destinoSucursal" class="form-control">
                  <% sucursals.forEach(el => { %>
                  <option value="<%= el.id %>"><%= el.name %></option>
                  <% }) %>
                </select>
              </div>
            </div>

            <% } else { %>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="originSucursal">Sucursal de Origen</label>
                <select name="originSucursal" id="originSucursal" class="form-control">
                  <% sucursals.forEach(el => { %>
                  <% if (user.sucursal != el.id) { %>
                  <option value="<%= el.id %>" selected><%= el.name %></option>
                  <% } %>

                  <% }) %>
                </select>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="destinoSucursal">Sucursal de Destino</label>
                <select name="destinoSucursal" id="destinoSucursal" class="form-control">
                  <% sucursals.forEach(el => { %>
                  <% if (user.sucursal == el.id) { %>
                  <option value="<%= el.id %>"><%= el.name %></option>
                  <% } %>

                  <% }) %>
                </select>
              </div>
            </div>
            <% } %>


          </div>
        </div>

        <div class="modal-body">
          <h4 class="text-center">Detalles</h4>
          <div class="table-responsive">
            <table class="table table-sm table-hover table-bordered">
              <tbody id="_tr_details"></tbody>
            </table>
          </div>

        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="productSelect" style="font-size: 120%;">Escribe el nombre o SKU <small class="text-danger">Solo apareceran productos con existencias</small></label>
            <select name="productSelect" id="productSelect" class="form-control"></select>
          </div>
          <div class="form-group">
            <label for="product_cant">Cantidad</label>
            <input type="number" name="product_cant" step="1" id="product_cant" class="form-control">
            <small class="text-danger" id="max_cant_small"></small>
          </div>

          <div class="text-center">

            <button class="btn round btn-sm btn-warning mt-4" id="add_detail">Agregar</button>
          </div>
        </div>



        <div class="modal-footer" style="display: block;">
          <div class="text-center">
            <button type="button" class="btn btn-secondary round" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
            <button class=" ml-2 btn btn-success round" id="btn_save"><i class="fas fa-save mr-2" style="font-size: 125%;"></i> Guardar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('../../Layouts/Footer.ejs') %>
  </div>
</body>

<%- include('../../Layouts/Scripts.ejs') %>
<script src="assets/libs/choices/choices.min.js"></script>
<script>
  var product_in_select2 = {},
    selected_sucursal = document.querySelector("#originSucursal").value,
    selectProduct = document.querySelector('#productSelect'),
    product_last_val = '',
    added = [],
    details = {},
    tbody = document.querySelector('#_tr_details'),
    s_options = {
      mode: 'cors',
      cache: 'no-cache',
      credentials: 'same-origin',
      headers: {
        'Content-Type': 'application/json'
      },
      redirect: 'follow',
      referrerPolicy: 'no-referrer',
    };


  const choices_product = new Choices(selectProduct, {
    'searchResultLimit': 15,
    'searchChoices': false,
    'searchFloor': 2,
  });

  const redir = id => {
    window.location.href = `/inventory/requisition/${id}`;
  };


  const deleteDetail = (index) => {
    details[index] = 0;
    tbody.removeChild(document.querySelector(`#detail_${index}`));
  };

  const clean_detail_inputs = () => {

    document.getElementById('product_cant').value = "1";
    choices_product.removeActiveItems();
  }

  const doSearchProduct = async (val) => {

    // Opciones por defecto estan marcadas con un *
    const response = await fetch(`/inventory/products/select2?search=${encodeURIComponent(val)}&onlystock=true&sucursal=${selected_sucursal}`, s_options);
    //Procesar la respuest para que me guarde los productos en cuestion en una variable
    let res = await response.json();
    product_in_select2 = {};
    res.forEach(element => product_in_select2[element.id] = element);
    return res;
  }

  var timer_product;
  selectProduct.addEventListener('search', async (e) => {
    let valor_actual = e.detail.value;
    if (product_last_val !== valor_actual) {
      product_last_val = valor_actual;
      clearTimeout(timer_product);
      timer_product = setTimeout(async () => {
        let data = await doSearchProduct(e.detail.value);
        choices_product.setChoices(data, 'value', 'label', true);
      }, 500);
    }
  });

  const charge_details = async () => {
    let init = document.querySelector('#init_date').value + 'T00:00:00';
    let end = document.querySelector('#end_date').value + 'T23:59:59';

    if (init.length < 10 || end.length < 10 || end < init) {
      return errorMessage('Seleccione un rango de fechas correcto')
    }
    window.location.href = `/inventory/requisition?init=${encodeURI(init)}&end=${encodeURI(end)}`;
  };

  document.addEventListener('DOMContentLoaded', event => {

    document.querySelector('#search_details').addEventListener('click', async (e) => {
      charge_details();
    });


    document.querySelector("#originSucursal").addEventListener('change', (e) => {
      selected_sucursal = document.querySelector("#originSucursal").value;
      added = [];
      details = {};
      tbody.innerHTML = "";
    });

    selectProduct.addEventListener('change', e => {
      let max = product_in_select2[e.target.value].stock - product_in_select2[e.target.value].reserved;
      document.querySelector("#max_cant_small").innerHTML = `${max} unidades Maximo`;
      document.querySelector("#product_cant").max = max;
    });

    document.querySelector("#add_detail").addEventListener('click', e => {
      let dt = {
        product: selectProduct.value,
        cant: Number.parseInt(document.querySelector("#product_cant").value)
      }
      let prod = product_in_select2[selectProduct.value];


      if (details[dt.product] !== null && details[dt.product] !== undefined && details[dt.product] !== 0) {
        //verificar la cantidad maxima de stock
        let suma = details[dt.product] + dt.cant;
        if (prod.stock - prod.reserved < suma) {
          return errorMessage(`la cantidad maxima es ${prod.stock - prod.reserved} para este producto`);
        }
        details[dt.product] = suma;
        let tr = document.querySelector('#detail_' + dt.product).innerHTML = `
         <td><img src="${prod.image}" alt="product" style="max-width: 100px;"></td>
         <td>${prod.name} SKU: ${prod.sku}</td>
         <td>${suma}</td>
         <td><span class="badge round bg-danger" onclick="deleteDetail(${dt.product})">Quitar</span></td>`;

        clean_detail_inputs();

      } else {
        if (prod.stock - prod.reserved < dt.cant) {
          return errorMessage(`la cantidad maxima es ${prod.stock - prod.reserved} para este producto`);

        }
        details[dt.product] = dt.cant;
        let tr = document.createElement('tr');
        tr.id = 'detail_' + dt.product;
        tr.innerHTML = `
         <td><img src="${prod.image}" alt="product" style="max-width: 100px;"></td>
         <td>${prod.name} SKU: ${prod.sku}</td>
         <td>${dt.cant}</td>
         <td><span class="badge round bg-danger" onclick="deleteDetail(${dt.product})">Quitar</span></td>`;
        tbody.appendChild(tr);
        clean_detail_inputs();
      }
    });

    document.querySelector("#btn_save").addEventListener('click', e => {
      let dts = [];
      let keys = Object.keys(details);

      for (let index = 0; index < keys.length; index++) {
        let cant = Number.parseInt(details[keys[index]]);
        if (cant > 0) {
          dts.push({
            product: keys[index],
            cant,
          });
        }

      }


      if (dts.length < 1) {
        return errorMessage('Agregue los ítems que va a trasladar');
      } else if (selected_sucursal == document.querySelector("#destinoSucursal").value) {
        return errorMessage('La sucursal de origen y destino deben ser diferentes');
      }

      let data = {
        sucursal: selected_sucursal,
        destino: document.querySelector("#destinoSucursal").value,
        details: dts,
        case: 'create'
      }

      document.querySelector("#btn_save").disabled = true;

      console.log(data);
      postData('/inventory/requisition', data).then(data => {
        if (data.status == 'success') {
          successMessage(data.message);
          setTimeout(() => window.location.href = `/inventory/requisition/${data.data}`, 1000);

        } else if (data.status == 'errorMessage') {
          document.querySelector("#btn_save").disabled = false;
          return errorMessage(data.message);

        } else {
          return errorMessage('Lo sentimos, ha ocurrido un error, por favor recarga la página he inténtalo nuevamente');
        }
      });
    });
  });
</script>

</html>