<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../Layouts/Head.ejs') %>
  <style>
    .icon-card i{
      font-size: 4rem;
      padding-top: 20%;
    }

    .icon-card p {
      padding-top: 60%;
      font-weight: 550;
      font-size: 1rem;
      margin-bottom: 15px;;
    }
  </style>
</head>

<body class="<%= darkMode %>">
  <%- include('../Layouts/SideBar.ejs') %>
  <div id="main">
    <%- include('../Layouts/NavBar.ejs') %>
    <div class="main-content container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-12">
          <h2 class="text-center">Recursos Humanos</h2>
          
          <div class="row justify-content-center">

            <a class="card icon-card text-center" href="/hrm/employee">
                <i class="fas fa-user-friends"></i>
              <p>Empleados</p>
            </a>

            <a class="card icon-card text-center" href="/hrm/employee/create">
                <i class="fas fa-user-plus"></i>
              <p>Nuevo Empleado</p>
            </a>

            <a class="card icon-card text-center" href="/hrm/payroll">
                <i class="fal fa-table"></i>
              <p>Planilla</p>
            </a>

            <a class="card icon-card text-center" href="/hrm/selection">
                <i class="far fa-file-check"></i>
              <p>Procesos de Selección</p>
            </a>
            
          </div>
        </div>
      </div>
    </div>
    <%- include('../Layouts/Footer.ejs') %>
  </div>
</body>
<%- include('../Layouts/Scripts.ejs') %>

</html>