<div class="invoice ">
    <table id="first_table">
       <tbody class="head-table">

          <tr class="hidden_row">
             <td style="width: 15%;"></td>
             <td style="width: 35%;"></td>
             <td style="width: 15%;"></td>
             <td style="width: 10%;"></td>
             <td style="width: 25%;"></td>
          </tr>

          <tr>
             <td rowspan="2" class="without_right without_bottom">Cliente: </td>
             <td rowspan="2" class="without_bottom without_left"><%= data.name %></td>
             <td class="without_right without_bottom">Fecha: </td>
             <td colspan="2" class="without_left without_bottom"><%= 
               Helper.format_date(sale.invoice_date, false) %></td>
          </tr>
          <tr>
             <td class="without_right without_bottom without_top">NIT/DUI: </td>
             <td colspan="2" class="without_left without_bottom without_top"><%= data.nit %></td>
          </tr>
          <tr>
             <td class="without_right without_bottom without_top">Direccion: </td>
             <td class="without_left without_bottom without_top"><%= data.direction %></td>
             <!-- <td class="without_right without_bottom  without_top">N° Registro: </td>
                <td colspan="2" class="without_left without_bottom without_top"><%= data.nrc %></td> -->
             <td class="without_right without_bottom without_top" colspan="2">N° NR Anterior: </td>
             <td colspan="2" class="without_left without_bottom without_top"><%= data.nota_remision_anterior %></td>
          </tr>
          <tr>
             <td class="without_right without_top">Giro:</td>
             <td class="without_left without_top"><%= data.giro %></td>
             <td colspan="2" class="without_right without_top">Venta a Cuenta de: </td>
             <td class="without_left without_top"><%= data.cuenta_de %></td>
          </tr>
       </tbody>
    </table>

    <div class="divisor"> </div>

    <table>

       <thead>
          <tr class="hidden_row">
             <td style="width: 7%;"></td>
             <td style="width: 18%;"></td>
             <td style="width: 20%;"></td>
             <td style="width: 15%;"></td>
             <td style="width: 13%;"></td>
             <td style="width: 13%;"></td>
             <td style="width: 15%;"></td>
          </tr>

          <tr>
             <th>CANT.</th>
             <th colspan="2">DESCRIPCIÓN</th>
             <th>PRECIO<br>UNITARIO</th>
             <th>VENTAS NO <br>SUJETAS</th>
             <th>VENTAS <br> EXENTAS</th>
             <th>VENTAS<br>GRAVADAS</th>
          </tr>


       </thead>
       <!-- Cuerpo de la factura-->
       <tbody class="details">

         <% var exento =  0.00 , no_sujeto = 0.00, gravadas = 0.00, largo = details.length %>

         <% if (sale.invoice_resume !== undefined && sale.invoice_resume !== null) { 
            largo = 0;
         details.forEach(detail => { 
            if(detail.invoice_column == 'gravado'){ 
               gravadas += detail.price * detail.cant;
            } else if (detail.invoice_column == 'exento') {
               exento += detail.price * detail.cant;
            } else { 
               no_sujeto += detail.price * detail.cant;
            } 
          
            })
         %>
         <% if(gravadas > 0.00){ 
            largo++;
         %>
      <tr>
         <td class="text-center">1</td>
         <td colspan="2"><%= sale.invoice_resume %></td>
         <td class="text-right">$<%= Helper.money_format(gravadas.toFixed(2), 3) %></td>
         <td class="text-right"></td>
         <td class="text-right"></td>
         <td class="text-right">$<%= Helper.money_format(gravadas.toFixed(2)) %></td>
      </tr>

      <% } else if (exento > 0.00) {
         largo++;
         %>
      <tr>
         <td class="text-center">1</td>
         <td colspan="2"><%= sale.invoice_resume %></td>
         <td class="text-right">$<%= Helper.money_format(exento.toFixed(2), 3) %></td>
         <td class="text-right"></td>
         <td class="text-right">$<%= Helper.money_format(exento.toFixed(2)) %></td>
         <td class="text-right"></td>
      </tr>

      <% } else if (no_sujeto > 0.00) { largo++;
         %>
      <tr>
         <td class="text-center">1</td>
         <td colspan="2"><%= sale.invoice_resume %></td>
         <td class="text-right">$<%= Helper.money_format(no_sujeto.toFixed(2), 3) %></td>
         <td class="text-right">$<%= Helper.money_format(no_sujeto.toFixed(2)) %></td>
         <td class="text-right"></td>
         <td class="text-right"></td>
      </tr>
      <% } %>
       <% } else { %>



         <% details.forEach(detail => { %>
         <% if(detail.invoice_column == 'gravado'){ 
               gravadas += detail.price * detail.cant;
            %>
         <tr>
            <td class="text-center"><%= detail.cant %></td>
            <td colspan="2"><%= detail.description %></td>
            <td class="text-right">$<%= Helper.money_format(detail.price, 3) %></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right">$<%= Helper.money_format(detail.price * detail.cant) %></td>
         </tr>

         <% } else if (detail.invoice_column == 'exento') {
               exento += detail.price * detail.cant; %>
         <tr>
            <td class="text-center"><%= detail.cant %></td>
            <td colspan="2"><%= detail.description %></td>
            <td class="text-right">$<%= Helper.money_format(detail.price, 3) %></td>
            <td class="text-right"></td>
            <td class="text-right">$<%= Helper.money_format(detail.price * detail.cant) %></td>
            <td class="text-right"></td>
         </tr>

         <% } else { no_sujeto += detail.price * detail.cant;%>

         <tr>
            <td class="text-center"><%= detail.cant %></td>
            <td colspan="2"><%= detail.description %></td>
            <td class="text-right">$<%= Helper.money_format(detail.price, 3) %></td>
            <td class="text-right">$<%= Helper.money_format(detail.price * detail.cant) %></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
         </tr>
         <% } %>

         <% }) %>
         <% } %>

         <% if (data.leyend !== undefined) { 
            largo += 2;
            %>
         <tr>
            <td></td>
            <td colspan="2"><br><%= data.leyend %></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
         </tr>
         <% } %>
         <tr>
            <td></td>
            <td colspan="2">
               <% var spacer = 'style="height: ' + (420 - (largo * 15)) +'px"'%>
               <div id="espaciador" <%- spacer %>></div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
         </tr>
      </tbody>
       <tbody style="font-size: 85%;">
          <% var iva_retenido = (sale.invoice_retention == true  && gravadas > 100) ? (gravadas / 1.13 * 0.01) : 0.00  %>
          <% var isr_retenido = (sale.invoice_isr == true  && gravadas > 0.00) ? (gravadas / 1.13 * 0.1) : 0.00  %>
          <tr>
             <td rowspan="2" colspan="3">
                SON: <span id="digits"></span>
             </td>
             <td colspan="2">&nbsp;SUMAS</td>
             <td class="text-right"><%= exento > 0.00 ? `$${Helper.money_format(exento)}` : ''  %></td>
             <td class="text-right"><%= gravadas > 0.00 ? `$${Helper.money_format(gravadas)}` : ''  %></td>
          </tr>
          <tr>
             <td colspan="3">&nbsp;(-) IVA RETENIDO</td>
             <td class="text-right"><%= iva_retenido > 0.00 ? `$${Helper.money_format(iva_retenido.toFixed(2))}` : ''  %></td>
          </tr>
          <tr>
             <td colspan="3" class="text-center">OPERACIONES MAYORES A $200.00</td>
             <td colspan="3">&nbsp; (-)RETENCION ISR 10%</td>
             <td class="text-right"><%= isr_retenido > 0.00 ? `$${Helper.money_format(isr_retenido.toFixed(2))}` : ''  %></td>
          </tr>
          <tr>
             <td colspan="2" class="without_top without_bottom">Nombre:</td>
             <td class="without_top without_bottom">Nombre:</td>
             <td colspan="3">&nbsp;VENTAS NO SUJETAS</td>
             <td class="text-right"><%= no_sujeto > 0.00 ? `$${Helper.money_format(no_sujeto)}` : ''  %></td>
          </tr>
          <tr>
             <td colspan="2" class="without_top without_bottom">Dui:</td>
             <td class="without_top without_bottom">Dui:</td>
             <td colspan="3">&nbsp;VENTAS EXENTAS</td>
             <td class="text-right"> <%= exento > 0.00 ? `$${Helper.money_format(exento)}` : ''  %> </td>
          </tr>
          <tr>
             <td colspan="2" class="without_top text-center">Firma quien Entrega</td>
             <td class="without_top text-center">Firma quien recibe</td>
             <td colspan="3"><b>&nbsp;VENTA TOTAL</b></td>
             <% total = (gravadas + no_sujeto + exento - isr_retenido - iva_retenido) %>
             <td class="text-right"> <b>$<%= Helper.money_format(total.toFixed(2))  %> </b> </td>
          </tr>
       </tbody>
    </table>
    <p id="last_element">Registro ID: <%= sale.id %>. <b><%= sale.invoice_type.toUpperCase() %><small>(<%= serie.serie %>)</small> N° <%= sale.invoice_number %></b>, Si este numero no coincide con el numero en la parte superior, este documento es anulado automaticamente</p>
 </div>