<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../Layouts/Head.ejs') %>
  <style>
    .card-round {
      border-radius: 15px !important;
    }

    .badge {
      cursor: pointer;
    }
  </style>
</head>

<body class="<%= darkMode %>">
  <%- include('../Layouts/SideBar.ejs') %>
  <div id="main">
    <%- include('../Layouts/NavBar.ejs') %>
    <div class="main-content container-fluid">
      <div class="row widgets">
        <div class="col-12 col-sm-12 col-md-4" style="cursor: pointer;">
          <div class="card br-2rem">
            <div class="card-body" onclick="show_reservas()">
              <div class="row">
                <div class="col-2"><i class="fas fa-box-alt  mt-2 text-warning" style="font-size: 200%;"></i></span></div>
                <div class="col-10">
                  <p><span style="font-size: 150%;" id="reservas_total">0 Paquetes </span><br><span>Pendientes de preparación</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-4" style="cursor: pointer;">
          <div class="card br-2rem">
            <div class="card-body" onclick="show_info()">
              <div class="row">
                <div class="col-2"><i class="fas fa-box-check mt-2 text-primary" style="font-size: 200%;"></i></span></div>
                <div class="col-10">
                  <p><span style="font-size: 150%;" id="info_total">0 productos por mayor</span><br><span>Pendeintes de Revision</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-4" style="cursor: pointer;">
          <div class="card br-2rem">
            <div class="card-body" onclick="show_delivery()">
              <div class="row">
                <div class="col-2"><i class="fas fa-shipping-fast mt-2 text-success" style="font-size: 200%;"></i></span></div>
                <div class="col-10">
                  <p><span style="font-size: 150%;" id="total_delivery">0 Listo para entrega</span><br><span>Local / Delivery</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-4" style="cursor: pointer;">
          <div class="card br-2rem">
            <div class="card-body" onclick="show_trasnport()">
              <div class="row">
                <div class="col-2"><i class="fas fa-shipping-fast mt-2 text-primary" style="font-size: 200%;"></i></span></div>
                <div class="col-10">
                  <p><span style="font-size: 150%;" id="total_trasnport">0 paquetes en Ruta</span><br><span>Local / Delivery</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-12 col-sm-12 col-md-4" style="cursor: pointer;">
          <div class="card br-2rem">
            <div class="card-body" onclick="show_list()">
              <div class="row">
                <div class="col-2"><i class="fas fa-align-left mt-2 text-danger" style="font-size: 200%;"></i></span></div>
                <div class="col-10">
                  <p><span style="font-size: 150%;">Lista de Productos por Reservar</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>

      <div class="justify-content-center">

        <div class="row" id="div_reservas">

        </div>

        <div id="div_info" class="row"></div>
        <div id="div_delivery" class="row"></div>
      </div>
    </div>

    <!-- modal para mostrar la imagen -->
    <div class="modal fade" id="showImage" tabindex="-1" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-centered" role="document">
        <div class="modal-content">
          <img src="" alt="galery_image" id="galery_image">

        </div>
      </div>
    </div>


    <div class="modal fade" id="modalShowData" tabindex="-1" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            Producto <button class="btn btn-secondary" onclick="javascript: ShowDataModal.toggle();">Cerrar</button>
          </div>
          <div class="modal-body" style="width: 100%; height: 100vh;">
            <iframe src="" width="100%" height="100%" id="iframe_data">"No es posible visualizar el contenido"</iframe>


          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modalNotDelivered" tabindex="-1" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Paquete no entregado
              <br>
              <span id="notdeliveredTittle"></span>
            </h3>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="nd_option">Opcion</label>
              <select name="nd_option" id="nd_option" class="form-control">
                <option value="revoke">Revocar y reingresar al inventario</option>
                <option value="resend">Reenvio</option>
              </select>
            </div>

            <div class="form-group">
              <label for="nd_reason">Razon o Justificante</label>
              <textarea name="nd_reason" class="form-control" id="nd_reason"></textarea>
            </div>

            <div id="nd_div_resend">
              <div class="form-group">
                <label for="nd_delivery_type">Tipo de Entrega:</label>
                <select name="nd_delivery_type" id="nd_delivery_type" class="form-control">
                  <option value="local" selected>Retiro en Local</option>
                  <option value="local_delivery">Entrega (Riveras Group)</option>
                  <option value="delivery">Entrega (Transportista / Encomienda)</option>
                </select>
              </div>

              <div class="form-group">
                <label for="nd_delivery_provider">Transportista Encomienda:</label>
                <select name="nd_delivery_provider" id="nd_delivery_provider" class="form-control">

                </select>
              </div>

              <div class="form-group">
                <label for="nd_delivery_amount">Costo del envio:</label>
                <input type="number" step="0.01" min="0" value="0" id="nd_delivery_amount" class="form-control">
                <p class="text-danger">NOTA: Si cobrara extra por el renvio sume las dos cantidades y coloquela aca <br> Si no cobrara por el reenvio, coloque solo en monto de envio original</p>
              </div>
              <div class="form-group">
                <label for="nd_direction_">Direccion de Entrega:</label>
                <input type="text" name="nd_direction_" id="nd_direction_" class="form-control" list="directions" value="Retiro en Tienda" disabled>
              </div>

              <datalist id="directions">
              </datalist>

              <div class="form-group">
                <label for="nd_reference_">Referencia o Instrucciones:</label>
                <input type="text" name="nd_reference_" id="nd_reference_" class="form-control">
              </div>

              <div class="form-group">
                <label for="nd_phone_">Telefono de Contacto:</label>
                <input type="text" name="nd_phone_" id="nd_phone_" class="form-control">
              </div>

              <div class="form-group">
                <label for="nd_day_">Dia de Entrega:</label>
                <input type="date" id="nd_day_" name="nd_day_" class="form-control" data-min="<%= Helper.date_to_input() %>" min="<%= Helper.date_to_input() %>" value="<%= Helper.date_to_input() %>">
              </div>

              <div class="form-group">
                <label for="nd_hour_">Hora de Entrega:</label>
                <input type="time" id="nd_hour_" name="nd_hour_" class="form-control">
              </div>
            </div>
          </div>
          <div class="modal-footer">

            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" id="save_not_delivered" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>
    </div>





    <%- include('../Layouts/Footer.ejs') %>
  </div>
</body>

<%- include('../Layouts/Scripts.ejs') %>
<script src="/socket.io/socket.io.js"></script>
<%- include('socket_events.ejs') %>

<%- include('logistic_events.ejs') %>


</html>