<!DOCTYPE html>
<html lang="es">

<head>
   <%- include('../Layouts/Head.ejs') %>
   <style>
      .card-round {
         border-radius: 15px !important;
      }

      .badge {
         cursor: pointer;
      }
   </style>
</head>

<body class="<%= darkMode %>">
   <%- include('../Layouts/SideBar.ejs') %>
   <div id="main">
      <%- include('../Layouts/NavBar.ejs') %>
      <div class="main-content container-fluid">
         <div class="row widgets">
            <div class="col-12 col-sm-12 col-md-4" onclick="show_reservas()" style="cursor: pointer;">
               <div class="card br-2rem">
                  <div class="card-body">
                     <div class="row">
                        <div class="col-2"><i class="fas fa-box-alt  mt-2 text-warning" style="font-size: 200%;"></i></span></div>
                        <div class="col-10">
                           <p><span style="font-size: 150%;" id="reservas_total">0 Paquetes </span><br><span>Pendientes de preparación</span></p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <div class="col-12 col-sm-12 col-md-4" onclick="show_info()" style="cursor: pointer;">
               <div class="card br-2rem">
                  <div class="card-body">
                     <div class="row">
                        <div class="col-2"><i class="fas fa-box-check mt-2 text-primary" style="font-size: 200%;"></i></span></div>
                        <div class="col-10">
                           <p><span style="font-size: 150%;" id="info_total">0 productos por mayor</span><br><span>Pendeintes de Revision</span></p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <div class="col-12 col-sm-12 col-md-4" onclick="show_delivery()" style="cursor: pointer;">
               <div class="card br-2rem">
                  <div class="card-body">
                     <div class="row">
                        <div class="col-2"><i class="fas fa-shipping-fast mt-2 text-success" style="font-size: 200%;"></i></span></div>
                        <div class="col-10">
                           <p><span style="font-size: 150%;" id="total_delivery">0 Listo para entrega</span><br><span>Local / Delivery</span></p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <div class="col-12 col-sm-12 col-md-4" onclick="show_trasnport()" style="cursor: pointer;">
               <div class="card br-2rem">
                  <div class="card-body">
                     <div class="row">
                        <div class="col-2"><i class="fas fa-shipping-fast mt-2 text-primary" style="font-size: 200%;"></i></span></div>
                        <div class="col-10">
                           <p><span style="font-size: 150%;" id="total_trasnport">0 paquetes en Ruta</span><br><span>Local / Delivery</span></p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>


            <div class="col-12 col-sm-12 col-md-4" onclick="show_delivery_failed()" style="cursor: pointer;">
               <div class="card br-2rem">
                  <div class="card-body">
                     <div class="row">
                        <div class="col-2"><i class="fas fa-shipping-fast mt-2 text-danger" style="font-size: 200%;"></i></span></div>
                        <div class="col-10">
                           <p><span style="font-size: 150%;" id="total_delivery_failed">0 entregas Fallidas</span><br><span>Local / Delivery</span></p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>


         </div>

         <div class="justify-content-center">

            <div class="row" id="div_reservas">

            </div>

            <div id="div_info" class="row"></div>
            <div id="div_delivery" class="row"></div>
         </div>
      </div>

      <!-- modal para mostrar la imagen -->
      <div class="modal fade" id="showImage" tabindex="-1" style="display: none;" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered modal-dialog-centered" role="document">
            <div class="modal-content">
               <img src="" alt="galery_image" id="galery_image">

            </div>
         </div>
      </div>


      <div class="modal fade" id="modalShowData" tabindex="-1" style="display: none;" aria-hidden="true">
         <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-centered" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  Producto <button class="btn btn-secondary" onclick="javascript: ShowDataModal.toggle();">Cerrar</button>
               </div>
               <div class="modal-body" style="width: 100%; height: 100vh;">
                  <iframe src="" width="100%" height="100%" id="iframe_data">"No es posible visualizar el contenido"</iframe>


               </div>
            </div>
         </div>
      </div>

      <div class="modal fade" id="modalNotDelivered" tabindex="-1" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <h3>Paquete no entregado
                     <br>
                     <span id="notdeliveredTittle"></span>
                  </h3>
               </div>
               <div class="modal-body">
                  <div class="form-group">
                     <label for="nd_option">Opcion</label>
                     <select name="nd_option" id="nd_option" class="form-control">
                        <option value="revoke">Revocar y reingresar al inventario</option>
                        <option value="resend">Reenvio</option>
                     </select>
                  </div>

                  <div class="form-group">
                     <label for="nd_reason">Razon o Justificante</label>
                     <textarea name="nd_reason" class="form-control" id="nd_reason"></textarea>
                  </div>

                  <div id="nd_div_resend">
                     <div class="form-group">
                        <label for="nd_delivery_type">Tipo de Entrega:</label>
                        <select name="nd_delivery_type" id="nd_delivery_type" class="form-control">
                           <option value="local" selected>Retiro en Local</option>
                           <option value="local_delivery">Entrega (Riveras Group)</option>
                           <option value="delivery">Entrega (Transportista / Encomienda)</option>
                        </select>
                     </div>

                     <div class="form-group">
                        <label for="nd_delivery_provider">Transportista Encomienda:</label>
                        <select name="nd_delivery_provider" id="nd_delivery_provider" class="form-control">

                        </select>
                     </div>

                     <div class="form-group">
                        <label for="nd_delivery_amount">Costo del envio:</label>
                        <input type="number" step="0.01" min="0" value="0" id="nd_delivery_amount" class="form-control">
                        <p class="text-danger">NOTA: Si cobrara extra por el renvio sume las dos cantidades y coloquela aca <br> Si no cobrara por el reenvio, coloque solo en monto de envio original</p>
                     </div>
                     <div class="form-group">
                        <label for="nd_direction_">Direccion de Entrega:</label>
                        <input type="text" name="nd_direction_" id="nd_direction_" class="form-control" list="directions" value="Retiro en Tienda" disabled>
                     </div>

                     <datalist id="directions">
                     </datalist>

                     <div class="form-group">
                        <label for="nd_reference_">Referencia o Instrucciones:</label>
                        <input type="text" name="nd_reference_" id="nd_reference_" class="form-control">
                     </div>

                     <div class="form-group">
                        <label for="nd_phone_">Telefono de Contacto:</label>
                        <input type="text" name="nd_phone_" id="nd_phone_" class="form-control">
                     </div>

                     <div class="form-group">
                        <label for="nd_day_">Dia de Entrega:</label>
                        <input type="date" id="nd_day_" name="nd_day_" class="form-control" data-min="<%= Helper.date_to_input() %>" min="<%= Helper.date_to_input() %>" value="<%= Helper.date_to_input() %>">
                     </div>

                     <div class="form-group">
                        <label for="nd_hour_">Hora de Entrega:</label>
                        <input type="time" id="nd_hour_" name="nd_hour_" class="form-control">
                     </div>
                  </div>
               </div>
               <div class="modal-footer">
                  
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="button" id="save_not_delivered" class="btn btn-primary">Guardar</button>
               </div>
            </div>
         </div>
      </div>





      <%- include('../Layouts/Footer.ejs') %>
   </div>
</body>

<%- include('../Layouts/Scripts.ejs') %>
<script src="/socket.io/socket.io.js"></script>

<script>
   var _process = '<%= Helper.randomString(5) %>';
   var socket = io.connect('<%= baseURL %>/logistics'),
      mayor = {},
      reservas = {},
      clients = {},
      entregas = {},
      mayor_resolved = {},
      reservas_resolved = {},
      totals = {},
      sellers = {},
      prepared = {},
      on_screen = null;
   transport = {};

   const ShowDataModal = new bootstrap.Modal(document.getElementById('modalShowData'), {});
   const charge_iframe = (url) => {
      document.querySelector("#iframe_data").src = url;
      ShowDataModal.toggle();
   }

   const update_totals = () => {
         document.querySelector("#info_total").innerHTML = `${totals.mayor_details} Productos por Mayor`;
         document.querySelector("#reservas_total").innerHTML = `${totals.reservas} Paquetes por armar`;
         document.querySelector("#total_delivery").innerHTML = `${totals.prepared} Listo para entrega`;
         document.querySelector("#total_trasnport").innerHTML = `${totals.transport} En ruta`;
         document.querySelector("#total_delivery_failed").innerHTML = `${totals.delivery_failed} Entregas Fallidas`;
      },


      showImageModal = new bootstrap.Modal(document.getElementById('showImage'), {}),
      show_image = src => {
         document.getElementById('galery_image').src = src;
         showImageModal.toggle();
      },
      show_sale = id => {
         window.location.href = `/sales/view/${id}`;
      },

      paquete_listo = id => {
         socket.emit('package_ready', {
            sale_id: id,
            _process
         });
      }

   socket.on('logistics data', data => {
      console.log(data);
      clients = data.clients;
      entregas = data.entregas;
      mayor = data.mayor;
      reservas = data.reservas;
      sellers = data.sellers;
      mayor_resolved = data.mayor_resolved;
      reservas_resolved = data.reservas_resolved;
      totals = data.totals;
      providers = data.providers;
      prepared = data.prepared;
      transport = data.transport;


      let content = ``;

      let indexes = Object.keys(providers);
      for (let index = 0; index < indexes.length; index++) {
         content += `<option value="${indexes[index]}"> ${providers[indexes[index]]}</option>`;
      }
      
      document.querySelector("#nd_delivery_provider").innerHTML = content;


      //pintar los totales
      update_totals();
   });

   socket.on('new_sale', data => {
      console.log(data);
      totals.reservas += 1;
      update_totals();

      reservas[data.sale.id] = data;

      if (on_screen == 'reservas') {


         let div = document.createElement('div');
         div.classList.add('col-12', 'col-md-6', 'mb-3');
         div.id = `reservas_sale_${data.sale.id}`;

         let content = `<div class="card card-round">
                     <div class="card-body">
                        <h5 class="mb-2">${data.client} 
                           &nbsp;<span class="badge bg-danger" onclick="paquete_listo(${data.sale.id})">Paquete Listo</span>
                           &nbsp;<span class="badge bg-success" onclick="show_sale(${data.sale.id})">Ver Venta</span>
                        </h5>
                        <p>${data.sale.delivery_type == 'local' ? 'Retiro en Tienda' : (data.sale.delivery_type == 'delivery' ? 'Entrega (' + providers[data.sale.delivery_provider] +')': 'Entrega (Riveras Group)')}</p>
                        <div class="list-group">`;
         //recorrer los detalles de la venta
         data.details.forEach(detail => {

            content += `<span class="list-group-item list-group-item-action py-3 lh-sm">
                  <div class="d-flex justify-content-start">
                     <img src="${detail.image}" alt="product_image" width="75px;" onclick="show_image(this.src)">
                     <div class="ml-3">
                        <span>${detail.description}   <a href="/inventory/product/view/${detail.product}" class="badge bg-secondary">Ver Producto</a> </span>
                        <br><span>${detail.cant} ${detail.cant > 1 ? 'Unidades' : 'Unidad'}</span>
                     </div>

                  </div>
               </span>`;
         });


         content += `</div>
                     </div>
                  </div>
               `;
         div.innerHTML = content;
         document.querySelector("#div_reservas").appendChild(div);
      }


   });

   socket.on('package_ready_success', sale => {
      reservas[sale.id] = null;
      reservas_resolved[sale.id] = sale;
      document.querySelector("#div_reservas").removeChild(document.getElementById(`reservas_sale_${sale.id}`));
      totals.reservas -= 1;
      totals.prepared += 1;
      update_totals();

      successMessage('Paquete Listo!');
   });

   socket.on('package_ready_error', data => {
      console.log(data);
      if (data._process == _process) {
         return errorMessage(data.errorMessage);
      }
   });

   socket.on('new_major_detail', data => {
      totals.mayor_details++;
      mayor[data.detail.sale].details.push(data.detail);
      //agregar el detalle a los totales
      update_totals();
      if (on_screen == 'mayor') {
         show_info();
      }
   });

   socket.on('deleted_major_detail', data => {
      console.log(data);
      let new_details = [];

      //recorrer los detalles
      mayor[data.sale_id].details.forEach(el => {
         el.id == data.deleted_detail
      });

      // errorMessage('Detalle de info Eliminado')
   });

   socket.on('mayor_detail_revised_error', data => {
      console.log(data);
   });

   socket.on('package_trasnport_error', data => {
      console.log(data);
   });

   socket.on('package_trasnport_success', data => {
      let div = document.querySelector("#info_sale_" + data.id);
      div.parentNode.removeChild(div);
      transport[data.id] = data;
      totals.transport += 1;

      prepared[data.id] = null;
      totals.prepared -= 1;
      update_totals();
   });



   socket.on('pakage_delivered_success', data => {
      let div = document.querySelector("#info_sale_" + data.id);
      div.parentNode.removeChild(div);

      prepared[data.id] = null;
      totals.prepared -= 1;
      update_totals();
   });

   socket.on('nd_package_revoke_success', data => {
      let div = document.querySelector("#info_sale_" + data.id);
      if(div !== undefined){
         div.parentNode.removeChild(div);
      }

      transport[data.id] = null;
      totals.transport -= 1;
      update_totals();
   });

   socket.on('nd_package_resend_success', data => {
      let div = document.querySelector("#info_sale_" + data.id);
      if(div !== undefined){
         div.parentNode.removeChild(div);
      }
      transport[data.id] = null;
      totals.transport -= 1;


      prepared[data.id] = data;
      totals.prepared += 1;
      update_totals();
   });

   
   

   socket.on('mayor_detail_revised_success', data => {
      //recorrer los detalles
      let restantes = new Array();
      mayor[data.sale].details.forEach(el => {
         if (data.details.includes(el.id)) {
            document.querySelector(`#info_detail_div_${el.id}`).parentNode.removeChild(document.querySelector(`#info_detail_div_${el.id}`));
         } else {
            restantes.push(el);
         }
      });

      if (restantes.length < 1) {
         update_totals();
      } else {
         mayor[data.sale].details = restantes;
      }


   });


   socket.on('new_major_detail', data => {
      totals.mayor_details++;
      mayor[data.detail.sale].details.push(data.detail);
      //agregar el detalle a los totales
      update_totals();
      if (on_screen == 'mayor') {
         show_info();
      }
   });
</script>
<!-- Manejo de las reservas -->
<script>

let modalNotDelivered = new bootstrap.Modal(document.getElementById('modalNotDelivered'), {});
   var delivery_failed_id = null;
   const show_reservas = () => {
      document.querySelector("#div_reservas").style.display = 'flex';
      document.querySelector("#div_info").style.display = 'none';
      document.querySelector("#div_delivery").style.display = 'none';
      on_screen = 'reservas';
      document.querySelector("#div_reservas").innerHTML = '';


      //cargar los controlles de las reservas
      let keys = Object.keys(reservas);
      if (keys.length > 0) {
         let content = '';
         keys.forEach(index => {
            element = reservas[index];
            if (element !== null) {
               content += `<div class="col-12 col-md-6 mb-3" id="reservas_sale_${element.sale.id}">
                     <div class="card card-round">
                        <div class="card-body">
                           <h5 class="mb-2">${element.client} <br>(Producto $${money_format(element.sale.balance)} + Envio $${money_format(element.sale.delivery_amount)}) <br>
                              &nbsp;<span class="badge bg-danger" onclick="paquete_listo(${element.sale.id})">Paquete Listo</span>
                              
                              <span class="badge bg-success" onclick="charge_iframe('/sales/view/${element.sale.id}')">Ver Venta</span>
                           </h5>
                           <p>${element.sale.delivery_type == 'local' ? 'Retiro en Tienda' : (element.sale.delivery_type == 'delivery' ? 'Entrega (' + providers[element.sale.delivery_provider] +`)<br>${element.sale.delivery_direction}`: 'Entrega (Riveras Group)'+`)<br>${element.sale.delivery_direction}`)}</p>
                           <div class="list-group">`;
               //recorrer los detalles de la venta
               element.details.forEach(detail => {

                  content += `<span class="list-group-item list-group-item-action py-3 lh-sm">
                     <div class="d-flex justify-content-start">
                        <img src="${detail.image}" alt="product_image" width="75px;" onclick="show_image(this.src)">
                        <div class="ml-3">
                           <span>${detail.description} ($${detail.price} c/u) &nbsp;
                              <span class="badge bg-blue" onclick="charge_iframe('/inventory/product/view/${detail.product}')">Ver producto</span>
                           </span>
                           <br><span>${detail.cant} ${detail.cant > 1 ? 'Unidades Vendidas' : 'Unidad vendida'}</span>
                           <br><span>${detail.reserved} ${detail.reserved > 1 ? 'Unidades Reservadas' : 'Unidad Reservada'} <br> ${detail.ready} ${detail.ready > 1 ? 'Unidades Revisadas' : 'Unidad Revisada'} </span>
                        </div>
   
                     </div>
                  </span>`;
               });


               content += `</div>
                        </div>
                     </div>
                  </div>`;
            }
         });
         document.querySelector("#div_reservas").innerHTML = content;
      } else {
         createToast('rose', 'No hay mas tareas por completar');
      }


      //recorrer los elementos del arreglo



   }

   const detail_revised = (detail_id, sale_id) => {
      let data = {
         sale: sale_id,
         details: [detail_id, ],
      }

      socket.emit('mayor_detail_revised', data);

   }

   const all_detail_revised = (sale_id) => {
      let data = {
         sale: sale_id,
         details: [],
      }
      mayor[sale_id].details.forEach(e => {
         data.details.push(e.id);
      })
      socket.emit('mayor_detail_revised', data);
   }


   const delivery_failed_process = (sale_id) => {
      delivery_failed_id = sale_id;
      console.log(transport[sale_id]);
      let reg = transport[sale_id];
      document.querySelector("#notdeliveredTittle").innerHTML = `${reg.client}`;
      modalNotDelivered.toggle();

   }

   const package_delivered = (sale, element ) => {
      element.parentNode.removeChild(element);
      socket.emit('pakage_delivered', sale)
   }
   const package_transport = (sale) => {
      socket.emit('package_trasnport', sale)
   }


   const show_info = () => {
      document.querySelector("#div_reservas").style.display = 'none';
      document.querySelector("#div_info").style.display = 'flex';
      document.querySelector("#div_delivery").style.display = 'none';
      on_screen = 'mayor';
      document.querySelector("#div_reservas").innerHTML = '';


      //cargar los controlles de las reservas
      let keys = Object.keys(mayor);
      if (keys.length > 0) {
         let content = '';
         keys.forEach(index => {
            element = mayor[index];
            if (element !== null) {
               content += `<div class="col-12 col-md-6 mb-3" id="info_sale_${element.sale.id}">
                     <div class="card card-round">
                        <div class="card-body">
                           <h5 class="mb-2">${element.client} 
                              &nbsp;<span class="badge bg-danger" onclick="all_detail_revised(${element.sale.id})">Todo Revisado y Guardado</span>
                              &nbsp;
                              <span class="badge bg-success" onclick="charge_iframe('/sales/view/${element.sale.id}')">Ver Venta</span>
                           </h5>`;
               content += element.open == true ? `<p class="text-success">Pedido Abierto</p>` : `<p class="text-danger">Abriendo Pedido</p>`;
               content += `<div class="list-group">`;
               //recorrer los detalles de la venta
               element.details.forEach(detail => {

                  content += `<span class="list-group-item list-group-item-action py-3 lh-sm" id="info_detail_div_${detail.id}">
                     <div class="d-flex justify-content-start" >
                        <img src="${detail.image}" alt="product_image" width="75px;" onclick="show_image(this.src)">
                        <div class="ml-3">
                           <span>${detail.description} ($${detail.price}) &nbsp; <span class="badge bg-blue" onclick="charge_iframe('/inventory/product/view/${detail.product}')">Ver producto</span></span>
                           <br><span style="font-size:120%; color:#d43f53;">${detail.cant - detail.ready} Unidades por revisar </span>
                           <br><span>${detail.reserved} ${detail.reserved > 1 ? 'Unidades Reservadas' : 'Unidad Reservada'} de ${detail.cant} Vendidas </span>
                           <br><span class="badge bg-warning" onclick="detail_revised(${detail.id}, ${element.sale.id})">Revisado y guardado</span>
                        </div>
   
                     </div>
                  </span>`;
               });


               content += `</div>
                        </div>
                     </div>
                  </div>`;
            }
         });
         document.querySelector("#div_info").innerHTML = content;
      } else {
         createToast('rose', 'No hay mas tareas por completar');
      }
   }


   const show_delivery = () => {
      document.querySelector("#div_reservas").style.display = 'none';
      document.querySelector("#div_info").style.display = 'none';
      document.querySelector("#div_delivery").style.display = 'flex';

      on_screen = 'delivery';

      let keys = Object.keys(prepared);
      if (keys.length > 0) {
         let content = '';
         keys.forEach(index => {
            element = prepared[index];
            if (element !== null) {
               let badge = `<br><span class="badge bg-warning" onclick="package_delivered(${element.sale.id}, this)">Marcar Entregado</span>`;
               let _st = element.sale._status == "to_resend" ? `<p class="text-danger" style="font-size: 125%;">Reenvio</p>` : '';
               if (element.sale.delivery_type == 'delivery') {
                  badge = `&nbsp;<span class="badge bg-primary" onclick="package_transport(${element.sale.id})">Entregado a Transportista</span>`;
               }

               content += `<div class="col-12 col-md-6 mb-3" id="info_sale_${element.sale.id}">
                     <div class="card card-round">
                        <div class="card-body">${_st}
                           <h5 class="mb-2">${element.client} 
                              ${badge}
                              &nbsp;<span class="badge bg-success" onclick="show_sale(${element.sale.id})">Ver Venta</span>
                           </h5>`;
               content += `<div>
                     <p>Tipo de entrega: ${element.sale.delivery_type == 'local' ? 'Retiro en Tienda' : (element.sale.delivery_type == 'delivery' ? 'Entrega (' + providers[element.sale.delivery_provider] +')': 'Entrega (Riveras Group)')}</p>

                     <p>Direccion de Entrega: ${element.sale.delivery_direction}</p>

                     <p>Contacto de Entrega: ${element.sale.delivery_contact}</p>
                     <p>Fecha: ${format_date(element.sale.delivery_date, false)} a las ${element.sale.delivery_time}</p>
                     <p>Total: $${money_format(Number.parseFloat(element.sale.balance) + Number.parseFloat(element.sale.delivery_amount))}</p>
                  </div>`;


               content += `</div>
                     </div>
                  </div>`;
            }
         });
         document.querySelector("#div_delivery").innerHTML = content;
      } else {
         createToast('rose', 'No hay mas tareas por completar');
      }
   }



   const show_trasnport = () => {
      document.querySelector("#div_reservas").style.display = 'none';
      document.querySelector("#div_info").style.display = 'none';
      document.querySelector("#div_delivery").style.display = 'flex';

      on_screen = 'delivery';

      let keys = Object.keys(transport);
      if (keys.length > 0) {
         let content = '';
         keys.forEach(index => {
            element = transport[index];
            if (element !== null) {
               let badge = `<br><span class="badge bg-warning" onclick="package_delivered(${element.sale.id}, this)">Marcar Entregado</span>`;
               badge += `&nbsp;<span class="badge bg-danger" onclick="delivery_failed_process(${element.sale.id})">Entrega fallida</span>`;
               content += `<div class="col-12 col-md-6 mb-3" id="info_sale_${element.sale.id}">
                     <div class="card card-round">
                        <div class="card-body">
                           <h5 class="mb-2">${element.client} 
                              ${badge}
                              &nbsp;<span class="badge bg-success" onclick="show_sale(${element.sale.id})">Ver Venta</span>
                           </h5>`;
               content += `<div>
                     <p>Tipo de entrega: ${element.sale.delivery_type == 'local' ? 'Retiro en Tienda' : (element.sale.delivery_type == 'delivery' ? 'Entrega (' + providers[element.sale.delivery_provider] +')': 'Entrega (Riveras Group)')}</p>

                     <p>Direccion de Entrega: ${element.sale.delivery_direction}</p>

                     <p>Contacto de Entrega: ${element.sale.delivery_contact}</p>
                     <p>Fecha: ${format_date(element.sale.delivery_date, false)} a las ${element.sale.delivery_time}</p>
                     <p>Total: $${money_format(Number.parseFloat(element.sale.balance) + Number.parseFloat(element.sale.delivery_amount))}</p>
                  </div>`;
               content += `</div>
                     </div>
                  </div>`;
            }
         });
         document.querySelector("#div_delivery").innerHTML = content;
      } else {
         createToast('rose', 'No hay mas tareas por completar');
      }
   }


   document.addEventListener('DOMContentLoaded', event => {
      document.querySelector("#nd_div_resend").style.display = "none";

      document.querySelector("#nd_option").addEventListener('change', e => {
            document.querySelector("#nd_div_resend").style.display = e.target.value === "resend" ? 'block' : "none";
      });



      document.querySelector("#nd_delivery_type").addEventListener('change', e => {
         document.querySelector("#nd_direction_").disabled = false;

         if (e.target.value == 'delivery') {
            document.querySelector("#nd_delivery_provider").disabled = false;
            document.querySelector("#nd_delivery_amount").value = 4.55;
            document.querySelector("#nd_direction_").focus();
         } else {
            if (e.target.value == 'local') {
               document.querySelector("#delivery_amount").disabled = true;
               document.querySelector("#delivery_amount").value = 0.00;
               document.querySelector("#nd_direction_").value = 'Retiro en Tienda';
               document.querySelector("#nd_direction_").disabled = true;
               document.querySelector("#nd_reference_").focus();
            } else {
               document.querySelector("#nd_delivery_amount").value = 3.00;
               document.querySelector("#nd_direction_").focus();
            }

            document.querySelector("#nd_delivery_provider").disabled = true;
         }
      });




      document.querySelector('#save_not_delivered').addEventListener('click', e => {

         let reason = document.querySelector("#nd_reason").value;

         if(reason.length < 5){
            return errorMessage('Por favor escriba una justificacion por la cual el paquete no fue entregado');
         }

         if(document.querySelector("#nd_option").value != "resend"){
            e.target.disabled = true;
            socket.emit('nd_package_revoke',{
               sale: delivery_failed_id,
               reason
            });
         }else{
            let data = {
               sale: delivery_failed_id,
               delivery_type: document.querySelector("#nd_delivery_type").value,
               delivery_provider: null,
               direction: document.querySelector("#nd_direction_").value,
               reference: document.querySelector("#nd_reference_").value,
               phone: document.querySelector("#nd_phone_").value,
               day: document.querySelector("#nd_day_").value,
               time: document.querySelector("#nd_hour_").value,
               delivery_amount: document.querySelector("#nd_delivery_amount").value,
               reason
            }
   
            if (data.delivery_type == 'delivery') {
               data.delivery_provider = document.querySelector("#nd_delivery_provider").value;
            }
   
            if (data.direction.length < 5) {
               return errorMessage('Coloque una Dirección válida');
            } else if (data.phone.length < 8) {
               return errorMessage('Coloque el teléfono de contacto');
            } else if (data.day.length < 10) {
               return errorMessage('Seleccione una fecha válida');
            } else if (data.time.length < 5) {
               return errorMessage('Seleccione una hora valida');
            } else if (data.day < document.querySelector("#nd_day_").dataset.min) {
               return errorMessage('Seleccione una fecha válida');
            }
            e.target.disabled = true;
            socket.emit('nd_package_resend', data);
         }

         document.querySelector('#save_not_delivered').disabled = false;
         modalNotDelivered.toggle();

      });
   });
</script>

</html>