<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../Layouts/Head.ejs') %>
  <%# custom styles %>
  <link rel="stylesheet" href="assets/libs/grid/mermaid.css">
</head>

<body class="<%= darkMode %>">
  <%- include('../../Layouts/SideBar.ejs') %>
  <div id="main">
    <% options = `<a class="ml-5" href="/inventory/sucursal" style="width: 150px;"><i class="fas fa-arrow-alt-circle-left mr-3"></i>Atrás</a>`; %>
    <%- include('../../Layouts/NavBar.ejs') %>
    <div class="main-content container-fluid">
      <div class="page-title">
        <h3><%= pageTitle %>  </h3>
      </div>
      <section class="section">
        <div class="row justify-content-center">
          <div class="col-12 col-md-6">
            <button type="button" class="btn btn-primary mt-2 ml-2" onclick="show('#sales');">
              Ventas en Proceso <span class="badge bg-transparent"><%= sales.length %></span>
            </button>
            <button type="button" class="btn btn-danger mt-2 ml-2" onclick="show('#products');">
              Productos en Stock <span class="badge bg-transparent"><%= products.length %></span>
            </button>
            <button type="button" class="btn btn-warning mt-2 ml-2" onclick="show('#sellers');">
              Vendedores Registrados <span class="badge bg-transparent"><%= SellersLen %></span>
            </button>

            <button type="button" class="btn btn-success mt-2 ml-2" onclick="show('#clients');">
              Clientes Registrados <span class="badge bg-transparent"><%= ClientsLen %></span>
            </button>

          </div>

          <div id="sales">
            <h4 class="text-center mt-4">Ventas en Proceso</h4>
            <div class="col-12 table-responsive" >
              <table class="table table-sm table-hover table-bordered">
                <thead>
                  <th>Cliente</th>
                  <th>Fecha de <br> Apertura</th>
                  <th>Vendedor</th>
                  <th>Opcion</th>
                </thead>
                <tbody>
                  <% sales.forEach(sale => { %>
                   
                    <tr>
                      <td><%= clients.indexes[sale.client] %></td>
                      <td><%= Helper.format_date(sale.createdAt) %></td>
                      <td><%= sellers.indexes[sale.seller] %></td>
                      <td><a href="/sales/view/<%= sale.id %>" class="badge circle bg-danger">Ver</a></td>
                    </tr>
                    <% }) %>
                </tbody>
              </table>
            </div>
          </div>

          <div id="clients">
            <h4 class="text-center mt-4">Clientes Registrados</h4>
            <div class="col-12 table-responsive" >
              <table class="table table-sm table-hover table-bordered">
                <thead>
                  <th>Cliente</th>
                  <th>Opcion</th>
                </thead>
                <tbody>
                  <% clients.forEach((client) => { %>
                   
                    <tr>
                      <td><%= client.name %></td>
                      <td><a href="/sales/client/view/<%= client.id %>" class="badge circle bg-danger">Ver</a></td>
                    </tr>
                    <% }) %>
                </tbody>
              </table>
            </div>
          </div>


          <div id="sellers">
            <h4 class="text-center mt-4">Vendedores Registrados</h4>
            <div class="col-12 table-responsive" >
              <table class="table table-sm table-hover table-bordered">
                <thead>
                  <th>Empleado</th>
                  <th>Opcion</th>
                </thead>
                <tbody>
                  <% sellers.forEach((client) => { %>
                   
                    <tr>
                      <td><%= client.name %></td>
                      <td><a href="/hrm/employee/<%= client.id %>" class="badge circle bg-danger">Ver</a></td>
                    </tr>
                    <% }) %>
                </tbody>
              </table>
            </div>
          </div>


          <div id="products">
            <h4 class="text-center mt-4">Productos en Stock</h4>
            <div class="col-12 table-responsive" >
              <table class="table table-sm table-hover table-bordered">
                <thead>
                  <th>Producto</th>
                  <th>Opcion</th>
                </thead>
                <tbody>
                  <% products.forEach((client) => { %>
                   
                    <tr>
                      <td><%= client.name %></td>
                      <td><a href="/inventory/product/view/<%= client.id %>" class="badge circle bg-danger">Ver</a></td>
                    </tr>
                    <% }) %>
                </tbody>
              </table>
            </div>
          </div>
          
        </div>

        
      </section>
    </div>
    <%- include('../../Layouts/Footer.ejs') %>
  </div>

  
</body>
<%- include('../../Layouts/Scripts.ejs') %>
<script>
  document.querySelector("#sales").style.display = 'block';
    document.querySelector("#clients").style.display = 'none';
    document.querySelector("#sellers").style.display = 'none';
    document.querySelector("#products").style.display = 'none';

  const show = (element) => {
    document.querySelector("#sales").style.display = 'none';
    document.querySelector("#clients").style.display = 'none';
    document.querySelector("#sellers").style.display = 'none';
    document.querySelector("#products").style.display = 'none';
    
    document.querySelector(element).style.display = 'block';

  }
</script>

</html>