<!DOCTYPE html>
<html lang="en">

<head>
   <%- include('../../Layouts/Head.ejs') %>
   <link rel="stylesheet" href="assets/libs/grid/mermaid.css">
   <link rel="stylesheet" href="assets/libs/choices/choices.min.css">
   <style>
      .botonF1 {
         cursor: pointer;
         z-index: 1050;
         width: 60px;
         height: 60px;
         border-radius: 100%;
         background: #568add !important;
         right: 0;
         bottom: 0;
         display: scroll;
         position: fixed;
         margin-right: 2rem;
         margin-bottom: 2rem;
         border: none;
         outline: none;
         color: #FFF;
         font-size: 36px;
         box-shadow: 10px 10px 22px -2px rgba(0, 0, 0, .61) !important;
         transition: .3s
      }

      .botonF1:disabled,
      .botonF1[disabled] {
         border: 1px solid #999999 !important;
         background-color: #cccccc !important;
         color: #666666 !important;
         cursor: not-allowed;
      }

      .botonF1:hover {
         transform: scale(1.1)
      }

      .botonF1 i {
         padding-left: 4px;
         font-size: 100%;
         color: white;
      }

      .product_item .card,
      .product_item img {
         border-radius: 1.5em !important;
      }

      .product_item {
         font-size: 110%;
         min-height: 150px;
      }

      .product_item img {
         border-radius: 1.5em !important;
      }

      .product_item p {
         margin-bottom: .2rem;
      }
   </style>
</head>

<body class="<%= darkMode %>">
   <%- include('../../Layouts/SideBar.ejs') %>
   <div id="main">
      <%- include('../../Layouts/NavBar.ejs') %>
      <div class="main-content container-fluid">
         <h3 class="text-center mb-4">Venta en Sala: <%= sale.id %>
            <span id="span_amount">(Monto $<%= Helper.money_format(Number.parseFloat(sale.balance) +  (sale.delivery_amount != null ? Number.parseFloat(sale.delivery_amount) : 0.00)) %>)</span></h3>
         <h3><%= cliente.name %></h3>
         <div class="row justify-content-center ">
            <div class="col table-responsive">

               <table class="table table-sm table-bordered table-hover">
                  <thead>
                     <tr>
                        <th style="width: 180px;">Item</th>
                        <th>imagen</th>
                        <th>cantidad</th>
                        <th>Precio</th>
                        <th>Opciones</th>
                     </tr>
                  </thead>
                  <tbody>
   
                     <% details.forEach(detail => { %>
                     <tr>
                        <td>
                           <img src="<%= detail.image %>" alt="Imagen del Producto" width="150px">
                        </td>
                        <td>
                           <%= detail.description %><br>
                           <span class="badge bg-blue" onclick="charge_iframe('/inventory/product/view/<%= detail.product %>')">Ver producto</span>
                        </td>
                        <td class="text-center"><%= detail.cant %></td>
                        <td class="text-center"><%= Helper.money_format(detail.price) %></td>
                        <td class="text-center"></td>
                     </tr>
                     <% }) %>
   
                     <tr>
                       <td> -- </td>
                       <td>Monto del Envio</td>
                       <td class="text-center">1</td>
                       <td class="text-center"><%= Helper.money_format(sale.delivery_amount != null ? Number.parseFloat(sale.delivery_amount) : 0.00) %></td>
                       <td class="text-center"></td>
                     </tr>
   
                  </tbody>
               </table>
            </div>

         </div>
         <%- include('../../Layouts/Footer.ejs') %>
      </div>

      <div class="modal fade" id="modalShowData" tabindex="-1" aria-labelledby="Finalize Recount Process" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-centered" role="document">
           <div class="modal-content">
              <div class="modal-header">
                 Producto <button class="btn btn-secondary" onclick="javascript: ShowDataModal.toggle();">Cerrar</button>
              </div>
              <div class="modal-body" style="width: 100%; height: 100vh;">
                 <iframe src= "" width="100%" height="100%" id="iframe_data">"No es posible visualizar el contenido"</iframe>


              </div>
           </div>
        </div>
     </div>
</body>
<%- include('../../Layouts/Scripts.ejs') %>
<script>
   const ShowDataModal = new bootstrap.Modal(document.getElementById('modalShowData'), {});
   const charge_iframe = (url) => {
      document.querySelector("#iframe_data").src = url;
      ShowDataModal.toggle();
   }
</script>

</html>