<!DOCTYPE html>
<html lang="es">

<head>

  <style>
    dl,
    ol,
    p,
    pre,
    ul {
      margin-top: 0
    }

    dd,
    legend {
      margin-bottom: .5rem
    }

    progress,
    sub,
    sup {
      vertical-align: baseline
    }

    .img-fluid,
    .img-thumbnail {
      max-width: 100%;
      height: auto
    }

    .g-0,
    .gy-0,
    .row {
      --bs-gutter-y: 0
    }



    :root {

      --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans";
      --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
      --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0))
    }

    *,
    ::after,
    ::before {
      box-sizing: border-box
    }

    body {
      margin: 0;
      font-family: var(--bs-font-sans-serif);
      font-size: .9rem;
      font-weight: 400;
      line-height: 1.5;
      color: #727e8c;
      background-color: #fff;
      -webkit-text-size-adjust: 100%;
      -webkit-tap-highlight-color: transparent
    }

    [tabindex="-1"]:focus:not(:focus-visible) {
      outline: 0 !important
    }

    hr {
      margin: 1rem 0;
      color: inherit;
      background-color: currentColor;
      border: 0;
      opacity: .25
    }

    hr:not([size]) {
      height: 1px
    }

    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 0;
      margin-bottom: .5rem;
      font-weight: 500;
      line-height: 1.2;
      color: #475f7b
    }

    address,
    dl,
    ol,
    p,
    ul {
      margin-bottom: 1rem
    }

    dt,
    kbd kbd {
      font-weight: 700
    }

    address,
    legend {
      line-height: inherit
    }

    .alert-heading,
    a>code,
    pre code {
      color: inherit
    }

    .h1,
    h1 {
      font-size: calc(1.35rem + 1.2vw)
    }

    .h2,
    h2 {
      font-size: calc(1.305rem + .66vw)
    }

    .h3,
    h3 {
      font-size: calc(1.2825rem + .39vw)
    }

    .h4,
    h4 {
      font-size: calc(1.26rem + .12vw)
    }

    .h5,
    h5 {
      font-size: 1.125rem
    }

    .h6,
    h6 {
      font-size: .9rem
    }

    abbr[data-original-title],
    abbr[title] {
      text-decoration: underline;
      -webkit-text-decoration: underline dotted;
      text-decoration: underline dotted;
      cursor: help;
      -webkit-text-decoration-skip-ink: none;
      text-decoration-skip-ink: none
    }

    .badge,
    .btn,
    [role=button],
    [type=button]:not(:disabled),
    [type=reset]:not(:disabled),
    [type=submit]:not(:disabled),
    button:not(:disabled),
    summary {
      cursor: pointer
    }

    address {
      font-style: normal
    }

    ol,
    ul {
      padding-left: 2rem
    }

    .blockquote>:last-child,
    .card-text:last-child,
    ol ol,
    ol ul,
    ul ol,
    ul ul {
      margin-bottom: 0
    }

    dd {
      margin-left: 0
    }

    blockquote,
    figure {
      margin: 0 0 1rem
    }

    .blockquote,
    .blockquote-footer,
    pre {
      margin-bottom: 1rem
    }

    b,
    strong {
      font-weight: bolder
    }

    .small,
    small {
      font-size: .875em
    }

    .mark,
    mark {
      padding: .2em;
      background-color: #fcf8e3
    }

    sub,
    sup {
      position: relative;
      font-size: .75em;
      line-height: 0
    }

    sub {
      bottom: -.25em
    }

    sup {
      top: -.5em
    }

    a {
      color: #0d6efd;
      text-decoration: underline
    }

    .btn-link:hover,
    a:hover {
      color: #024dbc
    }

    a:not([href]):not([class]),
    a:not([href]):not([class]):hover {
      color: inherit;
      text-decoration: none
    }

    code,
    kbd,
    pre,
    samp {
      font-family: var(--bs-font-monospace);
      font-size: 1em
    }

    code,
    kbd,
    pre {
      font-size: .875em
    }

    pre {
      display: block;
      overflow: auto;
      -ms-overflow-style: scrollbar
    }

    pre code {
      font-size: inherit;
      word-break: normal
    }

    code {
      color: #d63384
    }

    kbd {
      padding: .2rem .4rem;
      color: #fff;
      background-color: #212529;
      border-radius: .2rem
    }

    kbd kbd {
      padding: 0;
      font-size: 1em
    }

    img,
    svg {
      vertical-align: middle
    }

    table {
      caption-side: bottom;
      border-collapse: collapse
    }

    caption {
      padding-top: 1.15rem;
      padding-bottom: 1.15rem;
      color: #ced4da;
      text-align: left
    }

    th {
      text-align: inherit;
      text-align: -webkit-match-parent
    }

    tbody,
    td,
    tfoot,
    th,
    thead,
    tr {
      border: 0 solid;
      border-color: inherit
    }

    .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
      width: 100%;
      padding-right: 1rem;
      padding-left: 1rem;
      margin-right: auto;
      margin-left: auto
    }

    .row {
      --bs-gutter-x: 1.5rem;
      display: flex;
      flex: 1 0 100%;
      flex-wrap: wrap;
      margin-top: calc(var(--bs-gutter-y) * -1);
      margin-right: calc(var(--bs-gutter-x)/ -2);
      margin-left: calc(var(--bs-gutter-x)/ -2)
    }

    .row>* {
      flex-shrink: 0;
      width: 100%;
      max-width: 100%;
      padding-right: calc(var(--bs-gutter-x)/ 2);
      padding-left: calc(var(--bs-gutter-x)/ 2);
      margin-top: var(--bs-gutter-y)
    }

    .col {
      flex: 1 0 0%
    }

    .col-auto,
    .row-cols-auto>* {
      flex: 0 0 auto;
      width: auto
    }

    .col-12,
    .row-cols-1>* {
      flex: 0 0 auto;
      width: 100%
    }

    .col-6,
    .row-cols-2>* {
      flex: 0 0 auto;
      width: 50%
    }

    .col-4,
    .row-cols-3>* {
      flex: 0 0 auto;
      width: 33.3333333333%
    }

    .col-3,
    .row-cols-4>* {
      flex: 0 0 auto;
      width: 25%
    }

    .row-cols-5>* {
      flex: 0 0 auto;
      width: 20%
    }

    .col-2,
    .row-cols-6>* {
      flex: 0 0 auto;
      width: 16.6666666667%
    }

    .col-1,
    .col-5 {
      flex: 0 0 auto
    }

    .col-1 {
      width: 8.3333333333%
    }

    .col-5 {
      width: 41.6666666667%
    }

    .col-7,
    .col-8 {
      flex: 0 0 auto
    }

    .col-7 {
      width: 58.3333333333%
    }

    .col-8 {
      width: 66.6666666667%
    }

    .col-9 {
      flex: 0 0 auto;
      width: 75%
    }

    .col-10 {
      flex: 0 0 auto;
      width: 83.3333333333%
    }

    .col-11 {
      flex: 0 0 auto;
      width: 91.6666666667%
    }

    .table {
      --bs-table-bg: transparent;
      --bs-table-accent-bg: transparent;
      --bs-table-striped-color: #727E8C;
      --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
      --bs-table-active-color: #727E8C;
      --bs-table-active-bg: rgba(0, 0, 0, 0.1);
      --bs-table-hover-color: #727E8C;
      --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
      width: 100%;
      margin-bottom: 1rem;
      color: #727e8c;
      vertical-align: top;
      border-color: #dfe3e7
    }


    .table>:not(caption)>*>* {
      padding: 1.15rem 2rem;
      background-color: var(--bs-table-bg);
      background-image: linear-gradient(var(--bs-table-accent-bg), var(--bs-table-accent-bg));
      border-bottom-width: 1px
    }

    .table>tbody {
      vertical-align: inherit
    }

    .table>thead {
      vertical-align: bottom
    }

    .table>:not(:last-child)>:last-child>* {
      border-bottom-color: #dfe3e7
    }

    .caption-top {
      caption-side: top
    }

    .table-sm>:not(caption)>*>* {
      padding: .25rem
    }

    .table-bordered>:not(caption)>* {
      border-width: 1px 0
    }

    .table-bordered>:not(caption)>*>* {
      border-width: 0 1px
    }

    .list-group-flush>.list-group-item:last-child,
    .table-borderless>:not(caption)>*>* {
      border-bottom-width: 0
    }




    .align-baseline {
      vertical-align: baseline !important
    }

    .align-top {
      vertical-align: top !important
    }

    .align-middle {
      vertical-align: middle !important
    }

    .align-bottom {
      vertical-align: bottom !important
    }

    .align-text-bottom {
      vertical-align: text-bottom !important
    }

    .align-text-top {
      vertical-align: text-top !important
    }

    .float-left {
      float: left !important
    }

    .float-right {
      float: right !important
    }

    .float-none {
      float: none !important
    }

    .overflow-auto {
      overflow: auto !important
    }

    .overflow-hidden {
      overflow: hidden !important
    }




    .w-25 {
      width: 25% !important
    }

    .w-50 {
      width: 50% !important
    }

    .w-75 {
      width: 75% !important
    }

    .w-100 {
      width: 100% !important
    }

    .w-auto {
      width: auto !important
    }

    .mw-100 {
      max-width: 100% !important
    }

    .vw-100 {
      width: 100vw !important
    }

    .min-vw-100 {
      min-width: 100vw !important
    }

    .h-25 {
      height: 25% !important
    }

    .h-50 {
      height: 50% !important
    }

    .h-75 {
      height: 75% !important
    }

    .h-100 {
      height: 100% !important
    }

    .h-auto {
      height: auto !important
    }

    .mh-100 {
      max-height: 100% !important
    }

    .vh-100 {
      height: 100vh !important
    }

    .min-vh-100 {
      min-height: 100vh !important
    }

    .flex-fill {
      flex: 1 1 auto !important
    }

    .flex-row {
      flex-direction: row !important
    }

    .flex-column {
      flex-direction: column !important
    }

    .flex-row-reverse {
      flex-direction: row-reverse !important
    }

    .flex-column-reverse {
      flex-direction: column-reverse !important
    }

    .flex-grow-0 {
      flex-grow: 0 !important
    }

    .flex-grow-1 {
      flex-grow: 1 !important
    }

    .flex-shrink-0 {
      flex-shrink: 0 !important
    }

    .flex-shrink-1 {
      flex-shrink: 1 !important
    }

    .flex-wrap {
      flex-wrap: wrap !important
    }

    .flex-nowrap {
      flex-wrap: nowrap !important
    }

    .flex-wrap-reverse {
      flex-wrap: wrap-reverse !important
    }

    .justify-content-start {
      justify-content: flex-start !important
    }

    .justify-content-end {
      justify-content: flex-end !important
    }

    .justify-content-center {
      justify-content: center !important
    }

    .justify-content-between {
      justify-content: space-between !important
    }

    .justify-content-around {
      justify-content: space-around !important
    }

    .justify-content-evenly {
      justify-content: space-evenly !important
    }

    .align-items-start {
      align-items: flex-start !important
    }

    .align-items-end {
      align-items: flex-end !important
    }

    .align-items-center {
      align-items: center !important
    }

    .align-items-baseline {
      align-items: baseline !important
    }

    .align-items-stretch {
      align-items: stretch !important
    }

    .align-content-start {
      align-content: flex-start !important
    }

    .align-content-end {
      align-content: flex-end !important
    }

    .align-content-center {
      align-content: center !important
    }

    .align-content-between {
      align-content: space-between !important
    }

    .align-content-around {
      align-content: space-around !important
    }

    .align-content-stretch {
      align-content: stretch !important
    }

    .align-self-auto {
      align-self: auto !important
    }

    .align-self-start {
      align-self: flex-start !important
    }

    .align-self-end {
      align-self: flex-end !important
    }

    .align-self-center {
      align-self: center !important
    }

    .align-self-baseline {
      align-self: baseline !important
    }

    .align-self-stretch {
      align-self: stretch !important
    }



    .m-0 {
      margin: 0 !important
    }

    .m-1 {
      margin: .25rem !important
    }

    .m-2 {
      margin: .5rem !important
    }

    .m-3 {
      margin: 1rem !important
    }

    .m-4 {
      margin: 1.5rem !important
    }

    .m-5 {
      margin: 3rem !important
    }

    .m-auto {
      margin: auto !important
    }

    .mx-0 {
      margin-right: 0 !important;
      margin-left: 0 !important
    }

    .mx-1 {
      margin-right: .25rem !important;
      margin-left: .25rem !important
    }

    .mx-2 {
      margin-right: .5rem !important;
      margin-left: .5rem !important
    }

    .mx-3 {
      margin-right: 1rem !important;
      margin-left: 1rem !important
    }

    .mx-4 {
      margin-right: 1.5rem !important;
      margin-left: 1.5rem !important
    }

    .mx-5 {
      margin-right: 3rem !important;
      margin-left: 3rem !important
    }

    .mx-auto {
      margin-right: auto !important;
      margin-left: auto !important
    }

    .my-0 {
      margin-top: 0 !important;
      margin-bottom: 0 !important
    }

    .my-1 {
      margin-top: .25rem !important;
      margin-bottom: .25rem !important
    }

    .my-2 {
      margin-top: .5rem !important;
      margin-bottom: .5rem !important
    }

    .my-3 {
      margin-top: 1rem !important;
      margin-bottom: 1rem !important
    }

    .my-4 {
      margin-top: 1.5rem !important;
      margin-bottom: 1.5rem !important
    }

    .my-5 {
      margin-top: 3rem !important;
      margin-bottom: 3rem !important
    }

    .my-auto {
      margin-top: auto !important;
      margin-bottom: auto !important
    }

    .mt-0 {
      margin-top: 0 !important
    }

    .mt-1 {
      margin-top: .25rem !important
    }

    .mt-2 {
      margin-top: .5rem !important
    }

    .mt-3 {
      margin-top: 1rem !important
    }

    .mt-4 {
      margin-top: 1.5rem !important
    }

    .mt-5 {
      margin-top: 3rem !important
    }

    .mt-auto {
      margin-top: auto !important
    }

    .mr-0 {
      margin-right: 0 !important
    }

    .mr-1 {
      margin-right: .25rem !important
    }

    .mr-2 {
      margin-right: .5rem !important
    }

    .mr-3 {
      margin-right: 1rem !important
    }

    .mr-4 {
      margin-right: 1.5rem !important
    }

    .mr-5 {
      margin-right: 3rem !important
    }

    .mr-auto {
      margin-right: auto !important
    }

    .mb-0 {
      margin-bottom: 0 !important
    }

    .mb-1 {
      margin-bottom: .25rem !important
    }

    .mb-2 {
      margin-bottom: .5rem !important
    }

    .mb-3 {
      margin-bottom: 1rem !important
    }

    .mb-4 {
      margin-bottom: 1.5rem !important
    }

    .mb-5 {
      margin-bottom: 3rem !important
    }

    .mb-auto {
      margin-bottom: auto !important
    }

    .ml-0 {
      margin-left: 0 !important
    }

    .ml-1 {
      margin-left: .25rem !important
    }

    .ml-2 {
      margin-left: .5rem !important
    }

    .ml-3 {
      margin-left: 1rem !important
    }

    .ml-4 {
      margin-left: 1.5rem !important
    }

    .ml-5 {
      margin-left: 3rem !important
    }

    .ml-auto {
      margin-left: auto !important
    }

    .p-0 {
      padding: 0 !important
    }

    .p-1 {
      padding: .25rem !important
    }

    .p-2 {
      padding: .5rem !important
    }

    .p-3 {
      padding: 1rem !important
    }

    .p-4 {
      padding: 1.5rem !important
    }

    .p-5 {
      padding: 3rem !important
    }

    .px-0 {
      padding-right: 0 !important;
      padding-left: 0 !important
    }

    .px-1 {
      padding-right: .25rem !important;
      padding-left: .25rem !important
    }

    .px-2 {
      padding-right: .5rem !important;
      padding-left: .5rem !important
    }

    .px-3 {
      padding-right: 1rem !important;
      padding-left: 1rem !important
    }

    .px-4 {
      padding-right: 1.5rem !important;
      padding-left: 1.5rem !important
    }

    .px-5 {
      padding-right: 3rem !important;
      padding-left: 3rem !important
    }

    .py-0 {
      padding-top: 0 !important;
      padding-bottom: 0 !important
    }

    .py-1 {
      padding-top: .25rem !important;
      padding-bottom: .25rem !important
    }

    .py-2 {
      padding-top: .5rem !important;
      padding-bottom: .5rem !important
    }

    .py-3 {
      padding-top: 1rem !important;
      padding-bottom: 1rem !important
    }

    .py-4 {
      padding-top: 1.5rem !important;
      padding-bottom: 1.5rem !important
    }

    .py-5 {
      padding-top: 3rem !important;
      padding-bottom: 3rem !important
    }

    .pt-0 {
      padding-top: 0 !important
    }

    .pt-1 {
      padding-top: .25rem !important
    }

    .pt-2 {
      padding-top: .5rem !important
    }

    .pt-3 {
      padding-top: 1rem !important
    }

    .pt-4 {
      padding-top: 1.5rem !important
    }

    .pt-5 {
      padding-top: 3rem !important
    }

    .pr-0 {
      padding-right: 0 !important
    }

    .pr-1 {
      padding-right: .25rem !important
    }

    .pr-2 {
      padding-right: .5rem !important
    }

    .pr-3 {
      padding-right: 1rem !important
    }

    .pr-4 {
      padding-right: 1.5rem !important
    }

    .pr-5 {
      padding-right: 3rem !important
    }

    .pb-0 {
      padding-bottom: 0 !important
    }

    .pb-1 {
      padding-bottom: .25rem !important
    }

    .pb-2 {
      padding-bottom: .5rem !important
    }

    .pb-3 {
      padding-bottom: 1rem !important
    }

    .pb-4 {
      padding-bottom: 1.5rem !important
    }

    .pb-5 {
      padding-bottom: 3rem !important
    }

    .pl-0 {
      padding-left: 0 !important
    }

    .pl-1 {
      padding-left: .25rem !important
    }

    .pl-2 {
      padding-left: .5rem !important
    }

    .pl-3 {
      padding-left: 1rem !important
    }

    .pl-4 {
      padding-left: 1.5rem !important
    }

    .pl-5 {
      padding-left: 3rem !important
    }

    .font-weight-light {
      font-weight: 300 !important
    }

    .font-weight-lighter {
      font-weight: lighter !important
    }

    .font-weight-normal {
      font-weight: 400 !important
    }

    .font-weight-bold {
      font-weight: 700 !important
    }

    .font-weight-bolder {
      font-weight: bolder !important
    }

    .text-lowercase {
      text-transform: lowercase !important
    }

    .text-uppercase {
      text-transform: uppercase !important
    }

    .text-capitalize {
      text-transform: capitalize !important
    }

    .text-left {
      text-align: left !important
    }

    .text-right {
      text-align: right !important
    }

    .text-center {
      text-align: center !important
    }


    .font-monospace {
      font-family: var(--bs-font-monospace) !important
    }

    .bold {
      font-weight: bold;
      font-size: .9rem;
    }

    .semi-bold {
      font-weight: bold;
      font-size: .8rem;
    }

    body {
      font-size: 0.75rem;
      color: black !important
    }

    table,
    .table * {
      color: black !important
    }

    .invoice-container {
      max-width: 800px;
      margin: 1rem auto;
    }

    .invoice-header {
      border-bottom: 2px solidrgb(0, 0, 0);
      padding-bottom: 1rem;
      margin-bottom: 1.5rem;
    }

    .invoice-title {
      font-weight: bold;
      color: #495057;
      font-size: 1.1rem;
    }

    .info-box {
      border: 1px solid #ced4da;
      padding: 0.8rem;
      border-radius: 0.25rem;
    }

    .info-box h5 {
      font-size: 0.9rem;
      /* Tamaño de títulos de cajas reducido */
      font-weight: bold;
      color: rgb(61, 61, 61);
      margin-bottom: 0.75rem;
    }

    .totals-table {
      font-size: 0.85rem;
    }

    .totals-table td:first-child {
      font-weight: bold;
      text-align: right;
      padding-right: 1rem;
    }

    .qr-code-placeholder {
      width: 120px;
      height: 120px;
      border: 2px dashed #adb5bd;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #6c757d;
      font-size: 0.8rem;
      text-align: center;
      margin-top: 1rem;
    }

    .table {
      font-size: 0.75rem;
      line-height: 1.2;
      /* Letra más pequeña en la tabla */
    }

    .table thead th {
      background-color: #020202 !important;
      color: white !important;
    }
  </style>
</head>

<body>
  <div class="invoice-container">
    <!-- SECCIÓN DE ENCABEZADO Y TÍTULOS -->
    <header class="invoice-header">
      <div class="row align-items-center">
        <div class="col-6 text-center mb">
          <img src="/assets/images/logo3.png"  alt="Logo" style="width: 75mm; ">
        </div>
        <div class="col-6 text-center">
            <p class="bold"> DOCUMENTO TRIBUTARIO ELECTRÓNICO <br>COMPROBANTE DE CREDITO FISCAL <small>(Ver. <%= dte.identificacion.version   %>) </small></p>
        </div>
      </div>

      <div class="row align-items-center">
        <div class="col-6">
          <p class="mb-1">
            <strong>Código de Generación:</strong><br>
            <span><%= dte.identificacion.codigoGeneracion %></span>
          </p>
          <p class="mb-1">
            <strong>Número de Control:</strong> <br>
            <span><%= dte.identificacion.numeroControl %></span>
          </p>
          <p class="mb-0">
            <strong>Sello Recepción:</strong><br>
            <span><%= dte.selloRecibido %></span>
          </p>
        </div>

        <div class="col-3">
          <div class="qr-code-placeholder">
            <img src="<%= qrImage%>" alt="QRCODE" width="100%">
          </div>
        </div>

        <div class="col-3">
          <p class="mb-0">
            <strong>Modelo de Facturación:</strong><br>
            <span><%= dte.identificacion.tipoModelo == 1 ? "Modelo de Facturación previo" : "Modelo de Facturación diferido" %></span>
          </p>

          <p class="mb-0">
            <strong>Fecha y Hora de Generación:</strong><br>
            <span>
              <%= Helper.format_date(`${dte.identificacion.fecEmi} ${dte.identificacion.horEmi}`, true) %>
            </span>
          </p>
        </div>
      </div>
    </header>

    <!-- SECCIÓN DE EMISOR Y RECEPTOR -->
    <div class="row">

      <div class="col-6">
         <div class="info-box">
          <h5>EMISOR</h5>
          <h5><%= dte.emisor.nombre %></h5>

          <p class="mb-1">
            <strong>NIT:</strong>
            <span>
              <%= dte.emisor.nit %>
            </span>
            &nbsp;&nbsp;
            <strong>NRC:</strong>
            <span>
              <%= dte.emisor.nrc %>
            </span>
          </p>
          <p class="mb-1">
            <strong>Actividad económica:</strong>
            <span>
              <%= dte.emisor.descActividad %>
            </span>
          </p>



          <p class="mb-1">
            <strong>Número de teléfono:</strong>
            <span>
              <%= dte.emisor.telefono %>
            </span>
          </p>
          <p class="mb-1">
            <strong>Correo electrónico:</strong>
            <span>
              <%= dte.emisor.correo %>
            </span>
          </p>

          <p class="mb-1">
            <strong>Nombre comercial:</strong>
            <span>
              <%= dte.emisor.nombreComercial %>
            </span>
          </p>

          <p class="mb-1">
            <strong>Establecimiento:</strong>
            <%= dte.emisor.tipoEstablecimiento == "01" ?  "Sucursal" : "Casa Matriz"  %> <%= sucursal %>
          </p>
          <p class="mb-1">
            <strong>Dirección:</strong>
            <%= data.emisor_direction %>
            <%= sucursal.name %>
          </p>


        </div>

      </div>



      <div class="col-6">
        
      </div>

    </div>

    <div class="table-responsive mb-4 mt-4">
      <table class="table table-bordered table-sm">
        <thead class="text-center">
          <tr>
            <th>N°</th>
            <th>Cantidad</th>
            <th>Unidad</th>
            <th>Descripción</th>
            <th>Precio Unitario</th>
            <th>Ventas No Sujetas</th>
            <th>Ventas Exentas</th>
            <th>Ventas Gravadas</th>
          </tr>
        </thead>
        <tbody id="cuerpoDocumento">
          <% dte.cuerpoDocumento.forEach(element => { %>
          <tr>
            <td class="text-center"><%= element.numItem %></td>
            <td class="text-center"><%= element.cantidad %></td>
            <td class="text-center"><%= element.uniMedida == 59 ? "Unidad" : element.uniMedida %></td>
            <td class="text-left"><%= element.descripcion %></td>
            <td class="text-right">$<%= Helper.money_format(element.precioUni, 2) %></td>
            <td class="text-right">$<%= Helper.money_format(element.ventaNoSuj, 2) %></td>
            <td class="text-right">$<%= Helper.money_format(element.ventaExenta, 2) %></td>
            <td class="text-right">$<%= Helper.money_format(element.ventaGravada, 2) %></td>
          </tr>

          <% }) %>

          <tr class="semi-bold">
            <td colspan="5" class="text-right">
              SUMAS:
            </td>
            <td class="text-right">$<%= Helper.money_format(dte.resumen.totalNoSuj, 2) %></td>
            <td class="text-right">$<%= Helper.money_format(dte.resumen.totalExenta, 2) %></td>
            <td class="text-right">$<%= Helper.money_format(dte.resumen.totalGravada, 2) %></td>
          </tr>

        </tbody>
      </table>
    </div>
    <!-- SECCIÓN DE TOTALES Y QR -->
    <div class="row">
      <!-- Columna Izquierda: Letras, Observaciones y QR -->
      <div class="col-7">
        <p>
          <strong>Valor en Letras:</strong>
          <span class="semi-bold">
            &nbsp; <%= dte.resumen.totalLetras %>
          </span>
        </p>

        <p><strong>Condición de la Operación:</strong> <span>
            <%= dte.resumen.condicionOperacion == 1 ? "Contado" : "Credito" %>

          </span></p>

      </div>
      <% if (dte.identificacion.tipoDte == "01") { %>
      <!-- Columna Derecha: Tabla de Totales -->
      <div class="col-5">
        <table class="table table-sm totals-table">
          <tbody>
            <tr>
              <td>Sub-total:</td>
              <td class="text-right">
                $<%= Helper.money_format(dte.resumen.subTotalVentas, 2) %>
              </td>
            </tr>
            <tr>
              <td>IVA Retenido:</td>
              <td class="text-right">
                $<%= Helper.money_format(dte.resumen.ivaRete1, 2) %>
              </td>
            </tr>
            <tr>
              <td>Retención Renta:</td>
              <td class="text-right">
                $<%= Helper.money_format(dte.resumen.reteRenta, 2) %>
              </td>
            </tr>
            <tr>
              <td>Monto Total Operación:</td>
              <td class="text-right">
                $<%= Helper.money_format(dte.resumen.montoTotalOperacion, 2) %>
              </td>
            </tr>
            <tr class="fw-bold fs-6">
              <td>Total a Pagar:</td>
              <td class="text-right">
                <b> $<%= Helper.money_format(dte.resumen.totalPagar, 2) %></b>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <% }else if(dte.identificacion.tipoDte == "03"){%>
      <!-- Columna Derecha: Tabla de Totales -->
      <div class="col-5">
        <table class="table table-sm totals-table">
          <tbody>
            <tr>
              <td>IVA:</td>
              <td class="text-right">
                $<%= Helper.money_format(dte.resumen.subTotalVentas, 2) %>
              </td>
            </tr>
            <tr>
              <td>Sub-total:</td>
              <td class="text-right">
                $<%= Helper.money_format(dte.resumen.subTotalVentas, 2) %>
              </td>
            </tr>
            <tr>
              <td>IVA Retenido:</td>
              <td class="text-right">
                $<%= Helper.money_format(dte.resumen.ivaRete1, 2) %>
              </td>
            </tr>
            <tr>
              <td>Retención Renta:</td>
              <td class="text-right">
                $<%= Helper.money_format(dte.resumen.reteRenta, 2) %>
              </td>
            </tr>
            <tr>
              <td>Monto Total Operación:</td>
              <td class="text-right">
                $<%= Helper.money_format(dte.resumen.montoTotalOperacion, 2) %>
              </td>
            </tr>
            <tr class="fw-bold fs-6">
              <td>Total a Pagar:</td>
              <td class="text-right">
                <b> $<%= Helper.money_format(dte.resumen.totalPagar, 2) %></b>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <%} %>

    </div>
    <!-- PIE DE PÁGINA -->
    <footer class="mt-4 pt-3 border-top text-muted text-center">
      <p>
        Fecha de Procesamiento: <span></span>
        <%= Helper.format_date(`${dte.responseMH.fhProcesamiento}`, true) %>
      </p>
    </footer>
  </div>

</body>

</html>