<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../Layouts/Head.ejs') %>
  <%- include('pos_styles.ejs') %>
</head>

<body class="<%= darkMode %>">

  <div class="container-fluid py-4">



    <div class="card round">
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-9">
            <h4 class="mb-3 fw-bold text-center">Modulo de Facturación <button class="badge badge-pill bg-purple" onclick="location.reload()"> Reset</button></h4>
            <!-- Navigation -->
            <div class="category-nav text-center">
              <button class="btn btn-sm round btn-outline-primary mt-2" data-bs-target="#search_order" data-bs-toggle="modal">Cargar Orden</button>
              <button class="btn btn-sm round btn-outline-danger mt-2" data-bs-toggle="modal" data-bs-target="#search_client">Buscar Cliente</button>
              <button class="btn btn-sm round btn-outline-success mt-2" data-bs-toggle="modal" data-bs-target="#registrarClienteModal">Registrar Cliente</button>
              <button class="btn btn-sm round btn-outline-warning mt-2" data-bs-target="#ordertobeBilledModal" data-bs-toggle="modal" onclick="ordersToBeBilled()">Facturacion Pendiente</button>
              <button class="btn btn-sm round btn-outline-secondary mt-2" data-bs-toggle="modal" data-bs-target="#guidesModal" onclick="ordersGuides()">Viñetas pendientes</button>
            </div>
            <div class="table-responsive" id="div_details">
              <table class="table table-sm table hover">
                <thead>
                  <tr>
                    <th scope="col">Img</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Subtotal</th>
                  </tr>
                </thead>
                <tbody id="body_details">

                </tbody>

              </table>
            </div>
          </div>
          <div class="col-12 col-md-3" id="second_section">
            <%- include('pos_order_section.ejs') %>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div>
    <textarea class="form-control" id="signedTextArea"></textarea>
  </div>
</body>
<%- include('pos_modals_section.ejs') %>
<%- include('../Layouts/Scripts.ejs') %>
<script src="assets/libs/choices/choices.min.js"></script>
<script>
  
</script>
<%- include('pos_actions_and_buttons.ejs') %>

</html>