<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../Layouts/Head.ejs') %>
  <!-- <link rel="stylesheet" href="assets/libs/choices/base.min.css"> -->
  <link rel="stylesheet" href="assets/libs/choices/choices.min.css">
  <%# custom styles %>
</head>

<body class="<%= darkMode %>">
  <%- include('../../Layouts/SideBar.ejs') %>
  <div id="main">
    <% options = `<a class="ml-5" href="/inventory/product/view/${product.id}" style="width: 150px;"><i class="fas fa-arrow-alt-circle-left mr-3"></i>Atrás</a>`; %>
    <%- include('../../Layouts/NavBar.ejs') %>
    <div class="main-content container-fluid">
      <div class="row justify-content-center">
        <section class="section col-8">
          <div class="card">
            <div class="card-body">

              <form class="row g-3">
                <div class="form-floating mb-3 col-12">
                  <input class="form-control" id="productName" type="text" placeholder="Nombre del Producto" value = "<%= product.name%>">
                  <label for="productName">Nombre del producto</label>
                </div>

                <div class="form-floating mb-3 col-md-6">
                  <input class="form-control" id="provider_code" type="text" placeholder="Codigo del Proveedor / Numero de Parte" value="<%= product.provider_code %>">
                  <label for="provider_code">Codigo del Proveedor</label>
                </div>

                <div class="form-floating mb-3 col-md-6 col-9">
                  <input class="form-control" id="internal_code" type="text" placeholder="SKU" disabled value="<%= product.internal_code %>">
                  <label for="internal_code">SKU</label>
                </div>

                

                <div class="form-floating mb-3 col-md-12">
                  <textarea class="form-control" name="description" id="description" rows="4"><%= product.description %></textarea>
                  <label for="description">Descripción del producto</label>
                </div>

                <div class=" mb-3 col-md-6">
                  <label for="productProvider">Proveedor</label>
                  <select name="productProvider" id="productProvider" class="form-control">
                    <% if (product.provider !== null && product.provider !== undefined) { %>
                      <option value="<%= product.provider %>"><%= provider.name %></option>
                     
                    <% } %>
                  </select>
                </div>

                <div class=" mb-3 col-md-6">
                  <label for="productClassification">Clasificación</label>
                  <select name="productClassification" id="productClassification" class="form-control">
                    <option value="<%= product.classification %>"><%= classification.name %></option>
                  </select>
                </div>

                <div class="form-floating mb-3 col-md-6">
                  <input class="form-control" id="min_stock" type="number" step="1" placeholder="Stock minimo" value="<%= product.min_stock %>">
                  <label for="min_stock">Stock Minimo</label>
                </div>


                <div class="form-floating mb-3 col-md-6">
                  <input class="form-control" id="max_stock" type="number" placeholder="0" value="<%= product.max_stock %>">
                  <label for="max_stock">Stock Maximo</label>
                </div>

                <div class="form-floating mb-3 col-md-6">
                  <input class="form-control" id="base_price" type="number" step="0.01" min="0.01" placeholder="10.25" value="<%= product.base_price %>">
                  <label for="base_price">Precio Regular</label>
                </div>

                <div class="form-floating mb-3 col-md-6">
                  <input class="form-control" id="major_price" type="number" step="0.01" min="0.01" placeholder="10.25" value="<%= product.major_price %>">
                  <label for="major_price">Precio de Revendedor</label>
                </div>

                <div class="col-md-12 row">
                  <div class="col-md-6">
                    <div class="col-md-12">
                      <div class="form-group text-center">
                        <label for="fake_image_input" class="subir" style="font-size: 2rem; cursor: pointer;">
                          <i class="fas fa-cloud-upload-alt"></i>
                          <b>Subir</b>
                          Imagen
                        </label>
                        <input type="file" accept="image/*" name="add_image" id="fake_image_input" style="display: none;">
                      </div>
                    </div>
                    <div class="col-md-12 text-center">Ó</div>

                    <div class="col-md-12 text-center">
                      <div class="form-group">
                        <input type="text" id="add-image-fake_text" class="form-control" placeholder="Pega aqui una imagen">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div id="add_image_preview">
                      <% if(product.image !== null && product.image.length > 0) {%>
                        <img src="<%= product.image %>" class="shadow-4-strong" alt="<%= product.name %>" style="max-width: 100%; border-radius: 1rem;">
                        <% }else{ %>
                        <img src="/upload/images/image-not-found.png" class="shadow-4-strong" alt="<%= product.name %>" style="max-width: 100%; border-radius: 1rem;">
                        <% } %>
                    </div>
                  </div>
                  <input type="hidden" id="add_image_real" name="add_image_real">
                </div>

              </form>
            </div>
            <div class="card-footer text-center">
              <button type="button" class="btn btn-secondary" onclick="window.history.back()">Cerrar</button>
              <button type="button" class="btn btn-primary" id="saveproduct">Guardar</button>
            </div>
          </div>


        </section>
      </div>
    </div>

    <%- include('../../Layouts/Footer.ejs') %>
  </div>
</body>
<%- include('../../Layouts/Scripts.ejs') %>
<script src="assets/libs/choices/choices.min.js"></script>
<script>
  var product_last_val = '',
    category_last_val = '';

 //recorte de imagen del pproducto principal
   var previewimagezone = document.getElementById("add_image_preview");
   var realImage = document.getElementById("add_image_real");
   captureImagePasted(document.getElementById("add-image-fake_text"), previewimagezone, 1 / 1, realImage);

   document.getElementById('fake_image_input').onchange = function(e) {
      if (addingImageValidateImage(this)) {
         AddingImageChargeFromFile(e.srcElement, previewimagezone, 1 / 1, realImage);
      } else {
         document.getElementById("add_image_preview").innerHTML = "";
         realImage.value = "";
         return errorMessage('Tipo de Archivo no Admitido. Por favor seleccione un archivo de imagen');
      }
   };

  
  const doSearchProvider = async (val) => {
    // Opciones por defecto estan marcadas con un *
    const response = await fetch(`/inventory/provider/select2?search=${encodeURIComponent(val)}`, {
      mode: 'cors', // no-cors, *cors, same-origin
      cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
      credentials: 'same-origin', // include, *same-origin, omit
      headers: {
        'Content-Type': 'application/json'
        // 'Content-Type': 'application/x-www-form-urlencoded',
      },
      redirect: 'follow', // manual, *follow, error
      referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, 
    });
    return response.json(); // parses JSON response into native JavaScript objects
  }

  const doSearchCategories = async (val) => {
    // Opciones por defecto estan marcadas con un *
    const response = await fetch(`/inventory/productClassifications/select2?search=${encodeURIComponent(val)}`, {
      mode: 'cors', 
      cache: 'no-cache',
      credentials: 'same-origin', 
      headers: {
        'Content-Type': 'application/json'
      },
      redirect: 'follow',
      referrerPolicy: 'no-referrer', 
    });
    return response.json(); 
  }
  

  //document ready
  document.addEventListener("DOMContentLoaded", (event) => {

    document.getElementById("productName").focus();

    document.getElementById('max_stock').addEventListener('focus', e => {
      if (e.target.value == 100) {
        e.target.value = '';
      }
    });

    document.getElementById('min_stock').addEventListener('focus', e => {
      if (e.target.value == 0) {
        e.target.value = '';
      }
    });

    document.getElementById('max_stock').addEventListener('blur', e => {
      if (e.target.value == '') {
        e.target.value = 100;
      }
    });

    document.getElementById('min_stock').addEventListener('blur', e => {
      if (e.target.value == '') {
        e.target.value = 0;
      }
    });

    document.getElementById('base_price').addEventListener('focus', e => {
      if (e.target.value == 0.00) {
        e.target.value = '';
      }
    });

    document.getElementById('base_price').addEventListener('blur', e => {
      if (e.target.value == '') {
        e.target.value = 0.00;
      }
    });

    document.getElementById("internal_code").addEventListener('blur', e => {
      if (document.getElementById("provider_code").value !== '') {
        e.target.value = document.getElementById("provider_code").value;
      }
    });



    //form controls validation
    document.getElementById('saveproduct').addEventListener('click', async (e) => {
      e.target.disabled = true;
      message = null;
      let data = {
        name: document.getElementById("productName").value,
        code: document.getElementById("provider_code").value,
        description: document.getElementById("description").value,
        min_stock: document.getElementById("min_stock").value,
        max_stock: document.getElementById("max_stock").value,
        price: document.getElementById("base_price").value,
        major: document.getElementById("major_price").value,
        image: document.getElementById("add_image_real").value,
        provider: document.getElementById("productProvider").value,
        classification: document.getElementById("productClassification").value,
      }

      if (data.name.length < 2) {
        message = 'Por favor, proporcione el nombre de este producto';
      } else if (data.description.length < 10) {
        message = 'Proporcione una descripción';
      } else if (data.classification == "") {
        message = 'Seleccione una clasificación';
      }

      if (message === null) {
        console.log(data)
        /** Enviar Informacion al Servidor y volver a Validar*/
        postData('/inventory/product/edit/<%= product.id %>', data)
          .then(data => {
            if (data.status == 'success') {
              successMessage('Actualizado con Exito, redirigiendo');
              /**Redirigir a la pagina del Proveedor*/
              setTimeout(() => {
                location.href = `/inventory/product/view/<%= product.id %>`;
              }, 1500);

            } else if (data.status == 'errorMessage') {
              e.target.disabled = false;
              return errorMessage(data.message);
            } else {
              return errorMessage('Lo sentimos, ha ocurrido un error, por favor recarga la página he inténtalo nuevamente');
            }
          });

      } else {
        e.target.disabled = false;
        return errorMessage(message);
      }
    });


    const select_provider = document.querySelector('#productProvider');
    const choices_provider = new Choices(select_provider, {
      'searchResultLimit': 15,
      'searchChoices': false,
      'searchFloor': 3,

    });


    var timer_provider;
    select_provider.addEventListener('search', async (e) => {
      let valor_actual = e.detail.value;
      if (product_last_val !== valor_actual) {
        product_last_val = valor_actual;
        clearTimeout(timer_provider);
        timer_provider = setTimeout(async () => {
          let data = await doSearchProvider(e.detail.value);
          choices_provider.setChoices(data, 'value', 'label', true);
        }, 500);
      }
    });

    

    const select_classification = document.querySelector('#productClassification');
    const choices_classification = new Choices(select_classification, {
      'searchResultLimit': 15,
      'searchChoices': false,
      'searchFloor': 3,
    });

    var timer_categories;
    select_classification.addEventListener('search', async (e) => {
      let valor_actual = e.detail.value;
      if (product_last_val !== valor_actual) {
        category_last_val = valor_actual;
        clearTimeout(timer_categories);
        timer_categories = setTimeout(async () => {
          let data = await doSearchCategories(e.detail.value);
          choices_classification.setChoices(data, 'value', 'label', true);
        }, 500);
      }
    });



  });
</script>

</html>