<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../Layouts/Head.ejs') %>
  <%# custom styles %>
</head>
<% options = `<a class="ml-5" href="/inventory/product/view/${product.id}">Atrás</a>`; %>

<body class="<%= darkMode %>">
  <%- include('../../Layouts/SideBar.ejs') %>
  <div id="main">
    <%- include('../../Layouts/NavBar.ejs') %>
    <div class="main-content container-fluid">

      <div class="row justify-content-center">
        <section class="section col-12" style="min-width: 1000px;">
          <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col form-group">
                      <label for="init_date">Desde la Fecha</label>
                      <input type="date" class="form-control" id="init_date">
                    </div>
                    <div class="col form-group">
                      <label for="end_date">Hasta la Fecha</label>
                      <input type="date" class="form-control" id="end_date">
                    </div>
                    <div class="col">
                      <button class="btn btn-primary mt-3" id="search_details">Cargar Movimientos</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
              <table class="table table-striped table-hover table-bordered table-sm" >
                <thead class="text-center">
                  <tr>
                    <th colspan="12">
                      TARJETA KARDEX

                    </th>
                  </tr>
                  <tr>
                    <th colspan="3">Producto:</th>
                    <th colspan="3">Desde la Fecha:</th>
                    <th colspan="3">Hasta la Fecha:</th>
                    <th colspan="3">Método:</th>
                  </tr>
                  <tr>
                    <th colspan="3"><%= product.name.toUpperCase() %> (SKU# <%= product.internal_code %> )</th>
                    <th colspan="3" id="in_date_label"></th>
                    <th colspan="3" id="out_date_label"></th>
                    <th colspan="3">Promedio Ponderado</th>
                  </tr>
                  <tr>
                    <th rowspan="2">#</th>
                    <th rowspan="2">FECHA</th>
                    <th rowspan="2">DETALLE</th>
                    <th colspan="3">ENTRADAS</th>
                    <th colspan="3">SALIDAS</th>
                    <th colspan="3">SALDOS</th>
                  </tr>
                  <tr>
                    <th>Cantidad</th>
                    <th>Valor<br> Unitario</th>
                    <th>Valor Total</th>
                    <th>Cantidad</th>
                    <th>Valor<br> Unitario</th>
                    <th>Valor Total</th>
                    <th>Cantidad</th>
                    <th>Valor<br> Unitario</th>
                    <th>Valor Total</th>
                  </tr>
                </thead>
                <tbody id="details_body">

                </tbody>
              </table>
            </div>

          </div>

        </section>
      </div>
    </div>
    <%- include('../../Layouts/Footer.ejs') %>
  </div>




</body>
<%- include('../../Layouts/Scripts.ejs') %>
<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    const get_details = async (init, end) => {
      var response = await fetch(`/inventory/product/kardex/<%= product.id %>/details?init=${init}&end=${end}`, {
        mode: 'cors',
        cache: 'no-cache',
        credentials: 'same-origin',
        headers: {
          'Content-Type': 'application/json'
        },
        redirect: 'follow',
        referrerPolicy: 'no-referrer',
      });
      return response.json();
    }

    const charge_details = async () => {
        let init = document.querySelector('#init_date').value + 'T00:00:00';
      let end = document.querySelector('#end_date').value + 'T23:59:59';

      if (init.length < 10 || end.length < 10 || end < init) {
        return errorMessage('Seleccione un rango de fechas correcto')
      }
      document.querySelector('#in_date_label').innerHTML = format_date(init, false);
      document.querySelector('#out_date_label').innerHTML = format_date(end, false);

      var tbody = document.querySelector('#details_body');
      tbody.innerHTML = "";

      let details = await get_details(init, end);
      if (details.length > 0) {
        details.forEach(a => {
          let tr = document.createElement('tr');
          tr.innerHTML = `<td>${a.number}</td>
            <td>${a.date}</td>
            <td>${a.concept}</td>
            <td>${a.in_cant}</td>
            <td>${a.in_val}</td>
            <td>${a.in_sub}</td>
            <td>${a.out_cant}</td>
            <td>${a.out_val}</td>
            <td>${a.out_sub}</td>
            <td>${a.cant}</td>
            <td>${a.val}</td>
            <td>${a.sub}</td>`;
          tbody.appendChild(tr);
        });
      } else {
        let tr = document.createElement('tr');
        tr.innerHTML = '<td colspan="12" class="text-center"> No hay Movimientos que mostrar en este rango de fechas</td>';
        tbody.appendChild(tr);

      }
    }

    //cargar los controles con la fecha actual
    let d = new Date();
    let m = d.getMonth() + 1;
    m = m > 9 ? m : '0'+m;
    let day = d.getDate();
    day = day > 9 ? day : '0'+day;

    document.getElementById('init_date').value = `${d.getFullYear()}-${m}-01`;
    document.getElementById('end_date').value = `${d.getFullYear()}-${m}-${day}`;
    charge_details();
    document.querySelector('#search_details').addEventListener('click', async (e) => {charge_details();});

  });
</script>

</html>