<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../Layouts/Head.ejs') %>
  <%# custom styles %>
</head>
<% options = `
<li class="dropdown ml-5">
	<a data-bs-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
	  Opciones
	</a>
	<div class="dropdown-menu dropdown-menu-center" style="min-width: 250px;">
	  <a class="list-group-item" href="/inventory/product/kardex/${product.id}"><i class="fas fa-clipboard-list mr-3"></i>Kardex</a>
	  <a class="list-group-item" href="/inventory/product/move/${product.id}"><i class="fas fa-list-alt mr-3"></i>Movimientos</a>`; %>
<% if (permission.includes('adjust_inventory')) { %>

<% options += `<a class="list-group-item" href="/inventory/product/in/${product.id}"><i class="fas fa-arrow-alt-from-right mr-3"></i>Ingreso Manual</a>
    <a class="list-group-item" href="/inventory/product/out/${product.id}"><i class="fas fa-arrow-alt-from-left mr-3"></i>Salida Manual</a>`; %>
<% } %>
<% options += `<div class="dropdown-divider"></div>
    <span class="list-group-item" onclick="dar_baja()"><i class="fas fa-long-arrow-down mr-3"></i>Dar de Baja</span>
    <a class="list-group-item" href="/inventory/product/edit/${product.id}"><i class="fas fa-edit mr-3"></i>Editar</a>
    <a class="list-group-item" href="javascript:history.back()"><i class="fas fa-arrow-alt-circle-left mr-3"></i>Atras</a>
    <span class="list-group-item" data-bs-toggle="modal" data-bs-target="#damagedModal"><i class="fas fa-long-arrow-down mr-3"></i>Dañados o Perdidos</span>
    </div>
    </li>
    `; %>


<body class="<%= darkMode %>">
  <%- include('../../Layouts/SideBar.ejs') %>
  <div id="main">
    <%- include('../../Layouts/NavBar.ejs') %>
    <div class="main-content container-fluid">

      <div class="row justify-content-center">
        <section class="section col-8">
          <div class="row">
            <div class="col-12 col-md-5">
              <img src="<%= product.image %>" class="shadow-4-strong" alt="<%= product.name %>" style="max-width: 100%; border-radius: 1rem;">
            </div>
            <div class="col-12 col-md-6 ml-3">
              <h2>
                <strong><%= product.name %></strong> #SKU(<%= product.internal_code %>) <button class="btn btn-soft-danger" onclick="copyNumber()"><i class="fas fa-copy"></i></button>
              </h2>
              <a href="/inventory/productClassifications/view/<%= product.classification %>" class="badge bg-green"> <%= classification.name %></a><br>
              <span style="font-size: 3em; font-weight: bold;">$<%= Helper.money_format(product.base_price) %></span> &nbsp;
              <span style="font-size: 2.2em; font-weight: bold;" class="ml-2">($<%= Helper.money_format(product.major_price) %>)</span>
              <br>
              <b>
                <% if (stock > 0) { %>
                <p style="font-size: 125%; cursor: pointer;" class="text-success" data-bs-toggle="modal" data-bs-target="#Stock_detail">En Stock (<%= stock %> Disponibles)</p>
                <% if (product.damaged > 0) { %>
                <p style="font-size: 130%;" class="text-danger"><%= product.damaged %> Unidades Dañadas o Desaparecidas</p>
                <% }

                %>

                <% } else { %>
                <p style="font-size: 125%;" class="text-danger">No hay Existencias disponibles</p>

                <% } %>
              </b>
              <br>
              <p>
                <%= product.description %>
              </p>

              <table class="table table-sm table-borderless mt-5" style="max-width: 400px;">
                <tr>
                  <td>Mostrar en la Web</td>
                  <td>
                    <div class="form-check form-switch col-2">
                      <input class="form-check-input fs-3 text" type="checkbox" onclick="web_access()" <%= product.in_web? 'checked="checked"': '' %>>
                    </div>
                  </td>
                </tr>

                <% if (user.sucursal == 1) { %>

                <tr>
                  <td>Consultar ultima ubicación </td>
                  <td>
                    <a class="badge bg-warning mt-1" href="/inventory/product/recount/12/<%= product.id %>" target="_blank"> Ultima Ubicación</a><br>
                  </td>
                </tr>
                <% } %>

              </table>
            </div>
          </div>
        </section>

        <div class="row">
          <div class="col-12 mt-5">

            <div class="">
              <ul class="nav nav-underline flex-nowrap mb-3 pb-1" id="myTab" role="tablist">
                <li class="nav-item me-3" role="presentation">
                  <a class="nav-link text-nowrap active" id="orders-tab" data-bs-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="true">
                    <i class="far fa-adjust"></i>Reservas
                  </a>
                </li>
                <li class="nav-item me-3" role="presentation">
                  <a class="nav-link text-nowrap" id="reviews-tab" data-bs-toggle="tab" href="#tab-reviews" role="tab" aria-controls="tab-orders" aria-selected="false" tabindex="-1">
                    <i class="far fa-adjust"></i>Existencias
                  </a>
                </li>

                <li class="nav-item me-3" role="presentation">
                  <a class="nav-link text-nowrap" id="reviews-tab" data-bs-toggle="tab" href="#tab-catalogs" role="tab" aria-controls="tab-orders" aria-selected="false" tabindex="-1">
                    <i class="fas fa-book-spells"></i>Catalogos
                  </a>
                </li>

              </ul>

              <div class="tab-content" id="profileTabContent">
                <div class="tab-pane fade active show" id="tab-orders" role="tabpanel" aria-labelledby="orders-tab">
                  <h4 class="text-center mt-5 mb-5">Lista de Reservas de este producto</h4>

                  <div class="table-responsive">
                    <table class="table table-sm table-hover table borderless">
                      <thead>
                        <tr>
                          <th>id</th>
                          <th>Nombre del Cliente/Objetivo de la reserva</th>
                          <th>Estado de preparacion/Unidades</th>
                          <th>Venta/Requisición</th>
                          <th>Reservado por</th>
                          <th>options</th>
                        </tr>
                      </thead>

                      <tbody>
                        <% 
                                    let a = 0;
                                    in_reserve.forEach(ele => {
                                       a++;
                                       %>

                        <tr>
                          <td class="text-danger"><%= a %></td>
                          <td>
                            <%= ele.client_name %>
                          </td>
                          <td>
                            <%= ele.cant %> Unidades Vendidas / <%= ele.reserved %> Unidades Reservadas / <%= ele.ready %> Unidades Preparadas
                          </td>
                          <td> Venta <%= ele.sale_id %> (Detalle: <%= ele.id %>)</td>
                          <td><%= ele.reserve.createdBy %></td>

                          <td>
                            <a href="/sales/view/<%= ele.sale_id %>" class="badge bg-success">Ver Venta</a>
                            <a href="/sales/client/view/<%= ele.client_id %>" class="badge bg-blue">Ver cliente</a>
                          </td>
                        </tr>
                        <% }) %>


                        <% transfers.forEach(ele => { %>

                        <tr>
                          <td>--</td>
                          <td>
                            Solicitud de Transferencia entre Sucursales
                          </td>
                          <td>
                            <%= ele.cant %> Unidades Solicitadas
                          </td>
                          <td> Solicitud ID <%= ele.requisition %></td>
                          <td> ID <%= ele.createdBy %></td>
                          <td>
                            <a href="/inventory/requisition/<%= ele.requisition %>" class="badge bg-purple">=> Solicitud</a>
                          </td>
                        </tr>
                        <% }) %>


                        <% if (in_transit.length > 0 ) { %>
                        <% in_transit.forEach(ele => { %>
                        <% if (ele.sale_detail !== null && ele.sale_detail.length > 0) { %>
                        <% ele.sale_detail.forEach(element => { %>
                        <tr>
                          <td>--</td>
                          <td>
                            <%= clients_in_transit[element.id].name %> <br>
                          </td>
                          <td>
                            <%= element.cant %> Unidades Solicitadas
                          </td>
                          <td> Envio <%= ele.shipment %></td>
                          <td>
                            <%= element.by %>
                          </td>
                          <td>
                            <a href="/inventory/shipment/<%= ele.shipment %>" class="badge bg-purple"> Ver Envio</a>
                            <a href="/sales/view/<%= clients_in_transit[element.id].sale %>" class="badge bg-success">Ver Venta</a>
                            <a href="/sales/client/view/<%= clients_in_transit[element.id].client %>" class="badge bg-blue">Ver Cliente</a>
                          </td>
                        </tr>

                        <% }) %>
                        <% } else { %>
                        <tr>
                          <td>--</td>
                          <td>
                            Producto en Transito
                          </td>
                          <td>
                            <%= ele.cant %> Unidades Solicitadas
                          </td>
                          <td> Envio <%= ele.shipment %></td>
                          <td> --</td>
                          <td>
                            <a href="/inventory/shipment/<%= ele.shipment %>" class="badge bg-purple"> Ver Envio</a>
                          </td>
                        </tr>
                        <% } %>
                        <% }) %>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="tab-pane fade" id="tab-reviews" role="tabpanel" aria-labelledby="reviews-tab">
                  <h4 class="text-center mt-5 mb-5">Detalle de las existencias</h4>

                  <table class="table table-sm table-bordered">
                    <thead>
                      <tr>
                        <th>Sucursal</th>
                        <th>Existencias</th>
                        <th>Reservado</th>
                        <th>Disponible</th>
                        <th>Opciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% almacen.forEach(element => { 
                      console.log(element)  
                      %>
                      <tr>
                        <td><%= element.name %></td>
                        <td class="text-center"><%= element.cant %></td>
                        <td class="text-center"><%= element.reserved %></td>
                        <td class="text-center"><b><%= (element.cant - element.reserved) %></b></td>
                        <td class="text-center">
                          <span class="badge bg-green" onclick="viewStockLocations('<%= element.id %>', '<%= element.name %>')" data-bs-target="#stockLocationsModal" data-bs-toggle="modal">Ver Ubicaciones</span>
                        </td>
                      </tr>
                      <% })%>
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane fade" id="tab-catalogs" role="tabpanel" aria-labelledby="wishlist-tab">
                  <table class="table table-hover" style="max-width: 400px;">

                    <% catalogs.forEach(cat => { %>
                    <tr>
                      <td colspan="2"><a href="/web/catalog/<%= cat.id %>"><%= cat.name %></a></td>
                    </tr>
                    <% }) %>
                  </table>

                </div>

              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
    <%- include('../../Layouts/Footer.ejs') %>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="Stock_detail" tabindex="-1" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Detalle de Existencias (SKU: <%= product.internal_code%>)</h5>
        </div>
        <div class="modal-body">
          <table class="table table-sm table-bordered">
            <thead>
              <tr>
                <th>Sucursal</th>
                <th>Existencias</th>
                <th>Reservado</th>
                <th>Disponible</th>
              </tr>
            </thead>
            <tbody>
              <% almacen.forEach(element => { %>
              <tr>
                <td><%= element.name %></td>
                <td class="text-center"><%= element.cant %></td>
                <td class="text-center"><%= element.reserved %></td>
                <td class="text-center"><b><%= (element.cant - element.reserved) %></b></td>
              </tr>
              <% })%>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cerrar</button>
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade" id="damagedModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Escriba la Cantidad de Producto dañado o desaparecido</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="InputDamaged">Cantidad</label>
            <input class="form-control" type="number" min="0" step="1" value="<%= product.damaged %>" id="InputDamaged">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button class="btn btn-primary" onclick="damaged()">Guardar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="stockLocationsModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Ubicaciones del Producto <span id="locationSucursal"></span></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-8 form-group">
              <label for="newLocation">¿Cuál es la Ubicación?</label>
              <input type="text" class="form-control" id="newLocation">
            </div>
            <div class="col-4">
              <span onclick="saveNewLocation()" class="badge bg-purple mt-3">Agregar</span>
            </div>
          </div>

        </div>

        <div class="modal-body">
          <table class="table table-sm table-hover table-bordered">
            <thead>
              <tr>
                <th>Ubicacion</th>
                <th>Agregado por</th>
                <th>Fecha</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody id="locationsTable">

            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>


</body>
<%- include('../../Layouts/Scripts.ejs') %>
<script>
  const viewStockLocations = (sucursal, sucursalName) => {

    document.getElementById('locationSucursal').innerHTML = sucursalName;
    document.getElementById('locationsTable').innerHTML = '';

    fetch(`/inventory/product/locations?product=<%=product.id%>&sucursal=${sucursal}`).then(data => data.json()).then(response => {
      if (response.status == 'error') {
        return errorMessage(response.message);
      } else if (response.status == 'success') {
        response.data.forEach(location => {
          let tr = document.createElement('tr');
          tr.id = `location_${location.id}`;
          tr.innerHTML = `
            <td>${location.location}</td>
            <td>${location.createdBy}</td>
            <td>${format_date(location.createdAt)}</td>
            <td><span class="badge bg-danger" onclick="deleteLocation(${location.id})">Quitar</span></td>
          `;
          document.getElementById('locationsTable').appendChild(tr);
        });

        console.log(response.data);

      }
    }).catch(response => console.log(response));
  }

  const saveNewLocation = () => {
    let location = document.querySelector("#newLocation").value;
    if (location == "") {
      return errorMessage('Escriba una ubicación');
    }
    postData('/inventory/product/locations', {
      product: '<%= product.id %>',
      location
    }).then(data => {
      if (data.status == 'success') {
        let tr = document.createElement('tr');
        let location = data.data;
        tr.id = `location_${location.id}`;
        tr.innerHTML = `
            <td>${location.location}</td>
            <td>${location.createdBy}</td>
            <td>${format_date(location.createdAt)}</td>
            <td><span class="badge bg-danger" onclick="deleteLocation(${location.id})">Quitar</span></td>
          `;
        document.getElementById('locationsTable').appendChild(tr);

      } else if (data.status == 'errorMessage') {
        e.target.disabled = false;
        return errorMessage(data.message);
      } else {
        errorMessage(data.message);
        return errorMessage('Lo sentimos, ha ocurrido un error, por favor recarga la página he inténtalo nuevamente');
      }
    });

  }

  const deleteLocation = (id) => {
    postData('/inventory/product/locations', {
      id
    }, 'PUT').then(data => {
      if (data.status == 'success') {
        document.getElementById('locationsTable').removeChild(document.getElementById(`location_${data.data}`));
        return successMessage('Eliminado');

      } else if (data.status == 'errorMessage') {
        e.target.disabled = false;
        return errorMessage(data.message);
      } else {
        errorMessage(data.message);
        return errorMessage('Lo sentimos, ha ocurrido un error, por favor recarga la página he inténtalo nuevamente');
      }
    });
  }

  const copyNumber = () => {
    copiarAlPortapapeles('<%= product.internal_code %>');
    successMessage('Copiado');
  }

  const dar_baja = () => {
    fetch('/inventory/product/archive/<%=product.id%>').then(data => data.json()).then(response => {
      if (response.status == 'error') {
        return errorMessage(response.message);
      } else if (response.status == 'success') {
        successMessage(response.message);
        setTimeout(() => {
          window.location.href = '/inventory/product'
        }, 2000);
      }
    }).catch(response => console.log(response));
  }


  const web_access = () => {
    fetch('/inventory/product/updateProductforWeb/<%= product.id %>').then(data => data.json()).then(response => {
      if (response.status == 'error') {
        return errorMessage(response.message);
      } else if (response.status == 'success') {
        successMessage('Actualizado');
        setTimeout(() => {
          window.location.reload();
        }, 2000);
      }
    }).catch(response => console.log(response));
  }


  const damaged = () => {
    let cant = document.querySelector("#InputDamaged").value;
    if (cant == "") {
      return errorMessage('Escriba una cantidad');
    }
    postData('/inventory/product/updateDamaged', {
      product: '<%= product.id %>',
      cant
    }).then(data => {
      if (data.status == 'success') {
        successMessage('Guardado con Exito, redirigiendo');
        setTimeout(() => {
          window.location.reload();
        }, 1500);

      } else if (data.status == 'errorMessage') {
        e.target.disabled = false;
        return errorMessage(data.message);
      } else {
        errorMessage(data.message);
        return errorMessage('Lo sentimos, ha ocurrido un error, por favor recarga la página he inténtalo nuevamente');
      }
    });



  }
</script>

</html>