<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../Layouts/Head.ejs') %>
  <style>
    .product_item .card,
    .product_item img {
      border-radius: 1.5em !important;
    }

    .product_item {
      font-size: 110%;
      min-height: 150px;
    }

    .product_item img {
      border-radius: 1.5em !important;
    }

    .product_item .product_name {
      margin-top: 15px;
    }

    .product_item .product_price {
      color: #d82e04;
      font-size: 150%;
    }

    .product_item .product_stock {
      cursor: pointer;
      color: #0d703e;
    }

    body.dark .product_item .product_stock {
      color: #39da8a;
    }
  </style>
</head>
<% options = `<a class="ml-5" href="/web/catalog/${catalog.id}" style="width: 150px;"><i class="fas fa-arrow-alt-circle-left mr-3"></i>Atrás</a>`; %>

<body class="<%= darkMode %>">
  <%- include('../../Layouts/SideBar.ejs') %>
  <div id="main">
    <%- include('../../Layouts/NavBar.ejs') %>
    <div class="main-content container-fluid">

      <div class="row justify-content-center">

        <div class="col-12">
          <div class="row justify-content-center">

            <div class="col-8 col-md-6">
              <div class="form-group">
                <label for="searchBox">Terminos de busqueda</label>
                <input type="text" class="form-control" name="searchBox" id="searchBox">
                <small>Write the SKU or Name to search</small>
              </div>
            </div>

            <div class="row" id="product_div" class="mb-5"></div>
          </div>

        </div>
      </div>
    </div>

    <!-- modales -->

    <div class="modal fade" id="showImage" tabindex="-1" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-centered" role="document">
        <div class="modal-content">
          <img src="" alt="galery_image" id="galery_image">

        </div>
      </div>
    </div>

    <%- include('../../Layouts/Footer.ejs') %>
  </div>
</body>
<%- include('../../Layouts/Scripts.ejs') %>
<script>
  //obtener las sucursales
  var sucursal = {},
    query_offset = 0,
    query_limit = Number.parseInt('<%= limit %>'),
    search_last_val = "",
    last_query = '',
    more = true,
    last_product,
    details = [],
    showImageModal = new bootstrap.Modal(document.getElementById('showImage'), {});

  var product_added = {};
  const show_image = src => {
    document.getElementById('galery_image').src = src;
    showImageModal.toggle();
  };



  const observer = new IntersectionObserver((observed, observer) => {
    observed.forEach((entry => {
      if (entry.isIntersecting) {
        getproducts(false);
      }
    }));
  }, {
    rootMargin: '0px 0px 0px 0px',
    threshold: 1.0,
  });




  const getproducts = async (reset = false) => {
    let parent = document.querySelector('#product_div');
    if (reset) {
      more = true;
      query_offset = 0;
    } else if (more == false) {
      return false;
    }
    //Construir la Url
    //Verificar si hay terminos de busqueda
    let query = search_last_val.length > 2 ?
      `/inventory/product/stock?search=${encodeURIComponent(search_last_val)}&offset=${query_offset}` :
      `/inventory/product/stock?offset=${query_offset}`;

    if (last_query == query) {
      return false;
    } else {
      if (reset) {
        parent.innerHTML = '';
      }
      last_query = query;
    }

    last_div = ''

    let data = await fetch(query, {
        mode: 'cors',
        cache: 'no-cache',
        credentials: 'same-origin',
        headers: {
          'Content-Type': 'application/json'
        },
        redirect: 'follow',
        referrerPolicy: 'no-referrer',
      })
      .then(response => response.json())
      .then(data => {
        let len = data.length;
        if (len > 0) {
          data.forEach(element => {

            let div = document.createElement('div');
            div.classList.add('col-12', 'col-md-6', 'col-xl-3', 'product_item');
            div.id = `intersect_${element.id}`;


            last_div = `#intersect_${element.id}`;
            div.innerHTML = `<div class="card">
            <div class="card-body text-center">
              <img src="${element.image}" alt="Image" class="product_image" style="width: 100%; " onclick="show_image(this.src)"><br>
              <span class="product_name" style="cursor:pointer;">${element.name} </span> <br> <span style="cursor:pointer">#SKU ${element.sku}</span><br>
              <label class="mt-4">Mayoreo:</label>
              <span class="product_price" id="prodcut_${element.id}_price" data-price="${element.major}">$${element.major}</span>
              <label>Oferta:<input type="number" step="0.01" value="${element.major}" class="form-control"  id="prodcut_${element.id}_discount_price"></label>
              
              <button class="mt-2 btn btn-success round" onclick="add_product_to_list(${element.id}, '${element.name}','${element.image}')">Agregar</button>
            </div>
          </div>`;
            parent.appendChild(div);
          });
        }

        query_offset += len;

        if (last_product !== undefined) {
          observer.unobserve(last_product);
        }

        if (len < query_limit) {
          let div = document.createElement('div');
          div.classList.add('col-12');
          div.innerHTML = `<h4 class="text-center"> < < Fin de la lista > ></h4>`;
          parent.appendChild(div);
          more = false;
        } else {

          last_product = document.querySelector(last_div);
          observer.observe(last_product);
        }
      });
  }

  const add_product_to_list = (id, name, image) => {
    let div = null;
    let discount_price = document.querySelector(`#prodcut_${id}_discount_price`).value;

    if (!details.includes(id)) {

      details.push(id);
      postData('/web/catalog', {
        product: id,
        discount_price,
        catalog: '<%= catalog.id %>',
        case: 'add'
      }, 'PUT').then(data => {

        if (data.status == 'success') {
          createToast('success', 'Agregado', 'es-MX');
        } else if (data.status == 'exist') {
          createToast('success', 'Ya estaba Agregado', 'es-MX');

        } else if (data.status == 'errorMessage') {
          return errorMessage(data.message);

        } else {
          return errorMessage('Lo sentimos, ha ocurrido un error, por favor recarga la página he inténtalo nuevamente');
        }
      });
    } else {
      return infoMessage('Ya agregado!');
    }
  };


  




  document.addEventListener("DOMContentLoaded", (event) => {
    getproducts();
    var timer_search;
    document.querySelector('#searchBox').addEventListener('input', async (e) => {
      let val = e.target.value;
      if (search_last_val !== val) {
        search_last_val = val;
        clearTimeout(timer_search);
        timer_search = setTimeout(async () => {
          getproducts(true);
        }, 500);
      }

    });


  });
</script>

</html>