<!DOCTYPE html>
<html lang="es">

<head>
   <%- include('../Layouts/Head.ejs') %>

</head>

<body class="<%= darkMode %>">
   <%- include('../Layouts/SideBar.ejs') %>
   <div id="main">
      <%- include('../Layouts/NavBar.ejs') %>
      <div class="main-content container-fluid">
         <div class="row justify-content-center">
            <section class="section col-12" style="min-width: 1000px;">
               

            </section>
         </div>

      </div>

      <%- include('../Layouts/Footer.ejs') %>
   </div>
</body>

<%- include('../Layouts/Scripts.ejs') %>
<script>
   

   


   document.addEventListener("DOMContentLoaded", (event) => {
      

   });
</script>

</html>