<!DOCTYPE html>
<html lang="es">

<head>
   <%- include('../../Layouts/Head.ejs') %>
</head>

<% options = `<a class="ml-5 back_link" href="/hrm">Atrás</a>`; %>

<body class="<%= darkMode %>">
   <%- include('../../Layouts/SideBar.ejs') %>
   <div id="main">
      <%- include('../../Layouts/NavBar.ejs') %>
      <div class="main-content container-fluid">
         <div class="page-title">
            <h3><%= pageTitle %> <a href="/hrm" class="badge bg-success mb-5">Nuevo</a> </h3>
         </div>
         <div class="card">
            <div class="card-body table-responsive">
               <table class="table table-sm table-bordered table-hover table-stripped">
                  <thead>
                     <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>E-mail</th>
                        <th>Telefono</th>
                        <th>Opciones</th>
                     </tr>
                  </thead>
                  <tbody>
                     <% employees.forEach(element => { %>

                     <tr>
                        <td><%= element.id %></td>
                        <td><%= element.name %></td>
                        <td><%= element.email %></td>
                        <td><%= element.phone %></td>
                        <td><a class="badge bg-purple round" style="cursor:pointer" href="/hrm/employee/<%= element.id %>">Ver Expediente</a></td>
                     </tr>
                     <% }) %>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
      <%- include('../../Layouts/Footer.ejs') %>
   </div>
</body>
<%- include('../../Layouts/Scripts.ejs') %>
<script>

</script>

</html>